[2016-09-13 21:05] #2370 closed, assigned to nobody

[2016-09-13 21:15] kadamwhite commented on #2657
From @rmccue,

`*`: the decision to return null if a field has no value

From the perspective of a typed system, this perspective does make sense; having fields sometimes exist and sometimes not does incur more overhead. Marking this as something to decide as a group on Monday. (Discussed with @brianloveswords as well, who provided input from working with APIs in Rust and Java)

[2016-09-13 21:16] kadamwhite commented on #2657
Relevant Slack discussion: https://wordpress.slack.com/archives/core-restapi/p1473800823001158

[2016-09-13 22:58] kadamwhite commented on #2657
The decision on this issue (see Slack link above) is that the philosophy of this library is to always return an object with consistent keys; if a key's value is unknown, `null` should be sent instead. `null` means "we know and understand this field, and it lacks a value". This is motivated by this project's core value of consistency (in this case consistency of keys that can be expected to be pres

[2016-09-13 22:58] #2657 closed, assigned to nobody

[2016-09-13 23:04] kadamwhite opened #2696 "API should send and accept `null` for undefined values"
See #2657 for the decision on `null` handling: `null` should be sent by the API whenever a value is unknown or not yet set.

A prime example of this is `post_date_gmt`, as described in #2303, which will be `0000-00-00 00:00:00` (an invalid date) for posts newly created via WP-Admin or via this API: if this value is sent to a client literally the API is providing an invalid value. `null` should be

[2016-09-14 03:16] westonruter commented on #2695
Customizer now supports returning `WP_Error` from `sanitize` callbacks, allowing the logic to be combined. There is also a dedicated `validate` callback as well, however, which is called first. We also added a `validate` callback for parity with REST API but also because it aided in backwards-compatibility. If this returns `WP_Error` then the `sanitize` callback is never called. By allowing `sanit

[2016-09-14 13:25] kadamwhite commented on #2661
Re-opening provisionally as it sounds like the reason it was closed does not match the reason it was opened; ping @rmccue

[2016-09-14 14:04] rmccue commented on #2661
Ah, my apologies, I missed that this was a GET request. The same issue will already occur with other parts of core that send this header (admin-ajax, admin-post, customiser), so it's a bit of a wider WP issue than just an API issue. The function in core that sends these other ones is `send_origin_headers()`, the API-specific one is `rest_send_cors_headers()`.

I'd suggest filing an issue on [Trac]

[2016-09-14 15:21] rmccue commented on #2695
Core ticket to allow the sanitise callback to return an error: https://core.trac.wordpress.org/ticket/37560

[2016-09-14 15:31] rmccue commented on #2695
With error support for `sanitize`, it's likely easier to just combine the whole thing into one callback instead. This also allows n validation steps and m sanitisation steps in _any_ order.

If you have both `validate` and `sanitize`, it's unclear which will be run first unless you've looked at the source to work out the order, _and_ we changed the order in core (which still seems like a bad idea

[2016-09-14 15:44] rmccue commented on #2559
This is a duplicate of https://core.trac.wordpress.org/ticket/37182

[2016-09-14 15:44] #2559 closed, assigned to nobody

[2016-09-14 16:04] TheDiamondYT1 commented on #1509
You need permalinks enabled

[2016-09-14 16:09] kadamwhite commented on #2145
Re-purposing this issue to serve as a general TODO list for taxonomy handling, because the current interface is inconsistent at best and unworkable in many situations.

I took a crack at coming up with some stories for taxonomy querying in general: **As an API consumer, I...**
- Should be able to request records that are associated with a specific taxonomy term
- Should be able to request records

[2016-09-14 16:10] kadamwhite commented on #2145
I also believe we should strive for consistency and make this apply to CPTs and any resource for which a taxonomy is registered, not just posts.

[2016-09-14 16:12] kadamwhite commented on #2145
An assumption of the above list is that the interface would look the same or similar regardless of the taxonomy. So these would satisfy:

[code]

but these would not:

[code]

[2016-09-14 17:31] matt-bernhardt opened #2698 "API doesn't respond after upgrading from V1 to V2"
I just tried disabling/removing the v1 plugin, and enabling the v2 plugin, on a development site (a network install). After completing the upgrade, there is no API responding at the path `/wp-json/wp/v2`

This is the context:
- Wordpress 4.4.2 (multi-site network, directory setup - so `example.org/`, `example.org/site1/` etc)
- Version 2.0-beta13.1 of the WP REST API, enabled at the network level

[2016-09-14 18:24] matt-bernhardt commented on #2698
I'm not sure whether this helps, but I've managed to reproduce this error on two consecutive builds of a site on localhost. The first was done as a network, with the referenced plugins enabled. The second was a single site (no network), with just the API plugins added.

Steps to reproduce:
1. Install Wordpress (4.4.2 in my case)
2. Install v1 plugin `json-rest-api`, version 1.2.5
3. Visit `/wp-jso

[2016-09-14 18:25] rmccue commented on #2698
You may have to flush the rewrite rules; head to Options > Permalinks to flush them (you don't need to save, just visit the page). See if that helps?

[2016-09-14 18:30] matt-bernhardt commented on #2698
Yep - that seems to have allowed the v2 plugin to function. Thanks!

[2016-09-14 18:30] #2698 closed, assigned to nobody

[2016-09-14 19:26] rmccue opened #2701 "Add support for password-protected posts"
Previously: #1055.

We need to re-add support for password-protected posts in a nice, sane way. I've created [a core ticket](https://core.trac.wordpress.org/ticket/38056) to do step 1 of this: allow us to control authentication.
## Step 2: Work out how to handle passing the passwords.

We still need to work out how to actually pass the passwords in. There are basically three options:
### Cookies

[2016-09-14 21:07] kadamwhite commented on #2661
@pdufour @rmccue Sounds like once a trac ticket is opened we can close this one out

[2016-09-14 21:16] pdufour commented on #2661
Opened https://core.trac.wordpress.org/ticket/38060#ticket. FYI I think it's not as much an issue with the endpoints you listed because typically with something like Varnish will not cache any wp-admin requests or any requests for logged in WP users.

But agree it'd be a good thing to handle it for all CORS requests rather than just the API requests.

[2016-09-15 02:17] BE-Webdesign commented on #2695
I am +1 on just having a `validate_callback`, but can understand people wanting two callbacks for semantic reasons.

[2016-09-15 14:14] kadamwhite commented on #2560
If https://core.trac.wordpress.org/ticket/37179 captures this I'm going to close this one out, since I think the implementation of this would need to be on the infra side, not the plugin side.

[2016-09-15 14:14] #2560 closed, assigned to nobody

[2016-09-15 14:21] kadamwhite commented on #2661
Closing as superseded by the Trac ticket; thanks for opening that @pdufour !

[2016-09-15 14:21] #2661 closed, assigned to nobody

[2016-09-15 14:35] kadamwhite commented on #2673
cross-linking to WP-API/wp-api-site-endpoints#13 I believe @joehoyle is leading the charge here

[2016-09-15 14:38] rafaelcneves opened #2703 "Can I get the created `post_tag` on the create endpoint?"
I'm working on a project that manage wordpress blogs.
And now I'm creating tags from my app, and I need to persist this tag on my app.
But when I create a tag using wp-api, i don't get anything from created tag.
Can I return entire tag on the create response? Or simply get a clean information from created tag?

Thanks

[2016-09-15 14:39] BE-Webdesign commented on #2558
When we have support for batch queries we can add in a conditional to prevent the "caching" of the schema property.  On batch queries you will hit the same controller object and may need a different schema depending on the request you will be returned the wrong request. Depending on the order of calls in the batch query it could leak private information that shouldn't be leaked.  I propose using a

[2016-09-15 14:54] krogsgard commented on #1987
If you have a featured image on a public post, but the featured image was previously (or is simultaneously) used on a private post, then I believe that's a bug in the interface of WordPress itself, with the limitation of singular attachment relationships. The person making the decision to put the image on the public post did so purposefully, and when that public post is queried, we should make the

[2016-09-15 15:01] kadamwhite commented on #2050
This seems fairly straightforward to fix, removing "Discussion" label. @adamsilverstein has volunteered to take a crack at this.

[2016-09-15 15:06] kadamwhite commented on #1987
Per discussion with @rmccue & @aaroncampbell in [weekly bug triage Sep. 15](https://wordpress.slack.com/archives/core-restapi/p1473950298001563), there is no good solution to this based on the current state of affairs in core. If WordPress made an image parent-less when it was assigned to a post other than that to which it was uploaded (with parent-less being a proxy for public, in our case) this

[2016-09-15 15:09] kadamwhite commented on #2210
bug triage slack discussion: https://wordpress.slack.com/archives/core-restapi/p1473951755001631

[2016-09-15 16:08] krogsgard commented on #2210
This is causing a discussion of sticky posts more generally and how they should be treated by the API. Looks like @joehoyle is making a separate, now unrelated ticket, to be able to flag `sticky=true` to get _just_ sticky posts, and there are additional comments in the discussion linked above about how we should handle sticky posts in regular queries.

[2016-09-15 17:33] 27pchrisl commented on #2582
Sure, you can reproduce the issue by creating a post and adding it to some categories, then adding the filter below:

Normally when you hit /wp-json/wp/v2/posts/1 you'll get (as part of the response) "categories":[2,3,4,1]

If I include this filter in the process to delete one of the terms:

[code]

this is now the response: "categories":{"0":2,"2":4,"3":1} because of the internal way PHP is keyin

[2016-09-15 17:38] joehoyle opened #2705 "/wp/v2/posts?sticky=true should show only sticky posts"
Currently you can't query for just sticky (or just not sticky) posts, this shouldn't be too difficult to add.

[2016-09-15 18:34] #2517 closed, assigned to nobody

[2016-09-15 19:49] BE-Webdesign commented on #2582
@27pchrisl,

Thank you for the response, this will be fixed at somepoint soonish.

[2016-09-15 21:16] BE-Webdesign commented on #2703
Hi @rafaelcneves,

Thank you for using the WP REST API.  To clarify by tag you mean you are creating a new term for the `post_tag` taxonomy?

I am assuming that is what you mean, if not please let me know.  When you do a `POST` request to create a tag, you should be returned the new tag as a response object, so something is potentially going wrong.  Please post an example request and response for

[2016-09-16 06:54] msankar1991 commented on #1362
@wesleyxiao , Did you got solution for above problem for filter with multiple taxonomies. Could please post the solution for this problem it will helpful to me also.

I'm having issue with /posts/?lang=en&filter[taxonomy]=property_category&filter[term]=houses&filter[taxonomy]=property_type_category&filter[term]=for-sale

[2016-09-16 12:47] rafaelcneves commented on #2703
Yes, it's about `post_tag`.
It's weird because I got `null` on the body of response, and it occurs with all `POST` create methods.
Here is the Guzzle debug log:

[code]

[2016-09-16 15:24] RomainGaillard opened #2706 "Get last post after modified"
Hello,

I want get a last post after modified.
I test multiple url, but not work:  =/

`/wp-json/wp/v2/posts?filter[modified_gmt][after]="2016-09-16T14:36:58"
`

Please can you give me a solution ?
I not use PHP, so, this solution:

`
$args = array(
    'date_query' => array(
        array(
            'column' => 'post_modified_gmt',
            'after'  => '1 month ago',
        ),
    )
);
$que

[2016-09-16 17:20] adamsilverstein commented on #2050
@JakePT

Thanks for the bug report. I looked into this and have some follow up questions for you...

I reviewed the capability checks for updating content in both core and the REST API and they seem consistent.  When you try to edit a post that isn't your own, the API checks for `edit_others_posts` https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-posts-controller.php#L385

[2016-09-17 04:13] Critter opened #2707 "Comments created via the API do not trigger 'comment_post' trigger"
Is there another action I can hook to catch when a comment is posted via the api or do I need to roll out my own with a custom endpoint?

[2016-09-17 08:59] websupporter commented on #2707
Right now, `wp_insert_comment()` is used instead of `wp_new_comment()`. But you could use the action hook `rest_insert_comment`:

[code]

[2016-09-17 14:19] BE-Webdesign commented on #2670
This was added in #2693.

[2016-09-17 14:19] #2670 closed, assigned to nobody

[2016-09-17 14:27] #2616 closed, assigned to nobody

[2016-09-17 15:35] BE-Webdesign commented on #2633
Added in #2704.

[2016-09-17 15:35] #2633 closed, assigned to nobody

[2016-09-18 22:04] kosso commented on #2675
I'm also interested in when v2 might hit a 'release'.

I have a product ready and working for months. But I can't/daren't release it until this happens.

[2016-09-18 23:16] 1geeky opened #2709 "Keep user's privileges on accessing contents in JSON response"
Hello,

What Access manager plugin keeps the privileges on REST API responses?

I want restrict access to certain posts, categories etc for a particular role, So when the user of that role authenticates via HTTP request, could not access to that post.

Thanks

[2016-09-19 03:57] AramZS opened #2710 "If taxonomy is registered with a non-standard rest_controller_class the API response on posts is incorrect"
My current implementation of the API attempts to minimize code reuse by extending existing controllers.

My Terms controller for the custom name-spaced endpoint looks like this:

[code]

It's then registered like so:

[code]

But the API term response on a post object will look like:

[code]

As you can see, it is using the wrong namespace in this situation. Is there an existing solution to this o

[2016-09-19 11:15] xpluscal commented on #446
Any news on this topic?

[2016-09-19 12:27] nerrad commented on #2710
It looks like the `wp/v2` namespace is hardcoded in `WP_REST_Posts_Controller::prepare_item_for_response`:

[code]

I'm not sure what the best solution would be for this, but it seems either:
1. This method should grab whatever rest controller is registered for the taxonomy and use that to derive the namespace OR
2. add a `rest_namespace` arg to the `register_taxonomy` api and check for that.

[2016-09-19 13:39] reekrd opened #2711 "Steps to take after a clone / fork"
Could someone give me an intro on what steps to take once after cloning or forking the project?
What is the process to make a build that is the actual wp plugin?

This I've done:
npm install -g grunt-cli
npm install
composer install

But not sure where to go from here.

Thanks
.r

[2016-09-19 14:26] kadamwhite commented on #2711
@reekrd for development you can run the plugin in-situ with just the steps you described above; I just clone the repository to my `wp-content` directory, take the steps you described and things work as expected. I will follow up with @rmccue & others around what steps are taken to transform the repository into the form shown in the plugin directory, but what you see here should be all you need, un

[2016-09-19 14:29] kadamwhite commented on #2695
Remaining TODO for this item is to change our code to combine these callbacks wherever they occur in a pair

[2016-09-19 15:33] kadamwhite commented on #2145
cross-link to #2273

[2016-09-19 17:37] beatelite opened #2712 "Slug is returning empty string response when post is in draft status"
I am creating posts with title only. Then, I edit them and pass the `?context=edit` param to the post/id endpoint. When I view the post in the wp-admin, I see the slug. When I view the response from wp-api, i see "".

When I try to update the slug, I then get: "Invalid parameter(s): date_gmt (The date you provided is invalid.)"

 I am authenticated via cookie.
What am I missing?

[2016-09-19 18:15] beatelite commented on #2712
It looks like it could be related to https://github.com/WP-API/WP-API/pull/2303

That the case or am I missing something?

[2016-09-19 18:49] beatelite opened #2713 "PUT to page title receives message: "Invalid parameter(s): template (template is not one of tpl-no-header-footer.php, tpl-sidebar.php)""
When I put to a page title, I get a really weird: "Invalid parameter(s): template (template is not one of tpl-no-header-footer.php, tpl-sidebar.php)"

I just updated from beta11 to the latest master ( 13 I think it is now). It worked in 11.

When I update titles for posts or any CPT, they all work. Pages are the only issue.

I have searched but can't seem to find anything on this. Any ideas?

[2016-09-19 18:53] joehoyle commented on #2712
So, for the slug, WordPress does not give a slug to posts before they have been published. The "slug" you are seeing in the admin is a optimistically rendered one for display purposes only, it's not the actual slug of the post yet at that point.

For the date, yes that is covered by https://github.com/WP-API/WP-API/pull/2303, so I'm going to close this out in favor of https://github.com/WP-API/WP-

[2016-09-19 18:53] #2712 closed, assigned to nobody

[2016-09-19 20:10] AramZS commented on #2710
@nerrad Yeah, the issue is that a Post object may live under one controller and a Term attached to it may live in another controller. It seems to me that we could add a namespace arg, but the best solution would be to check the controller's namespace.

I'm concerned about performance issues though, because to get the namespace for the response would require initiating the controller a 2nd time (on

[2016-09-19 22:14] rmccue commented on #2706
Try `?filter[date_query][0][column]=modified_gmt&filter[date_query][0][after]=2016-09-16T14:36:58` instead.

[2016-09-19 22:14] #2706 closed, assigned to nobody

[2016-09-19 22:14] rmccue commented on #2711
Take a look at the [release.sh](https://github.com/WP-API/WP-API/blob/develop/bin/release.sh) script to see how the plugin is transformed into the version on the plugin repository. :)

[2016-09-19 22:14] #2711 closed, assigned to nobody

[2016-09-19 22:19] rmccue commented on #2703
Something appears to be wrong on the Guzzle side; note that the returned `Content-Length` header here is 972 bytes, which indicates the server is actually sending a response back.

[2016-09-19 22:19] #2703 closed, assigned to nobody

[2016-09-19 22:20] rmccue commented on #2680
Closing in favour of #2673 instead.

[2016-09-19 22:20] #2680 closed, assigned to nobody

[2016-09-19 22:56] rmccue commented on #2713
What is the exact data you're sending with this request?

[2016-09-20 03:42] AramZS commented on #2710
I suppose we could also filter `apply_filters( "rest_prepare_{$this->post_type}", $response, $post, $request );`? But that seems like a non-optimal solution?

[2016-09-20 11:39] clooth commented on #2626
We're having the same problem. Plugin _is_ activated but we're still only seeing the oembed endpoint.

[2016-09-20 11:54] clooth commented on #2626
We restarted PHP. Feeling silly now. All good.

[2016-09-20 12:01] RomainGaillard commented on #2706
Sorry your solution not work =/
The field "modified_gmt" no work.

[2016-09-20 13:31] rafaelcneves commented on #2703
I analyzed my response better and saw that I am getting a warning message which I imagine to be from PHP. This is the message:

[2016-09-21 09:10] simonpeters opened #2714 "403 Forbidden problems"
Hi,

I'm using cookie authentication and on my local dev server everything works fine.

On my online web server though I have problems with PUT and DELETE requests. They always return "403 Forbidden". POST does work online.

The PUT and DELETE request return the 403 header and the resource in question. So I don't get any kind of error message.

I'f tried adding trailing slashes to the requests but

[2016-09-21 09:30] vsego opened #2715 "How to replace an image in WordPress via REST API 2.0?"
Originally published on [Stackoverflow](http://stackoverflow.com/q/39598454/1667018).

I have some images uploaded on a WordPress site that is to be completely REST controlled and I'm having trouble updating them. Altering image data is simple, via `POST` requests to `.../media/<id>`, but I can find no way to actually replace the image **content** with another file.

Of course, I could delete such

[2016-09-21 17:31] rmccue commented on #2715
This isn't possible with WordPress generally, so the API doesn't support it either. You'll need to make a completely new media item to change the image data.

[2016-09-21 17:31] #2715 closed, assigned to nobody

[2016-09-21 17:33] rmccue commented on #2714
Is the 403 generated by Apache/nginx, or by the REST API? i.e. is the response body JSON or a HTML page?

[2016-09-21 18:29] simonpeters commented on #2714
It's JSON, it just responds with the corresponding resource. But it doesn't delete or edit it.

[2016-09-21 18:44] rmccue commented on #2558
That sounds like a bug; not sure how it's getting this many calls. How many posts per page is this for?

[2016-09-21 18:46] rmccue commented on #2714
This seems like a potential misconfiguration of your server software; it should never return a 403 _and_ the resource data. 403 should cause an error description object to be added to the body instead. Try contacting your host about this.

[2016-09-21 20:59] rmccue commented on #1915
The status quo thinking on this is mostly eliminating the use of validation in favour of just the sanitization callback, per #2695.

[2016-09-21 21:00] rmccue commented on #2695
We'd actually be unifying on `sanitize_callback` instead, as `validate_callback` can be implemented on top of `sanitize_callback`, but the opposite is not true.

[2016-09-21 21:01] rmccue commented on #2582
This is definitely a bug; I think we just need to defensively call `array_values`. It's not the responsibility of the filter developers, since this is a specific thing to JSON encoding.

[2016-09-21 21:05] rmccue commented on #2385
I think I'm OK with just overriding the whole method here; we have to strike a balance between readability/usability and customisability, and making it _too_ modular sounds problematic for forwards-compatibility as well.

The PR handled the specific case, so closing this out.

[2016-09-21 21:05] #2385 closed, assigned to nobody

[2016-09-21 21:07] rmccue commented on #2405
This seems like intentional behaviour to me?

[2016-09-21 21:07] #2405 closed, assigned to nobody

[2016-09-21 21:10] kadamwhite commented on #2405
If WP itself stores the content HTML-encoded in the posts table, this makes sense (and anyone more familiar with WP i18n, please correct me if this isn't so). If the content is not generally stored HTML-encoded however, I do not agree with closing this out.

[2016-09-21 21:11] rmccue commented on #2701
I dug into this further; query parameters are the only viable option. We [discussed briefly on Slack](https://wordpress.slack.com/archives/core-restapi/p1474296851002021).

All that remains is to implement this. :)

[2016-09-21 21:13] #2634 closed, assigned to nobody

[2016-09-21 21:18] rmccue commented on #2405
As far as I'm aware, the field is stored fully HTML-encoded (since it's a HTML field).

[2016-09-21 21:55] danielbachhuber commented on #2695
💯  This is a great idea, and surprisingly elegant.

[2016-09-21 21:58] westonruter commented on #2695
Customize API had it first 😉

[2016-09-22 01:21] BE-Webdesign commented on #2695
So for an argument's schema you would just provide `sanitize_callback`?

[2016-09-22 01:30] kadamwhite commented on #2405
Foreign characters are valid HTML so I found that answer unsatisfying, and did some digging.

@kaito-kaito I'm not able to reproduce this issue; how are the posts being created & inserted into WordPress? I am not an Arabic speaker, but I tested first by writing one post in Japanese and then making another by copying and pasting Arabic into the post editor via WP-Admin, then POSTed the same content

[2016-09-22 01:34] kadamwhite commented on #2634
@rmccue By this logic `context=edit` should include the protected statuses in the collection response; I do not see that happening in my environment?

Edit: Ah, I see your comment about parameter defaults.

My $0.02 is that I don't like `context`, it is a partially complete (two macro-level states) solution to a complex problem (how to return a generally-useful lightweight result in the default ca

[2016-09-22 01:40] kadamwhite commented on #2243
Update from my question: Yes, if you PUT the Arabic text as the slug, it will be inserted into the DB as escaped, while it will be untransformed in the content, excerpt and title field. This matches the URL-oriented purpose of the slugs.

[2016-09-22 14:17] kadamwhite commented on #2695
Moved to Enhancement, as we have consensus

[2016-09-22 14:19] rmccue commented on #1915
I think we're mostly settled here apart from the sanitization, and there's a pretty clear distinction between other types of callbacks. Closing out.

[2016-09-22 14:19] #1915 closed

[2016-09-22 14:35] kadamwhite commented on #2634
To recap some [slack conversation](https://wordpress.slack.com/archives/core-restapi/p1474554668002472) around this, the general principle followed by this API is,
- Auth controls what you can access
- Context controls what fields things have when you access them
- Query parameters control what's included in a collection
  This will be captured in a docs repo issue to make that handling explicit,

[2016-09-22 14:38] kadamwhite commented on #2581
If you post `<strong>Foo</strong>` into a term creation form in WP-Admin, it will strip the HTML on save. Is that consistent or inconsistent with what we have established here?

[2016-09-22 14:42] kadamwhite commented on #2581
Conclusion: that is just one UI, and term names are HTML conceptually so the behavior here is consistent both with WP's internals and other related issues like the slug encoding issue linked above. No further discussion needed.

[2016-09-22 14:47] kadamwhite commented on #572
See also https://wordpress.org/plugins/wp-rest-api-filter-fields/ (from comment in #446); may be stale, hasn't been updated in a year.

[2016-09-22 15:00] kadamwhite commented on #446
@xpluscal As noted in the issue linked above when this got closed, this is not currently on the roadmap for this plugin; at this point the root resolution to this question will need to occur within WordPress core, since filter inclusion  represents a change to the core infrastructure. We recognize that this is a common request, and plugins such as the one linked above (may be stale) or https://git

[2016-09-22 15:35] rmccue opened #2717 "Disable Codecov comments"
This was unintentionally re-enabled when Codecov removed the configuration on their site, and it now requires having a file in the repo for the configuration instead.

We need to disable these again.

[2016-09-22 15:40] danielbachhuber commented on #2717
💯

[2016-09-22 15:41] kadamwhite commented on #572
I'm moving this discussion to Trac, since this is a concern that would need to be tackled on the core infrastructure side. I believe this is important functionality to include, and agree that it should be tried out in plugins before we consider merging it into core.

Trac ticket: https://core.trac.wordpress.org/ticket/38131#ticket

[2016-09-22 15:41] #572 closed

[2016-09-22 15:59] rmccue commented on #2703
You may need to follow the advice in that warning and set `always_populate_raw_post_data=-1` in your php.ini. We use `php://input` internally, but we check `$HTTP_RAW_POST_DATA` for compatibility with older versions of PHP, which can cause that warning.

I'm not sure why that's causing an exception though; PHP won't throw an exception on that warning normally, so you may have a custom error handle

[2016-09-22 16:22] #2717 closed, assigned to rmccue

[2016-09-22 17:34] sbussetti opened #2719 "API has no support for POST/PUT/PATCH of multiple resources"
Currently, the endpoint controllers base routes only support:

[code]

Although not explicitly outlined in most versions of a REST specification, It's common in some to allow for create, update and sometimes partial update multiple objects simultaneously.

This would extend the base route to provide the following functionality:

[code]

[2016-09-22 17:45] danielbachhuber commented on #2719
@sbussetti Have you seen the conversation in #561 ?

[2016-09-22 17:58] sbussetti commented on #2719
@danielbachhuber Yes, I don't think this falls under the batch API as it would not allow for request batching, just simple bulk actions on lists of resources.

[2016-09-22 18:00] sbussetti commented on #2719
There's an even longer discussion on the json-api boards about how to support batching and transactionality and nested resources.  I'm proposing a much simpler solution that aligns with how the WP-API is already implemented.  I need this functionality anyway, so I'll provide a PR along with documentation of the reference implementations I used as models.

[2016-09-22 18:04] 27pchrisl commented on #2558
See the left hand column of the table I posted at the top, it's between 10 and 100 per_page. I don't _think_ we are doing anything unusual on top the API to cause this behaviour (eg, weird filters causing too much load).

[2016-09-22 20:09] elyobo commented on #572
See also the simple jmespath plugin I added for this; a steeper learning curve (you need a little JMESPath knowledge - http://jmespath.org), but more flexible in what it allows and will work with any type of
content, including completely custom APIs.

https://wordpress.org/plugins/wp-rest-jmespath/

[2016-09-22 21:19] rmccue commented on #2555
Closing out, due to no response.

[2016-09-22 21:19] #2555 closed, assigned to nobody

[2016-09-22 21:22] rmccue commented on #924
We're closing this ticket out in favour of more concrete tickets instead. If you have anything you need with params, please file a new issue.

[2016-09-22 21:22] #924 closed

[2016-09-22 21:24] danielbachhuber commented on #1055
Closing in favor of #2701. Password protected posts will live on.

[2016-09-22 21:24] #1055 closed

[2016-09-22 21:31] danielbachhuber commented on #1520
Closing in favor of the core ticket. `is_numeric()` doesn't affect the plugin itself at the moment.

[2016-09-22 21:31] #1520 closed

[2016-09-22 22:01] danielbachhuber commented on #2322
We're not going to change the behavior at this point.

[2016-09-22 22:01] #2322 closed, assigned to nobody

[2016-09-22 22:05] BE-Webdesign commented on #2558
Yeah I just profiled this too, something wrong is going on.  For a regular `GET` Request to posts `get_item_schema()` was called 46 times.  When you add more items to the response you get even more calls.  The culprits are `prepare_item_for_response()`, `get_object_type()`, and `filter_response_by_context()`. The performance impact is pretty huge actually, it takes up the bulk of a request.

[2016-09-22 22:08] rmccue commented on #2719
This is a duplicate of #561.

[2016-09-22 22:08] #2719 closed, assigned to nobody

[2016-09-22 22:17] rmccue commented on #2709
The REST API uses standard WordPress capability checks, so anything that uses WordPress capabilities correctly should work.

[2016-09-22 22:17] #2709 closed, assigned to nobody

[2016-09-22 22:19] #2707 closed, assigned to nobody

[2016-09-22 22:19] kadamwhite commented on #2707
Closing as provisionally solved, leave a comment if it's not!

[2016-09-22 22:20] rmccue commented on #2707
We _could_ consider changing the function, but `wp_new_comment` does a lot of things we don't want, so this is unlikely to change. You could [file a ticket on Trac](https://core.trac.wordpress.org/) instead though if you'd like the filter moved into `wp_insert_comment` (or a new one added).

[2016-09-22 22:26] danielbachhuber commented on #2355
I need to verify this is still a valid issue.

[2016-09-22 22:29] rmccue commented on #2632
@rachelbaker Can you clarify if this is a bug or enhancement, and whether it should even be open? :)

[2016-09-22 22:31] kadamwhite commented on #2627
Probably superseded by taxonomy query params, will document and resolve

[2016-09-22 22:35] joehoyle commented on #2583
The controllers for statuses and users (and any other "fixed" routes for that matter) are not meant to be over-writable, as those features are fixed in WordPress, a CPT is not fixed, as WordPress has an internally API for registering those.

If you want to make the `users` endpoint act differently you should add a new route at `/mynamespace/v1/users` if you really want, you could probably subclass

[2016-09-22 22:35] #2583 closed, assigned to joehoyle

[2016-09-22 22:41] #1862 closed

[2016-09-22 22:41] rmccue commented on #1862
This seems to be an issue on the Java side, and there's been no activity here recently, so closing out.

[2016-09-22 22:41] kadamwhite commented on #1862
Glad you got it sorted @vivdub!

[2016-09-22 22:42] joehoyle commented on #2692
As mentioned above, there's much larger problems that arise when your have a name collision with something like a a CPT and a Taxonomy, with things like actions / filter names, rewrite rules etc so I don't think this is a new problem. Also, not all things in WordPress _do_ have sub types, for example users.

The API to a large expect does away with the "object type" grouping, one CPT is as differe

[2016-09-22 22:42] #2692 closed, assigned to joehoyle

[2016-09-22 22:47] rmccue commented on #2201
I'm 👎 on this. It can be implemented as a dev tool quite easily: https://gist.github.com/rmccue/184a2329a922f6b4350d

I don't think it makes sense for the API core itself though.

[2016-09-22 22:47] joehoyle commented on #2201
I think the ship has sailed on this one either way, as this is now in core. Also, I think we make the right decision with allows the params in the end anyway.

[2016-09-22 23:30] rmccue commented on #2710
A long time ago when we started v2, we spent quite a long time digging into how we could do lookups by post type and stuff like that to build URLs. As it turned out, the implementation _and_ conceptual complexity of this turned out not to be viable at all.

Instead, we decided that the API should be internally consistent, and if you want to change anything in it, it's up to you to handle changing

[2016-09-22 23:30] #2710 closed, assigned to rmccue

[2016-09-22 23:36] rmccue commented on #2646
Not necessarily; we have support for the majority of them, but `filter` is intentionally available as an escape hatch to access the underlying query parameters if you want to. In this case, this is a significantly advanced use case that may benefit from a custom endpoint, so we only support it via the escape hatch. :)

[2016-09-22 23:36] #2646 closed, assigned to rmccue

[2016-09-22 23:41] andrewmartin commented on #2646
@rmccue

I partially understand, and I partially don't understand––why are some of the parameters considered an "escape hatch" vs. others?

I read up a bit and saw there were some security related concerns to exposing the meta stuff, but I think ultimately, it'd be awesome to see it function 1:1 with the default query parameters.

I guess, if anything, to appease my own curiosity, I'm wondering th

[2016-09-22 23:54] kadamwhite commented on #2646
"escape hash" may not be the best term, I think of `filter` as more of a _shim_: WP_Query is a powerful tool, but its parameters do not necessarily best match the circumstances of an API collection endpoint, so the API team has been selectively promoting certain types of query to first-party parameters (`slug`, `before`, `include` etc are good examples). I'd need to re-read this thread to have the

[2016-09-22 23:58] andrewmartin commented on #2646
@kadamwhite thanks man, that does help give me a little more context––but I'm still going to (kindly) hold my ground that the _end_ goal should be to have a 1:1 match with the query options provided by the WP Core. Do you agree with that? I can see the reason for incrementally adding such options (and agree that your examples probably make sense to include first), but I guess I don't understand wh

[2016-09-23 00:27] jtsternberg commented on #2692
Thanks guys, and thanks for your consideration @joehoyle. I understand your perspective and makes sense to me. I think we're good.

[2016-09-23 00:47] rmccue commented on #2558
I dug into this issue; you're right that `get_item_schema` is scaling up linearly, and we can avoid that, but I'm not seeing it take up the majority of the call time at all. In fact, `get_item_schema` doesn't even appear, even with a sampling rate of 1ms in the flamegraph tool I'm using; the WP core code to add responsive images is much slower.

I suspected it might have been a custom language, bu

[2016-09-23 01:03] rmccue commented on #2646
Sorry, I mean specifically `filter` is an escape hatch, in that it allows access to the underlying implementation in a non-REST way. I think @kadamwhite explained it a little better than I did :)

Some day it might be nice to support this, but right now, there's no plans to support it. Meta in particular is only just being supported now, as it's quite complex to support in a safe way (serialized d

[2016-09-23 01:11] rmccue commented on #2582
I did an audit of the `prepare_items_for_response` methods, and no other ones use a potentially-filtered value that's an array, so this is the only spot we need it as far as I can see.

[2016-09-23 01:15] rmccue commented on #2548
This was added to the update callback in #2702.

[2016-09-23 01:16] rmccue commented on #1585
This has an infrastructure ticket, closing here.

[2016-09-23 01:16] #1585 closed

[2016-09-23 01:47] #2582 closed, assigned to rmccue

[2016-09-23 01:47] BE-Webdesign commented on #2582
Technically it is possible for this to happen with roles in a number of different filters, but I don't see why anyone would want to unset a role in the filters.  Maybe we should also add `array_values()` on the `$user->roles` in `WP_REST_User_Controller::prepare_item_for_response()`, but probably not.

[2016-09-23 02:37] BE-Webdesign commented on #2558
Yeah it doesn't get anywhere near 2,500 for me either; 316 calls for 100 per_page.  But the response time takes up a lot.  I think he meant it was called 2.5k times for 5x http requests so if you had 500 calls then that would be 2.5k over the course of 5 http requests, which calls `__()` about 90,000 times.

I'm using cachegrind, maybe that is not an accurate method, but over 100 runs the calls to

[2016-09-23 03:50] 1geeky commented on #2709
@rmccue Thank you.
But a restricted user could get the JSON output with WP-API plugin while it works correctly with [JSON-API plugin](https://wordpress.org/plugins/json-api). I've used [Advanced Access Manager plugin ](https://wordpress.org/plugins/advanced-access-manager/) (free version) to define access rules and test that for single posts.

As you may see in the images are attached, The JSON ou

[2016-09-23 04:16] kadamwhite commented on #2646
It's a bit of a roundabout solution, but making a custom endpoint is always a option for this too. Thank you very much @andrewmartin for using the REST API and for raising your questions; they're not going unheard, we appreciate your feedback!

[2016-09-23 05:33] andrewmartin commented on #2646
Hey, thank you guys! Building a React app using WP was a true pleasure thanks to you guys.

[2016-09-23 11:32] danielbachhuber commented on #2582
@BE-Webdesign Can you prepare a PR?

[2016-09-23 12:06] danielbachhuber commented on #2355
@WP-API/amigos I don't have a great idea on how to unwind this mess :(

In `WP_REST_Posts_Controller->prepare_item_for_database()`, we have a number of places where a `WP_Error` can be returned:
- Status: https://github.com/WP-API/WP-API/blob/17305479fc03d69e025674a7cfc71791b798eb2c/lib/endpoints/class-wp-rest-posts-controller.php#L777
- Author: https://github.com/WP-API/WP-API/blob/17305479fc03d6

[2016-09-23 14:28] joehoyle commented on #2355
Personally I don't really see much issue with the current design, having the functions be able to return a WP_Error is a good design choice, I'm sure they'll always be nitty-gritty details that these functions may do to warrant returning a WP_Error.

I'm sure of these could be moved up to `update_item` / `create_item`, I think we didn't do that to avoid the complication. I'm 👎  on `WP_REST_Control

[2016-09-23 14:33] danielbachhuber commented on #2355
This would be the same abstraction we encourage plugin authors to use (e.g. use `register_rest_field()` to register a `sanitize_callback`)?

Have you subclassed this method before?

[2016-09-23 16:09] rmccue commented on #2709
The REST API doesn't return any post meta at the moment, which is what the field in your screenshot is. We're [adding support for that](https://github.com/WP-API/wp-api-meta-endpoints/pull/15) soon, but the plugin will need to opt-in to that support.

[2016-09-23 16:18] rmccue commented on #2558
I wonder if this is a particular oddity in cachegrind, as I'm definitely not seeing this sort of time with the sampling method.

Let's fix anyway.

[2016-09-23 16:24] 1geeky commented on #2709
@rmccue Is the post meta the reason of not showing restricted content to users?

what access manager plugin do you suggest which will work will REST API plugin?

[2016-09-23 16:30] 1geeky opened #2726 "BuddyPress integration"
Is there a currently implemented solution for REST-API to post and retrieve private messages from BuddyPress plugin?

Thanks

[2016-09-23 16:32] rmccue commented on #2726
The BuddyPress team is handling this [on their own repo](https://github.com/buddypress/BP-REST), I believe.

[2016-09-23 16:32] #2726 closed, assigned to nobody

[2016-09-23 17:11] BE-Webdesign commented on #2558
I set this up with Blackfire and it shows pretty much the same stuff as the Xdebug profiler; same thing goes for XHProf. It could be the server I test against is slower on these calls for whatever reason.

[2016-09-23 23:12] BE-Webdesign commented on #2706
@RomainGaillard `/wp-json/wp/v2/posts?filter[date_query][0][column]=post_modified_gmt&filter[date_query][0][after]=1+month+ago` should work, for what you are trying.

[2016-09-23 23:25] RomainGaillard commented on #2706
@BE-Webdesign  Thank you very much ! Your solution work correctly !!! Thank you verry verry verry much.

[2016-09-23 23:39] BE-Webdesign commented on #2548
Should this somehow apply to the get callback or does #2702 take care of the issue entirely?

[2016-09-24 00:46] BE-Webdesign commented on #2582
It is probably not necessary, but I will make one.

[2016-09-24 01:18] BE-Webdesign commented on #2706
No problem thank you for using the REST API, do great things with it!

[2016-09-24 06:56] ghost commented on #497
**Came from Google search and trying into WAMP**

Solution: Enable permalink as `Click Wamp -> Apache -> Apache Modules -> rewrite_module`
Ref: [here](http://stackoverflow.com/a/10294987/385205)

[2016-09-24 14:52] BE-Webdesign commented on #2709
@1geeky,

I don't know of any plugins yet that do content restriction via the API.  You could in the meantime use `register_rest_field()` to [add in the custom fields you need for your response](http://v2.wp-api.org/extending/modifying/).  You would still need to handle the content restriction on your end, as exposing those custom fields, on its own, will not restrict content.

[2016-09-24 23:36] danielbachhuber opened #2729 "Add tests for returning an error from field update callbacks"
We should always have tests covering functional changes.

From https://github.com/WP-API/WP-API/pull/2702#issuecomment-247153482

[2016-09-25 13:34] BE-Webdesign commented on #2729
I will write the tests for it today.

[2016-09-25 14:07] BE-Webdesign opened #2730 "WP_REST_Attachment_Controller::update_item() is missing additional fields updates"
The update callback for the attachments endpoint is missing the additional fields updates.

[2016-09-25 14:31] BE-Webdesign commented on #2729
Tests in #2732.

[2016-09-26 04:11] #2729 closed, assigned to BE-Webdesign

[2016-09-26 11:51] #2730 closed, assigned to nobody

[2016-09-26 15:00] adamsilverstein commented on #2299
We should match the core behaviour here, which I am not certain of without testing and some digging. My expectation would be that if I requested 10 posts, I would get 10 posts. The unavailable to me posts (not sticky when i requested sticky, private/password protected posts, etc.) should ideally be excluded from the query entirely.

[2016-09-26 15:02] Hendrik44 opened #2733 "Adding Filter for using custom edit-permissions"
Hi there,

i need the option to integrate the following custom permission for editing comments. Is there a opportunity to integrate a filter, so that can be realized without customizing the complete plugin? Or can i made a pull request?

[code]

[2016-09-26 15:33] rmccue commented on #2733
You can hook into WordPress' permission system to change whether the user has the permissions or not, specifically the `map_meta_cap` capability.

[2016-09-26 15:33] #2733 closed, assigned to nobody

[2016-09-26 15:41] adamsilverstein commented on #2696
I am starting to work on this issue by writing some unit tests to verify current behavior.

This ticket should probably be broadened to "The API should accept returned values as valid for updates of the same object." For dates this means that if a null value is returned a null value should be accepted. Currently this appears to be the case.

For dates, I think we are set for null values... Since h

[2016-09-26 15:41] kadamwhite commented on #1063
[discussed in slack](https://wordpress.slack.com/archives/core-restapi/p1474904140003925); @joehoyle, @rachelbaker & @adamsilverstein are in favor of leaving these as protected. Provisional decision is to _not_ make any of these methods private.

[2016-09-26 15:56] BE-Webdesign commented on #1063
At first, I was for leaving these as is.  I am still not too strongly opinionated either way, however after thinking about it more.  If we made some of our protected methods private we could ensure that when we made changes to them we would only be affecting what is in the API and not implementations built on top the API making maintainability and backwards compatability a lot easier.

This is als

[2016-09-26 16:22] danielbachhuber commented on #1063
Right. This is the point of marking them private.

I think there are a number of protected methods on the classes that are: 1) methods because someone just chose to put the code there at that time, 2) marked `protected` without much deliberate thought. Take `WP_REST_Comments_Controller->normalize_query_param()` for example.

It would be helpful to know what prior art in core we can refer to.

[2016-09-26 17:33] sedubois opened #2734 "GraphQL"
Is there an ETA on having a WordPress GraphQL API?

[2016-09-26 17:41] BE-Webdesign commented on #2734
That is very unrelated to this project, there is one partial implementation I know of at wordexpress.io.  GraphQL and REST APIs are two different things.  GraphQL is not a finalized standard either.

I am building my own implementation at the moment to help learn GraphQL, relay, sequelize, etc. If you are interested in that kind of project, I will ping you when it is open sourced.

tl;dr No, that

[2016-09-26 17:41] #2734 closed, assigned to nobody

[2016-09-26 17:47] kadamwhite commented on #1063
@BE-Webdesign Thanks for the perspective. I'm not strongly opinionated about this either, I think that what we need in order to move forward here is a proposal about some specific changes that we can discuss.

[2016-09-26 17:49] sedubois commented on #2734
Thanks but I think it is related, GraphQL is a drop-in replacement for REST, which may explain why you are currently learning it and so am I 😊

In my understanding, GraphQL is however already mature enough to be used and built incrementally upon. GitHub published their own API just a few days ago.

I'm interested in knowing where WordPress is going with this, which is surely also the case of other

[2016-09-26 18:06] BE-Webdesign commented on #2734
Not exactly, they are really different from what I have understood so far, but the end result is similarish.  They are obviously related, but I am speaking more to their implementation, which is quite different from what I understand. GraphQL is a query language for an API, that doesn't necessarily have anything to do with a REST API.

Yeah, I am not saying it wouldn't be awesome to do this, I am

[2016-09-26 18:27] rmccue commented on #2734
The REST API project is really a two-part project:
1. Abstraction on top of the WordPress internals to get consistency
2. Exposing the consistent abstraction via RESTful endpoints

The vast majority of the work and code is in part 1, but you can swap part 2 out pretty easily.

GraphQL is most useful when it's an enhancement to an existing REST API, and right now, we're focusing on providing a good

[2016-09-26 18:43] BE-Webdesign commented on #2734
Yeah you may have a GraphQL endpoint that is served over the REST API, but GraphQL itself essentially is a query language, type system, and service for interacting with application data.

[2016-09-26 19:18] sedubois commented on #2734
Thanks for the clarifications. I believe right now the best if for everyone of us to experiment with it. In my current view, it is a big improvement on REST, and those who understand it will have a headstart in terms of UX and DX.

[2016-09-26 22:21] AramZS commented on #2710
Ok, so for the reference of future folk who encounter this issue. The taxonomy URL is under `links`, which is protected and not accessible through normal means. Instead the links entry for taxonomy has to be pulled out, manipulated and replaced. For my use case it seemed the only way to deal with it was to do this:

[code]

[2016-09-27 08:35] AaronSadlerUK opened #2736 "API Key GET requests"
Hi,

What is the best way to incorporate a API key for GET requests?

Thanks!

[2016-09-27 12:11] t-grm commented on #2736
Personally, I use [Application Passwords](https://fr.wordpress.org/plugins/application-passwords/) to generate passwords per API client, then I add the appropriate **Authorization** header to my GET requests. Hence, "**&apiKey=xxxxxxxxxxxxxxx**" effectively becomes "**Authorization: Basic xxxxxxxxxxxxxxxxxx**", with the same effect :)

[2016-09-27 12:35] AaronSadlerUK commented on #2736
Essentially i want to block access to the API unless a key is present... this plugin doesnt seem to do that?

[2016-09-27 13:03] t-grm commented on #2736
Not by itself, you then have to force all API calls to be authenticated. Here's a way to do that:

[code]

Unauthenticated clients will then get this response:

[2016-09-27 15:41] AaronSadlerUK commented on #2736
That worked just as i need thanks!

[2016-09-27 15:42] #2736 closed, assigned to nobody

[2016-09-27 16:15] t-grm commented on #2736
You're welcome. It works alright, however it would be cool indeed to design a real "api key" feature so that we don't need headers for API authentication.

[2016-09-27 16:55] kadamwhite commented on #2225
The two options that have been proposed so far:
1. We add a locked attribute to the post in the context=edit case. That way clients can update this field to add a lock, or not allow editing of it if there is already a lock on it.
2. We ignore edit locking in the REST API until a better solution is proposed.

[2016-09-27 17:01] kadamwhite opened #2737 "Support `auto-draft` status in the API"
Splitting this out from #2629 where it was proposed:

In WP-Admin, `auto-draft` is used to account for posts that are not yet “fully” drafted, and therefore disables _e.g._ revisions. In #2629 @adamsilverstein proposed that the API support the `auto-draft` status, to permit a client to set a post into that state to permit it to be updated without generating revisions (and to support all valid stat

[2016-09-27 17:33] aaronjorbin commented on #2225
@getsource as one of the original authors of the Heartbeat, I would love to know your thoughts here.

[2016-09-27 17:35] aaronjorbin commented on #1987
@joemcgill @getsource As the media maintainers, can you take a look here and share your thoughts?

[2016-09-27 17:58] ellatrix commented on #2737
I didn't _propose_ that. I would like there to be a way to update a post without creating revisions. The means don't really matter to me. @adamsilverstein suggested the status "trick", but that's not an option currently.

[2016-09-27 18:51] aaronjorbin commented on #2629
How are auto-drafts handled in the API right now?

[2016-09-27 19:07] joemcgill commented on #1987
I spent some time over the weekend looking specifically at this issue and wanted to add a few observations.

First, on the front end, when a person without proper caps requests a URL for an attachment with a private parent, we return a 404. Currently the API endpoint returns a 403 (forbidden) instead. Is there a reason these are handled differently—the use case described by this ticket notwithstan

[2016-09-27 19:14] joemcgill commented on #1987
Related – the addition of hiding the title of a private published post in the media library was only recently addressed: https://core.trac.wordpress.org/ticket/37186

[2016-09-27 20:33] aaronjorbin commented on #2629
Asked in slack, and according to @rmccue right now auto-drafts are not supported.  additionally:

I tend to think that auto drafts would be a good thing to support, but I don't think it needs to block 2.0.  In the future, being able to append `auto-draft=true` onto a save request makes the most sense to me.

[2016-09-27 20:41] #2487 closed, assigned to nobody

[2016-09-27 21:00] rmccue commented on #1987
403 is the return code for "you're authenticated, but not authorized", consistent with our other endpoints. 404 would indicate it doesn't exist at all, which isn't really accurate (although it might be what you want if you're aiming for secret attachments, we don't really cater towards that).

[2016-09-27 21:03] rmccue commented on #2736
The `Authorization` header is the standard for passing auth tokens, and is much more interoperable with proxies and servers than the query string.

Generally speaking, you should use [OAuth 1.0a](http://oauth1.wp-api.org/) instead of direct API keys, as they're more secure from replay attacks and don't require user interaction.

[2016-09-27 21:14] joemcgill commented on #1987
If that's consistent with what would be returned if someone hit a public endpoint for a private post, then that makes sense.

[2016-09-27 22:27] kadamwhite commented on #2737
@iseulde ah, right you are -- my apologies, was skimming the issue in a hurry and mis-attributed!

_Edit: updated issue description to capture Adam's origination of the idea_

[2016-09-28 04:52] getsource commented on #2225
I'm thinking on what the best solution is, but in the meantime, @joehoyle is correct -- both the user ID and the time when the post was locked get saved in postmeta:
https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/post.php#L1503

I'd love if we can move to using the REST API for Heartbeat, but we'd probably want to move all of the functions over (or at least the primary Heartb

[2016-09-28 15:43] rmccue commented on #2225
FWIW, I don't think Heartbeat itself is a good candidate for the REST API; it's not a good conceptual fit, and provides a totally different API of its own. In any case, that's really a different discussion; really, all we need is a way of exposing the lock, if we want to expose it at all.

[2016-09-28 16:21] #2658 closed, assigned to joehoyle

[2016-09-28 19:12] rmccue commented on #2714
Closing out; let us know if you need anything else!

[2016-09-28 19:12] #2714 closed, assigned to nobody

[2016-09-28 19:12] rmccue commented on #2713
No response in a week; let us know if you need more help!

[2016-09-28 19:12] #2713 closed, assigned to nobody

[2016-09-28 19:25] rmccue commented on #2667
Relevant core ticket: https://core.trac.wordpress.org/ticket/12104

Per [Slack](https://wordpress.slack.com/archives/core-restapi/p1475090042004295):

Without `moderate_comments`, you can't access the comments page, but you can see the comments metabox on the post you can access.

Long-term, this should be fixed in core. For now, it makes sense for us to go for the most conservative approach, and

[2016-09-28 19:25] #2667 closed, assigned to rachelbaker

[2016-09-28 19:27] rmccue commented on #2299
This is obsoleted by #2701.

[2016-09-28 19:27] #1612 closed

[2016-09-28 19:28] rmccue commented on #2019
This appears to be an issue entirely in the JS client, so closing out here. See also [my comment on the JS repo](https://github.com/WP-API/client-js/issues/137#issuecomment-249698505).

[2016-09-28 19:28] #2019 closed, assigned to nobody

[2016-09-28 19:33] rmccue commented on #1063
I am strongly 👎 on making methods private. While this does protect us from users trying to use a non-public API, it also complicates subclassing significantly.

For example, if `protected prepare_item_for_response` calls `private prepare_status_response`, you can no longer override `prepare_item_for_response` to change something without _also_ duplicating `prepare_status_response` (or calling the

[2016-09-28 19:34] danielbachhuber commented on #2299
@rmccue What about my comment? https://github.com/WP-API/WP-API/issues/2299#issuecomment-187185707

[2016-09-28 19:36] rachelbaker commented on #1063
I am also 👎 on changing these methods to private and 👍 to sub-classing.

[2016-09-28 19:40] rmccue commented on #2299
I discussed this with @joehoyle; I think if you're massively changing the permissions, you may be voiding your warranty. Missed that it was in this ticket though, sorry about that.

I'm not certain about using a `null`; it requires double-checking on the client end, as the type for array items is now a union type of `Post|null`. I think it'd better to leave the items out in this case.

Reopening t

[2016-09-28 19:43] kadamwhite commented on #2299
I'm 👎  on `null` because it complicates iteration... but it's a mess of a situation that omitting it entirely would void the pagination counts.

I understand why we can't have this nice thing, but @adamsilverstein articulates well the assumptions I would have made.

[2016-09-28 19:46] rmccue commented on #1063
I'm not sure there really _is_ prior art in core: core doesn't really have classes that are designed to be extensible. This is why `WP_Post` is `final`, e.g.

There's `WP_List_Table`, but that's intended for internal/core usage only, and is unsupported for external usage. This has two private properties, but no private methods. These properties are only for caching, so the closest analogous piece

[2016-09-28 19:49] danielpunkass commented on #2629
As the developer of a 3rd party WordPress client application, I can say that I like the default behavior of WordPress saving a revision. Although it's rare that customers make a "data-losing" mistake using my app, it's great that when they do I can point to the revisions and usually offer them a way to restore their data.

[2016-09-28 19:49] rmccue commented on #2299
I think basically the only case where this occurs is when plugins are overriding a meta cap, in which case, you're going to end up with all sorts of weird behaviour anyway. I think it should be up to those plugins to alter the query to exclude the posts.

An analogous behaviour would be if you change these meta caps, what happens to your normal posts page that's meant to show 10 posts? It'd be you

[2016-09-28 19:51] #2705 closed, assigned to nobody

[2016-09-28 19:51] BE-Webdesign commented on #2705
Fixed in #2708

[2016-09-28 19:53] rmccue commented on #2201
I am going to close this out, as it hasn't had a bunch of attention, and can be implemented via plugins. In addition, it's an issue in core now, not in the endpoints.

[2016-09-28 19:58] rmccue commented on #2737
See also #2253.

[2016-09-28 20:04] danielbachhuber commented on #2201
Not quite correct, see https://wordpress.slack.com/archives/core-restapi/p1475092785004369

[2016-09-28 20:21] BE-Webdesign commented on #2201
In reference to something I said earlier, it may not be a concern.

It might actually appear from the `get_endpoint_args_for_item_schema()` transformation, but someone would need to double check that.

[2016-09-28 20:21] nikolov-tmw commented on #2019
@rmccue I don't think that's the case though, because for the JS client to work properly, it needs to know the timezone of the site and that needs to come from the PHP side of things.
I could be wrong, but I personally don't see a way to get the site's timezone purely in JS.

[2016-09-28 20:22] BE-Webdesign commented on #2201
I would be 👍 on making the registered arguments use more strict. I don't see the downside really, but could definitely be wrong.

[2016-09-28 20:38] joehoyle commented on #2201
I really don't understand why we are keeping this open, we _have_ to move forward with decisions on the API, and I frankly don't know how much more we can discuss this one. Yes, there are merits to have the param handling more strict, however just because we acknowledge there is _some_ merit doesn't mean we should keep this discussion open forever more.

I _really_ don't understand how we can chan

[2016-09-28 20:43] rmccue commented on #2019
The thing is, the site's timezone isn't really related to the times in the database. If you create a post when your site is in one timezone, then change your site's timezone, the date isn't updated to reflect that. You need to derive the offset at time of posting based on `date` and `date_gmt`.

[2016-09-28 21:05] kadamwhite commented on #2737
I am +1 on supporting putting a post into `auto-draft`, and have yet to hear any specific arguments against

[2016-09-28 21:08] kadamwhite commented on #2629
Decision from [WP Dev Chat 2016-09-28](https://wordpress.slack.com/archives/core/p1475096619003188): this behavior stands, all updates through the API will save a revision by default. Auto-draft support (#2737) will likely be added to address this in the future, but auto-draft support will not block merge.

[2016-09-28 21:08] #2629 closed, assigned to adamsilverstein

[2016-09-28 21:12] celloexpressions commented on #2737
`auto-draft` is becoming increasingly important for live-previewing things in the customizer. I imagine that there would be similar benefits to supporting it here, but can't comment on specifics beyond that.

[2016-09-28 21:14] westonruter commented on #2737
I am also +1 on supporting `auto-draft`. As @celloexpressions noted, the customizer is now leveraging `auto-draft` posts more and more to create placeholders for posts created in customizer sessions. So considering a customizer application that used a transaction or “changeset” endpoint to manipulate the `customized` state, the client would need to create an `auto-draft` post/page first and then r

[2016-09-28 21:24] danielbachhuber commented on #2201
If `parent` isn't registered as a query parameter for `GET /wp/v2/posts`, should `WP_REST_Posts_Controller` process `parent` as a part of the collections request?

[2016-09-28 21:56] kadamwhite commented on #1987
Decision from [Dev Chat 2016-09-28](https://wordpress.slack.com/archives/core/p1475096902003202): continue treating media `status=inherit` as inheriting parent post status (and privacy) in the API (maintain the current state).

Core tickets will be opened to address making core's behavior more predictable; attachment privacy can more easily be opened up in future cycles than it can be tightened, s

[2016-09-28 21:56] #1987 closed, assigned to nobody

[2016-09-28 22:24] kadamwhite commented on #2225
Per [discussion in Dev Chat on 2016-09-28](https://wordpress.slack.com/archives/core/p1475099845003356) this is not a feature which needs to be addressed in 4.7; bumping to the 2.1 milestone. There is some great discussion started in the linked slack chat, which will be continued & expanded as we enter the next dev cycle.

[2016-09-28 22:26] kadamwhite commented on #2737
As discussed in [dev chat on 2016-09-28](https://wordpress.slack.com/archives/core/p1475096746003195) supporting `auto-draft` is not a blocker for merge, but there's general support for supporting this in the API and I will attempt to address it as time permits (or anybody else can pick it up, not going to hog the issue!)

I am changing the issue title from "should the API do this" to "Implement s

[2016-09-28 22:47] kadamwhite commented on #2201
Does this conflate two different issues -- one being, should the API accept unregistered query params, and the other being, should the API whitelist the query params the controller considers to only include registered ones?

[2016-09-28 22:57] danielbachhuber opened #2740 "Use WP_Term_Query for querying terms"
It's new and shiny as of 4.6.

We should be able to remove `WP_REST_Terms_Controller->get_terms_for_post()` in the process.

[2016-09-28 23:02] getsource commented on #2225
Completely agreed that this does not need to happen for 4.7.  Longer term, I agree it'd be helpful to expose the lock, and it's a separate discussion from whether Heartbeat would/wouldn't take advantage of the REST API.

[2016-09-28 23:24] rmccue commented on #2225
Just as a note to the future, some quick thoughts on how we could do locking: edit locks are probably best implemented via a custom action, something like `/posts/%d/lock` as a write-only endpoint. This would set a `lock` key on the post, which would contain when the lock started, when it expires, and who owns it (this field would be nullable; if updated with a `null` value, this would clear the l

[2016-09-29 14:29] BE-Webdesign opened #2742 "Discrepancy in capabilities for removing users on Multisite."
Currently in the permissions check for deleting users we check for `current_user_can( 'delete_user', $id )`.  We however only support removing users from a site at the moment, which actually uses a different capability `remove_users`. We would need to add a check for `current_user_can( 'remove_user', $id )` for multisite installs.  Support for deletion from the entire network is a separate issue i

[2016-09-29 17:19] danielbachhuber commented on #2201
I believe the discussion on the issue conflates two different issues, yes.

The first conversation was covered in depth with #1223

I don't believe the second conversation has been adequately answered, which is why I reopened the issue. The current behavior of the API is to:
1. Ignore the `parent` in `POST /wp/v2/posts parent=123` if `parent` isn't present in the schema.
2. Use the `parent` in `GE

[2016-09-29 23:02] kadamwhite commented on #2201
I agree

This conceptually makes sense to me, and I support this idea. Diligence & explicit registration has rarely hurt me and the opposite cannot be said to be true.

[2016-09-30 19:31] BE-Webdesign commented on #2742
If someone could double check me that would be great too, as the capabilities in WordPress can often be confusing.

[2016-09-30 20:30] adamsilverstein commented on #2516
This should be resolved by https://github.com/WP-API/WP-API/pull/2743

[2016-09-30 22:19] #2357 closed, assigned to nobody

[2016-09-30 23:29] benschac commented on #264
Hey, if you look on the docs site theres a markdown typo for where an angular client should be.

[2016-10-01 10:56] websupporter opened #2749 "Adding a trackback endpoint"
# Adding a trackback endpoint

As discussed (https://github.com/WP-API/WP-API/issues/2012), we want to seperate trackbacks and pingbacks from the comments and create own endpoints. This issue aims to collect information and critical points for the `trackback/` endpoint.
## Specs:
- https://movabletype.org/documentation/trackback/specification.html
- http://archive.cweiske.de/trackback/trackback-1.

[2016-10-03 17:50] duckfev3r opened #2754 "can't seem to retrieve all pages"
Hi,
Apologies for what's probably a very simple issue.
I am using /wp-json/wp/v2/pages?per_page=100

and the plugin doesn't seem to be returning all the pages in the response ( the site has far less then 100 pages so if it caps off at 100 - that isn't the issue )

ideally I would like to retrieve data from all pages in the site via one request to the API

does anyone have any suggestions ?

thanks

[2016-10-03 18:05] kadamwhite commented on #2754
Hey @duelingbanjos, thanks for using the REST API (and you have an _awesome_ username, btw). It's hard to diagnose what might be going wrong without more details; is there any consistency in which pages you're not seeing in the response? Are they published by a consistent user, or have any other common attributes? How many pages do you have total, _vs_ how many does the API return?

[2016-10-03 18:11] dvdnhm opened #2755 "Not an issue, I just love this!"
just wanted to say.. great job guys!

[2016-10-03 18:12] kadamwhite commented on #2755
:D thanks for the kind words, @dvdnhm !

[2016-10-03 18:14] dvdnhm commented on #2755
probably you always get bad things, bugs, etc.. wanted to give something good..

Have a great day, just like I do thanks to you! :)

[2016-10-03 19:06] kadamwhite commented on #2755
Seems like most of the main team's seen this by now, so I'm going to close this (since after all, it's not an issue 😜 )

[2016-10-03 19:06] #2755 closed, assigned to nobody

[2016-10-03 19:36] pinkasey commented on #2187
I'm just a noop to WP and WP API, so maybe what i'm about to ask won't make sense.

Can 'menu_order' also be supported for Posts?
There are many 'custom post order' plugins out there, and i suspect they all set 'menu_order' for posts.
In the application that I'm building, controlling post order in queries is crucial, and I thought a plugin such as 'simple post order' would be perfect for that.

[2016-10-03 20:34] rmccue commented on #2187
@pinkasey Technically speaking, all post types can have a `menu_order` value, but it only affects pages in core. Plugins using the menu order on other post types would need to also add this to the API themselves.

[2016-10-03 20:41] kadamwhite commented on #2187
I agree with @rmccue, this is plugin territory—any plugin that adds handling for `menu_order` on posts ought to also add support for that ordering to the API.

[2016-10-03 21:31] pinkasey commented on #2187
Thanks for the very quick response, guys!
I thought I would have to wait weeks for someone to notice this 👍

I think I understand your answer. I will look it up - how to amend one of those plugins, so that it adds "page-attributes" to a post-type (or all post-types maybe).
Any advice on how to do this (what method to call, etc) would be greatly appreciated, but I don't want to waste you time, as y

[2016-10-03 23:02] marcoscurvello commented on #2561
thanks 👍

[2016-10-03 23:15] duckfev3r commented on #2754
Hi Kadam,
thanks for getting back to me so quickly,
after having a quick look around the wordpress backend, I realise that we have 143 pages in total.
is there a way to change the api to return more then 100 results in a query ?

cheers !

_twiddles banjo_

[2016-10-03 23:21] duckfev3r commented on #2754
aha

/wp-json/wp/v2/pages?per_page=100&page=2

_slaps forehead_

[2016-10-03 23:21] #2754 closed, assigned to nobody

[2016-10-03 23:23] kadamwhite commented on #2754
@duelingbanjos Awesome, glad you got it worked out! To clarify the result of the conversation in case future searchers end up here, we impose a maximum of 100 records on results collections for performance reasons. Retrieving multiple pages of fewer results only adds a little HTTP latency and is much nicer to your server and database than is retrieving a single page of too many results.

[2016-10-04 06:50] developer-lindner opened #2757 "per_page filter broken"
class-wp-rest-posts-controller.php

Line 129:

[code]

This ensures nothing!
It just overrides the given value with your default of 10. Congrats!

Do you even test this stuff before releasing it? This broke our clients most important feature.
Thank you very much! -.-

I don't even get it we you introduce another parameter instead of using just 'posts_per_page' as before...

[2016-10-04 10:52] kadamwhite commented on #2757
@developer-lindner Thanks for raising the issue; I'm not sure I understand exactly what the problem you're describing is, can you explain the specific request you are making that no longer works? `per_page` is the proper way to specify the number of results to include in a response, and can be set to any value from 1 to 100; this most recent beta did introduce a breaking change to fully deprecate

[2016-10-04 13:05] developer-lindner commented on #2757
@kadamwhite I do understand your concerns and your intention. well, after updating to latest version i've received 10 instead of 54 items. because this one particular line overrides my value of -1 with the default value of 10.

The request looks like this: wp-json/wp/v2/types?filter[posts_per_page]=-1&filter[lang]=...

Which broke as i said.

[2016-10-04 13:17] kadamwhite commented on #2757
@developer-lindner In your case I recommend switching immediately to

[code]

`-1` cannot be supported due to the performance impact it represents for large sites; this seems like an inconvenience for the client developer, but despite HTTP latency it is much more efficient (and much less impactful on your server and database) to request multiple small pages and then assemble them into one collecti

[2016-10-04 13:17] #2757 closed, assigned to nobody

[2016-10-04 16:25] pinkasey commented on #2187
I've arbitrarily chose "intuitive-custom-post-order" plugin, and added the code I needed in order for it to work well with WP-API orderby.
Here's the [pull request](https://github.com/hijiriworld/intuitive-custom-post-order/pull/14), if anyone is interested.
I recon this can be done on most if not all other 'custom post order' plugins.

Thanks again for the help!

[2016-10-05 14:30] pourri-dixit commented on #2578
yep! cool, my problem is resolved

[2016-10-05 18:21] rachelbaker opened #2758 "Standardize the expected POST/PUT properties expected for schema nested objects"
In the [Posts Controller we accept POST/PUT values for `title` and `content` to be sent as `title.raw` or `content.raw`](https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-posts-controller.php#L782). In this controller, we do NOT have a `santization_callback` set on the top-level `title` or `content` properties in the schema.

The way the Comments Controller is setup prevent

[2016-10-05 20:23] kadamwhite commented on #1922
Renamed to account for discussion that this _is_ necessary that occurred during Sept 22 issue scrub

[2016-10-05 21:37] mbillz opened #2759 "filter[posts_per_page] not working on custom post types in v2 beta 14"
After updating to the newest beta (through the Wordpress admin), my get request to a custom post type using a filter for posts_per_page always returns 10 posts.
Here's my request: `http://domain/wp-json/wp/v2/products?filter[posts_per_page]=-1`

I've been able to get 100 posts by using: `http://domain/wp-json/wp/v2/products?per_page=100` but it doesn't go any higher.

I've attempted this on two di

[2016-10-05 21:46] kadamwhite commented on #2759
Hello @mbillz and thanks for using the REST API! Unfortunately the ability to set `filter[posts_per_page]=-1` was a bug (#2357), so that specific filter option was removed in beta 14; the correct way to retrieve all resources is to iteratively request multiple pages of results using `per_page` and the pagination headers.

The reason for limiting the number of records that can be returned at once i

[2016-10-05 21:46] #2759 closed, assigned to nobody

[2016-10-05 21:48] mbillz commented on #2759
Gotcha, thanks for the quick response!

[2016-10-06 07:02] Purus opened #2760 "/wp-json/posts and not /wp-json/wp/v2/posts"
I have the permalinks changed to none and changed to my actual permalink.

The URI below works fine:

`/wp-json/posts`

But the actual URI below as documented does not work.

`/wp-json/wp/v2/posts`

[2016-10-06 10:13] leroygumede opened #2761 "Still having issue Get attachments #806"
For some reason I can't get attachments,

when I call `http://ncevents.co.za/wp-json/wp/v2/attachment`
I get `[]` back.

I tried adding the following in my theme`Functions.php`

[code]

 but Its still not working

[2016-10-06 11:10] kadamwhite commented on #2760
Hello @Purus and thanks for using the rest API. If you installed the plugin trough the plugin repository, can you let us know the name of the installed plugin you are using? This one is [WordPress REST API (Version 2)](https://wordpress.org/plugins/rest-api/); it sounds like you may have the older version 1 plugin installed.

[2016-10-06 11:37] Purus commented on #2760
Hi @kadamwhite,

Thanks for your time on this.

I am using the above linked v2 plugin. I am not sure what I am doing wrong.

[2016-10-06 12:24] kadamwhite commented on #2760
@Purus thanks for checking ,  that would have been the easy answer :) What version of WP are you running, and are there any other plugins or themes you might be using that could conflict? what is the output you get when you hit `/wp-json/` itself, without "posts"?

[2016-10-06 12:33] kosso opened #2762 "Storing responses in WP Object Cache?"
Is there any way to specify that responses get optionally stored in WP Object Cache?

Should this be done with a plugin script with the `rest_prepare_post`action filter? Or `rest_pre_dispatch` ?

[2016-10-06 14:23] kadamwhite commented on #2673
[Discussed in slack 2016-10-06](https://wordpress.slack.com/archives/core-restapi/p1475762529005098): decided on `key: value` exposure of settings. Settings registry is opt-in only via `register_setting( show_in_rest => true )`; presentational attributes such as the "group" a setting belongs to, or its label, will be exposed (possibly via the schema) at a later date and in a later cycle.

[2016-10-06 15:31] adamsilverstein commented on #2696
After digging into this and writing a few tests, the only issue I found was slugs. When initially creating a post via the api, the slug is returned as an empty string `""`. Taking the post data returned from the API and sending it back was throwing an error because of the empty slug. I added an additional validation check for the slug value and this resolved the issue. Without this change the `tes

[2016-10-06 17:41] kadamwhite opened #2764 "Allow returning sticky posts at top of posts collection"
This idea is an enhancement proposal that evolved from discussion around #2210.

The current solution for sticky posts is to not give them special treatment by default, but to provide a `?sticky=` parameter to explicitly exclude them or to return only stickies, added in #2708.

@aaronjorbin proposed revisiting a way to replicate WordPress theme behavior within the API posts collection, _.i.e._ ret

[2016-10-06 17:41] kadamwhite commented on #2210
Closing out as resolved by #2708 / superseded by #2764

[2016-10-06 17:41] #2210 closed, assigned to nobody

[2016-10-06 17:45] rmccue commented on #2762
`rest_pre_dispatch` and `rest_post_dispatch` are designed for exactly this (you can store the cache in `rest_post_dispatch` and check/serve it from `rest_pre_dispatch`). The two things you'll need to check are the request object and authentication.

[2016-10-06 17:45] #2762 closed, assigned to nobody

[2016-10-06 17:45] kadamwhite commented on #2761
@leroygumede Thanks for using the REST API! How is the `attachment` endpoint being created? It looks like you're explicitly un-registering the `/wp/v2/media` endpoints, which are the normal mechanism for retrieving the attachment for a post (_e.g._ `/wp/v2/media?post=[post_id]`). We'd need to know more about how the `/wp/v2/attachment` routes are being registered in order to help diagnose.

[2016-10-06 17:57] kosso commented on #2762
👍  perfect. thanks!

[2016-10-06 18:07] kadamwhite commented on #2066
In [team discussion on 2016-09-22](https://wordpress.slack.com/archives/core-restapi/p1474581175002875) and reconfirmed on 2016-10-06, we will not be adding a `filter` shim to these endpoints. `filter` on posts is a shim that was created in v1 as a stand-in for future first-degree parameter support, which has since been built out to a substantial degree; introducing the same shim for these resourc

[2016-10-06 18:07] #2066 closed, assigned to nobody

[2016-10-06 18:08] kadamwhite commented on #2299
Resolved by #2720

[2016-10-06 18:08] #2299 closed, assigned to nobody

[2016-10-06 18:08] kadamwhite commented on #2701
Resolved by #2720

[2016-10-06 18:08] #2701 closed, assigned to nobody

[2016-10-06 18:12] kadamwhite commented on #2516
Closing as assumed to be resolved by #2743, thanks @adamsilverstein !

[2016-10-06 18:12] #2516 closed, assigned to adamsilverstein

[2016-10-06 18:22] kadamwhite commented on #1820
Discussion: [2016-09-22 bug scrub](https://wordpress.slack.com/archives/core-restapi/p1474580437002797), [2016-09-26 team meeting](https://wordpress.slack.com/archives/core-restapi/p1474902930003845): moving to 2.1 or beyond, this is not in-scope for 2.0/WP4.7

[2016-10-06 18:26] kadamwhite commented on #1063
I feel like this has been discussed sufficiently at this point, the majority opinion was to leave them as protected. If anybody has a proposal to make a specific method private, that can be submitted individually for consideration.

[2016-10-06 18:26] #1063 closed

[2016-10-06 18:54] kadamwhite commented on #2737
The behavior of auto-drafts is inconsistent and does not do the revisions opt-out thing for which this ticket was originally opened. After discussion with @joehoyle and @rmccue, this ticket (and the code proposed in PR #2745) are being moved to 2.1 so that more time can be spent establishing what the role of auto-drafts should be in an API-enabled WordPress context.

[2016-10-06 19:53] iegoshin opened #2766 "How to add Basic Auth for /wp-json/**"
I am trying to secure /wp-json so everyone has to authenticate to use the API. But I cannot figure out how to do that. I've installed and activated these two plugins:
http://v2.wp-api.org/
https://github.com/WP-API/Basic-Auth

Do I need to do something else to make it working?

[2016-10-06 19:57] BE-Webdesign commented on #2766
Hi @iegoshin,

By default everyone needs to authenticate with the API for private information. However public information, as in pieces of your site that are visible via rss or visually, will be available without authentication via the API by default as well.  If you want to lock down your whole site to only authenticated users you need to [use the `rest_authentication_errors` hook](https://develo

[2016-10-06 20:05] iegoshin commented on #2766
Wow, that was fast :) Thank you for quick reply!

I will need to create a page with JSON API and looking at the reference here (close to the bottom):
http://v2.wp-api.org/reference/pages/
Not exactly sure what should be the URL (if page id doesn't exist yet)

[2016-10-06 20:09] kadamwhite commented on #2201
After looking through the history of this more, I think letting controllers make the call on what to do with stray properties seems sufficient. It seems like being more strict here could rule out dynamically-computed properties, and make it more onerous to register new routes. Since this is out in the wild already, if we were to change this, anybody who has written code that didn't specifically en

[2016-10-06 20:10] iegoshin commented on #2766
Ah, sorry, overlooked it, no id, just POST. Thank you again!

[2016-10-06 21:09] danielbachhuber commented on #2201
This bug still needs to be fixed:

[2016-10-06 21:11] rmccue opened #2767 "`parent` is incorrectly used when querying posts if not in schema"
Splitting from #2201.

[2016-10-06 21:11] rmccue commented on #2201
Split to #2767.

[2016-10-06 21:11] #2201 closed, assigned to nobody

[2016-10-06 21:49] kadamwhite commented on #2145
Revisiting this list in light of `?{taxonomy}[]=` and `?{taxonomy}_exclude[]=`,

As an API consumer, I...
- [x] Should be able to request records that are associated with a specific taxonomy term
- [ ] Should be able to request records that are associated with multiple terms of a single taxonomy (AND)
- [x] Should be able to request records that are associated with any of several terms of a single

[2016-10-06 21:51] kadamwhite opened #2768 "Support querying for records with multiple terms with AND relation"
See #2145: OR and NOT IN handling is present for terms for registered taxonomies, through the use of top-level query parameters for each taxonomy. `categories[]=7&categories[]=9` serves as posts with the categories with ID `7 OR 9`; AND handling is not yet available. Including `tax_query` in `filter[]` was deemed too big a cannon to use to kill this mosquito; this issue tracks revisiting how to ha

[2016-10-06 21:52] kadamwhite commented on #2145
Actually splitting the AND piece off into a new issue because the majority of the use-cases we established should now be supported!

[2016-10-06 21:52] #2145 closed, assigned to nobody

[2016-10-06 22:17] kgrvamsi opened #2769 "REST API is still publicly available with the OAuth plugin activated"
Hello,

I tried installing the WP-API plugin and check with the OAUTH plugin but as I see with some general issues still which are closed but I want to know how can I render the posts details through API only for Authenticated users/Applications based upon the tokens?

Access for everyone even we have the OAUTH token dosent make sense.

So apart from "Go and write your own Authentication strategy"

[2016-10-06 23:18] joehoyle commented on #2769
@kgrvamsi the OAuth plugin is meant to add the oauth1 authentication mechanism to the REST API, it's not meant to be make public things private. This just allows you to use OAuth1 as a means of making authentication requests with the API.

If you want to disable unauthenticated access to the rest api endpoints, you can make use of the `rest_authentication_errors` filter with something like:

[code

[2016-10-06 23:18] #2769 closed, assigned to nobody

[2016-10-07 01:48] BE-Webdesign commented on #2194
Well I have tried a bunch of different ways to do it and none of them really turned out well I will pass this on to someone else who has a better idea of how to do it.  I may come back to this at a later date, but it would be more productive for me to work on the documentation portions of things, for the time being.

[2016-10-07 03:47] bestony opened #2771 "How To Delete Some Info From API"
I Want to Only show title,author,id exclude content to save bandwidth for some bad network

[2016-10-07 13:11] kosso commented on #2771
See here to learn how to modify the responses with a plugin script.

http://v2.wp-api.org/extending/modifying/

Or you could create your own namespaced endpoints and deliver what you need.

http://v2.wp-api.org/extending/adding/

[2016-10-07 13:28] kosso opened #2772 "Plugin directory entry for REST API v2 says not tested with 4.6.1?"
I have the latest WP 4.6.1 installed and noticed the info for the v2 REST API [2.0-beta14] says :

"Untested with your version of WordPress"

Details pane says "Compatible up to: 4.5.4".

[2016-10-07 14:04] sedubois commented on #2734
Drupal is now providing GraphQL (demoed with Auth0, Relay, React, CSS modules): https://www.youtube.com/watch?v=yhyoQwuSUWo

For context also see this (one year old) [article](http://buytaert.net/the-future-of-decoupled-drupal) about Drupal decoupling backend and frontend, and seeing GraphQL as instrumental in doing so.

[2016-10-07 14:24] rachelbaker commented on #2772
@kosso Thank you for the heads up.  I will get that updated today.

[2016-10-07 14:34] sedubois commented on #2734
GraphQL has reached version 1.0 and has been declared "production ready".

[2016-10-07 14:40] bestony commented on #2771
Well,I don't want to make a ext . i just want to hide the content for save bandwidth

[2016-10-07 14:43] rachelbaker commented on #2772
Fixed: https://cloudup.com/cpIAsbsmCpP

[2016-10-07 14:43] #2772 closed, assigned to rachelbaker

[2016-10-07 14:44] #2766 closed, assigned to nobody

[2016-10-07 15:02] kosso commented on #2771
I agree that it would be nice to filter the fields we need, but see the later comments on #446 and #572 and it seems that it's the only way to go. For now.

[2016-10-07 15:05] bestony commented on #2771
well, i can make new namespace , but i also want it can add to do list

[2016-10-07 15:05] BE-Webdesign commented on #2734
@sedubois Checkout WordExpress.io. It is a low level (in the sense that it only touches the WordPress database) GraphQL, Express, Apollo, and React application.  Creating a GraphQL API for WordPress that still uses all of the extensibility of WordPress, not just its database, would require a lot more effort and most likely it will be built on top of this project, the WordPress REST API, which is n

[2016-10-07 15:20] kosso commented on #2771
I found this useful : http://boris.kuzmanov.ninja/wp-rest-api-modifying-json-response/

But I would recommend a custom endpoint. As they mention on the [Modifying Responses](http://v2.wp-api.org/extending/modifying/#important-note-about-changing-responses) page, it can be unwise to remove fields from the standard wp/v2 responses, as other clients might expect the fields to be present.

[2016-10-07 15:39] kosso commented on #2771
How about something like this? Using a custom `_compact` parameter:

[code]

then hit `/wp-json/wp/v2/posts?_compact`

[2016-10-07 18:34] jetaro1 commented on #2701
thank you :)

[2016-10-07 18:35] kadamwhite commented on #2771
@kosso @bestony I'm closing this as superseded by https://core.trac.wordpress.org/ticket/38131 which proposes a `?fields=id,title,link` query parameter that can be used to restrict results; that interface is used by the WordPress.com API and I've proposed it for inclusion here in #2773 but the change would likely need to occur in within the infrastructure already committed to core.

[2016-10-07 18:35] #2771 closed, assigned to nobody

[2016-10-07 18:35] kadamwhite commented on #2771
Thanks for raising this, by the way; it's been weighing on my mind that we don't have an interface for it and this was a good push to try to do something about it :)

[2016-10-07 18:37] kosso commented on #2771
👍

[2016-10-07 21:18] Tschuky101 opened #2774 "Register Rest api"
i am trying to get post meta from my custom post type. however when i use the guide on http://v2.wp-api.org/extending/modifying/ I only receive an empty response from the REST request.

Here is my CPT code with the register_REST_field

[code]

Here is the REST response:

[code]

any help would be greatly appreciated.

[2016-10-07 21:23] kadamwhite commented on #2774
Hello @Tschuky101 and thanks for using the REST API. I caveat this suggestion with the fact that I haven't thoroughly read through all of the code you shared, but one thing to try would be to run 'testimonials_fields' on `init` instead of `rest_api_init`; will try to dig in later for better assistance if that doesn't work.

Edit: re-read the documentation and that advice is likely off-base. Going

[2016-10-07 21:28] Tschuky101 commented on #2774
Trying to run in on `init` instead of 'rest_api_init' doesn't change the response. the fields are being added into the json response that i am getting, but the post_meta isn't being pulled from the DB

[2016-10-07 22:40] bestony commented on #2771
:+1:

[2016-10-08 08:14] Purus commented on #2760
/wp-json/ returns meta information about the site.

/wp-json/categories does not work.

/wp-json/posts works.

[2016-10-08 08:40] Purus commented on #2760
Sorry for the trouble. Strangely it started to work when I did some changes related to Cache. some conflicts with v1 and v2 I guess.

Thanks for your support.

[2016-10-08 08:40] #2760 closed, assigned to nobody

[2016-10-08 11:25] duhaime commented on #808
In case others end up here looking to configure the WP REST API in a subdirectory, I wanted to send a quick note. I had a CentOS instance with httpd installed, and my setup looked like:

[code]

My client side application opened fine at my ip address, and the wp files opened fine at my ip address/wordpress/wp-admin, but the API sent 404 responses until I modified the .htaccess file in /var/www/htm

[2016-10-09 01:52] boonebgorges opened #2776 "`$use_cache` block is (still) unused in terms controller"
Previously: #2311, reverted in #2318.

From https://github.com/WP-API/WP-API/pull/2311#issuecomment-188549081:

I'm not sure what the cache here is intended to be. Is it related to `get_terms_for_post()`? If so, the `$use_cache` block can probably be re-removed alongside #2740.

[2016-10-09 02:12] boonebgorges opened #2777 "Use more specific caps for single terms in term controller"
Since https://core.trac.wordpress.org/ticket/35614, core has supported cap checks that are specific to the action as well as the term - `edit_term`, `delete_term`, `assign_term`. The single-item checks in `WP_REST_Terms_Controller` should use these caps.

[2016-10-09 12:38] msaashish opened #2781 "how to attach media with post in WordPress REST API (Version 2)"
I am trying to post data with attachment but i am not sure how to get file and attach to post when creating post using WordPress REST API (Version 2) i am confused about documentation which is not sure about media upload can any body know how to post data with attachment?

[2016-10-09 13:09] fabioduque opened #2782 "Not getting content of password protected page, when passing "password" in query string"
I am new with WP-API, and I've been trying to access a password-protected page, without success.

I found [#2720](https://github.com/WP-API/WP-API/pull/2720) and I tried to make a request like this:

`http://example.com/wp-json/wp/v2/pages/11?password=thepassword`

This gives me the same result as doing the request without the query string.
I get an empty string on content.rendered and excerpt.ren

[2016-10-10 15:01] rachelbaker commented on #2758
Following up with [discussions/decisions in Slack](https://wordpress.slack.com/archives/core-restapi/p1475766131005346):

We agreed all controllers should accept POST/PUT parameters from BOTH the `raw` key of a nested object (`title.raw` or `content.raw`) and top-level object name (`title` or `content`).  The Posts Controller already does this.  Comments controller being handled in #2741

Yes, thi

[2016-10-10 15:22] rachelbaker opened #2783 "Modify the schema to apply callbacks or required parameters to nested objects"
Allow schema properties like `sanitization_callback`, `type`, `required`, etc. to be set and processed on nested objects.

Currently `rest_sanitize_request_arg()` and `rest_validate_request_arg()` only handle properties set on the top level of nested objects, which means if we try to set properties on `content.raw` they are ignored.

[2016-10-10 15:22] rachelbaker commented on #2783
Split off from #2758

[2016-10-10 15:23] rachelbaker commented on #2758
Can close once #2741 is merged

[2016-10-10 15:24] rachelbaker commented on #2783
@rmccue You mentioned that you might take a swing at this for Meta, still interested?

[2016-10-10 15:31] MehediH opened #2784 "Remove _links from response"
Hey guys,

I am currently modifying the REST API v2 and couldn't find a way to remove the _links from the responses.

Is there anyway to remove that?

Thanks

[2016-10-10 15:34] t-grm commented on #2784
Related: https://core.trac.wordpress.org/ticket/38131

[2016-10-10 15:41] rachelbaker opened #2785 "On Comment POST/PUT return WP_Error for strings that exceed the DB column size"
Mimic the logic in `wp_handle_comment_submission()` to use `wp_get_comment_fields_max_lengths()` and return the appropriate error for
'comment_author', 'comment_author_email', 'comment_author_url', or 'comment_content' strings that exceed the maximum length of their column in the database.

[2016-10-10 15:49] rachelbaker opened #2786 "Allow POST Comment requests to set the user agent value"
As of WordPress 4.3 the `wp_new_comment()` function has been updated to allow the `comment_agent` value to be set when a comment is created.  We no longer need to set the value to an empty string.

[2016-10-10 16:42] rachelbaker opened #2787 "API should honor the `unfiltered_html` capability"
Should we match WordPress Core's logic when users with the `unfiltered_html` capability are creating/updating Posts or Comments?

For Posts:
- Core removes the appropriate `kses` filter from sanitizing post_content and the post_title.

For Comments:
- Core changes the active `kses` filter used for sanitizing comment_content to `wp_filter_post_kses()`.

See the `kses_init()` function in WP Core for

[2016-10-10 18:00] kadamwhite commented on #2784
@MehediH As you can see in the patch in that track ticket, filtering the results on `rest_post_dispatch` is the most centralized place to be able to remove `_links`; I recommend only doing so when a query parameter is passed, however, so that you don't inadvertantly block other plugins you may want to use from taking advantage of `_links`.

One of the open questions in that core ticket is how this

[2016-10-10 18:00] kadamwhite commented on #2784
I'm going to close this because any built-in change to `_links` handling would need to happen at the core infrastructure level, so it's out-of-scope for this plugin (which is for surfacing specific content types using that underlying infrastructure)

[2016-10-10 18:00] #2784 closed, assigned to nobody

[2016-10-10 18:07] kadamwhite commented on #2782
@fabioduque Thanks for using the REST API! I'm unable to replicate this issue at the moment -- when I create a password-protected page with password "thepassword" (using the v2 REST API plugin Beta 15, released at the end of last week), I am able to correctly see the password contents when providing the password as `/wp/v2/pages/1904?password=thepassword`.

Can you confirm which version of the plu

[2016-10-10 18:23] fabioduque commented on #2782
Hi!
Thank you for your response.

This is a fresh installation of Wordpress (latest version: 4.6.1) and the plugin is also at the latest version:
2.0-beta15.

I have tried multiple times, with different passwords and I'm mainly using Postman, but I've also tried with Chrome and Firefox directly (since it's a GET) and the result is the same JSON.

Just to give you more information, which I don't kn

[2016-10-10 19:14] rachelbaker opened #2788 "Change the `post_title` database sanitization function to`wp_filter_kses()`"
We should match WordPress Core's sanitization function when adding/updating the title of a Post.  WordPress Core uses [`wp_filter_kses()`](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/kses.php#L1625) but we use [`wp_filter_post_kses()`](https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-posts-controller.php#L804).

[2016-10-10 19:28] rachelbaker commented on #2673
Closing with the merge of #2739

[2016-10-10 19:28] #2673 closed, assigned to joehoyle

[2016-10-10 19:38] rachelbaker opened #2790 "Return an error when a Comment POST request is attempted for a trashed or draft Post"
WordPress returns an error when a user tries to leave a comment on a post that is either is draft or in the trash and we should too.

See related logic in `wp_handle_comment_submission()`

[2016-10-10 19:43] rachelbaker opened #2791 "Add support for Comments of password-protected Posts"
Accept the post_password via a query param in the Comments Controller to allow viewing, creating, updating, deleting comments on password protected posts if the provided `password` matches.

[2016-10-10 19:47] rachelbaker commented on #2632
@rmccue confirming this is a bug in the current logic.

[2016-10-10 19:56] tharsheblows opened #2792 "Updating a meta value which is the same as the current value returns error"
I'm not sure if this is desired but it surprised me. If you try to update a meta value to the value currently in the database, the response is a 500 error. This is due to a check in update_metadata() which returns false if the values are the same. It might make a bit more sense to not return an error as you end up with the expected meta_value. [This checks and avoids the error.](https://github.com

[2016-10-10 21:08] westonruter commented on #2788
I recommend against using `wp_filter_post_kses()` and `wp_filter_kses()` because they eat slashes. Consider:

[code]

The core function seems to assumes pre-slashed data but in my experience even with slashing it can be lossy. And since `$request` isn't pre-slashed, I think instead of calling `wp_filter_kses()` I suggest calling the the underlying code without the slashing:

[code]

I think `curre

[2016-10-10 21:34] bomshteyn opened #2793 "Error 500 when not logged in"
We used the plugin successfully for last 6 months, until we updated the plugin a few days ago. (we might have been behind by few releases)

Since then when doing GET /wp-json/wp/v2/posts we get 500 error

But if i first log in into the WP admin the  the same API call works in the browser.

Is there a new requirement that all requests be authenticated, even read / get requests?

[2016-10-11 10:39] sedubois commented on #2734
@BE-Webdesign thanks, I still need to evaluate it properly. That would however require to maintain my own backend, not to mention that it is a single-developer effort, not backed by your organization.

I just discovered Relax CMS which is based on GraphQL, beta should be out next month but already has over 6000 stars: https://github.com/relax/relax (don't know if there are plans for a cloud servic

[2016-10-11 14:08] fabioduque commented on #2782
Hi @kadamwhite.

Just to let you know that I've tried to install the plugin in another Wordpress installation and the same thing happened:
- locked the page with a password
- Made a GET request without password and the string is empty
- Made a request with ?password=thepassword and the string still comes empty
- A different password gives me an error message.

Cheers!

[2016-10-11 14:45] #2758 closed, assigned to nobody

[2016-10-11 15:38] rachelbaker commented on #2792
I don't remember what we used to do in this case.  We should check how this issue was handled in v1.

[2016-10-11 15:42] kadamwhite commented on #2792
I agree that it would make a lot more sense to not error in that case.

[2016-10-11 15:48] mateikki opened #2797 "REST API Cookie Authentication"
Hello,
in rest-api.php (WordPress 4.6.1 core) there are these lines (lines 566-563)
`/*
     * Is cookie authentication being used? (If we get an auth
     * error, but we're still logged in, another authentication
     * must have been used).
     */
    if ( true !== $wp_rest_auth_cookie && is_user_logged_in() ) {
        return $result;
    }`

Now when i try to authenticate my REST API request

[2016-10-11 15:53] joehoyle opened #2798 "Whitelist the allowed types in Meta Endpoint"
Currently we handle registering meta even if your register the type as anything other than `boolean` `number` and `string`, however we don't currently have great ways to handle non-scaler meta. For now, let's whitelist these types and throw a `doing_it_wrong` if meta is registered with an invalid type.

[2016-10-11 16:28] rachelbaker opened #2799 "Remove the `filter` param and NEVER EVER EVER bring it back"
Hiding WP_Query params under the `filter` key (instead of allowing them to be top-level params) was one of our biggest complaints from users of v1 of our REST API.  In Beta 15 [the WP_Query vars in the Posts Controller were moved under the `filter` param](https://github.com/WP-API/WP-API/commit/6b31826acf2ea35a8308fe8558ad76ec812d47cf), inspired by our v1 architecture. 🙍

Now we have an inconsiste

[2016-10-11 16:29] rachelbaker commented on #2799
Related Slack discussion:
https://wordpress.slack.com/archives/core-restapi/p1476202307006199

[2016-10-11 17:16] tharsheblows opened #2801 "use proper checks in update_meta_value etc"
Currently when you update a meta value, it checks  `current_user_can('edit_post_meta')` regardless of the actual object type. It needs to use object type dependent capability checks. These aren't in core yet but there's a ticket here:
https://core.trac.wordpress.org/ticket/38284

A workaround for the time being would be to check `edit_{$object_type}` I suppose.

[2016-10-11 20:53] kadamwhite opened #2803 "/wp/v2/taxonomies object returns JSON array (not object) on invalid query"
`/wp/v2/taxonomies?type=wingding` will yield `[]`, when the default response for the endpoint is a keyed object. I presume that the object returned from the API should be consistently formed, so I raise whether we should return `{}` instead if an invalid type property is provided (or whether a descriptive error should be returned instead).

[2016-10-12 02:37] zachwills commented on #2790
I looked into that function and it looks like WordPress also runs these actions:

`do_action( 'comment_on_trash', $comment_post_ID );` (line 2816 in `wp-includes/comment.php`)
`do_action( 'comment_on_draft', $comment_post_ID );` (line 2829 in `wp-includes/comment.php`)

Should we run those within the REST API response before returning the error?

[2016-10-12 06:40] mayukojpn opened #2806 "load_plugin_textdomain is missing."
We need `load_plugin_textdomain` to recognize text domain for translation editor like Poedit or GlotPress.

[2016-10-12 07:10] rocket2046 commented on #475
@danielbachhuber v2 still
how can i fix the issue.
wp-json/wp/v2/posts :  The server encountered an internal error or misconfiguration and was unable to complete your request.

[2016-10-12 07:12] rocket2046 opened #2808 "wp-json/wp/v2/posts 500 Internal Server Error"
when fetching a large number of posts
wp-json/wp/v2/posts  or /pages  500 Internal Server  Error
 wp-json/wp/v2/  is well
wp-json/wp/v2/posts/id  is well
@danielpunkass
@kokarn

[2016-10-12 08:10] websupporter commented on #2806
Hi @mayukojpn,
thanks so much for your effort and contributing. It is really appreciated.

But I think, since this plugin is supposed to merge into core we do not need a textdomain.

[2016-10-12 08:17] mayukojpn commented on #2806
Hi @websupporter
Jorbin asked us to test internationalization on Slack polyglots channel, but we need text domain to do that.
https://wordpress.slack.com/archives/polyglots/p1476112154002294

[2016-10-12 08:17] websupporter commented on #2806
Ah sorry. I didn't get that. If you need any help, hit me on Slack :)

[2016-10-12 08:22] websupporter commented on #2806
But right now, we do not use the textdomain `rest-api`. We just use `__( 'Translate' )`... Is this a problem?

See for example here: https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-attachments-controller.php#L45

[2016-10-12 08:28] mayukojpn commented on #2806
Yes, We also need add textdomain after strings. Otherwise WordPress will use core translation file. I'm also working for that!

[2016-10-12 08:38] miya0001 commented on #2806
I feel that textdomain should not be added to this plugin, because we have to remove them after merging into WordPress core.
We need to try to generate `.po` with WordPress core, so we can translate them.
Maybe it is not difficult.

@mayukojpn May I do it?

[2016-10-12 08:39] mayukojpn commented on #2806
Thank you @miya0001 ! Can you talk with Jorbin about that?

[2016-10-12 10:34] miya0001 commented on #2806
Hi,
I developed a plugin that allowed you to translate temporarily rest-api plugin.
If you activate this plugin, you don't need to change textdomain or so.

Thanks!

https://github.com/miya0001/wp-api-i18n

[2016-10-12 13:52] #2792 closed, assigned to nobody

[2016-10-12 16:41] alanmoo opened #2815 "Can I access draft posts from a client site without OAuth?"
I have a site built that pull posts from the WP-API and renders them in a React component. It works great (thank you for making this!)

I want authors to be able to preview their posts on that site, but I'm having trouble figuring out if that's possible without implementing OAuth on the client site (it's a React app served up by express, so I'd really rather avoid that for this one use case). I've

[2016-10-12 16:42] kadamwhite commented on #2799
I am in favor of removing `filter`, my impression was always that it was a placeholder shim to permit certain types of queries temporarily until they could be supported on a first-party basis by the API. While we do not have full feature parity with WP_Query through first-party (non-`filter`) parameters, exposing WP_Query through `filter` has and will continue to be difficult to support.

I second

[2016-10-12 16:58] danielbachhuber commented on #2799
I'm in favor of removing `filter`, and like the idea that we can introduce a plugin to shim the existing behavior.

[2016-10-12 17:01] kadamwhite commented on #2815
@alanmoo Thanks for the question, and thank you for using the REST API; we're glad to hear it has been helpful!

To clarify your question, authors are writing their posts within WP-Admin? Drafts are not available from an external client without authentication, so unfortunately there is no approach I can recommend to get preview access to posts without going through OAuth or one of the other extern

[2016-10-12 17:01] #2815 closed, assigned to nobody

[2016-10-12 17:02] kadamwhite commented on #2808
@rocket2046 Thanks for using the REST API, and for your bug report. Can you clarify how many posts you are requesting when you see this error, and share the version of the beta plugin that you have installed?

[2016-10-12 17:12] rocket2046 commented on #2808
Thank for your replay.  @kadamwhite
today  is  2.0-beta15 ,before is  2.0-beta13.1. Upgrade today.
2.0-beta13.1  500
 2.0-beta15 still 500

Generally more than 5 articles per second,it will be 500.
1-2 seconds at the same time release, more than five articles, there will be 500

1:Remove the latest part of the article,it is restored.
2:Re-add a new category, you can also restore
 Only to restore j

[2016-10-12 17:23] alanmoo commented on #2815
That's correct, posts are written within WP-Admin. The request starts when an author clicks the "preview" button in WP-Admin, hits the express server which serves up the React app, and then the client side React app would try to access the API.

I haven't really worked with cookies before, but I suspect the problem is that the client app doesn't have access to cookies written on the WP-Admin domai

[2016-10-12 20:03] sigaev-pro commented on #2639
Hi!

I have same issue. I have installed [Basic Auth](https://github.com/WP-API/Basic-Auth) pligin, but /users/me gives me the same error.

Authorization headers are present!

{
    "cookie": [
        "wp-settings-1=libraryContent%3Dbrowse%26hidetb%3D1%26editor%3Dtinymce%26mfold%3Do%26woosidebarsshowadvanced%3D1; wp-settings-time-1=1475495114; wordpress_logged_in_33f0e8fc1bbfb1f159bcedadef4e282c=

[2016-10-12 20:29] diego-betto commented on #2791
I think that depends on discussion settings (everyone, only registered, ecc)
Anyhow we should use the same logic of creating or reading a password-protected post, if the goal is to allow the use of the rest api.

[2016-10-12 21:01] mnelson4 commented on #2799
+1 remove it and provide a shim.

It would probably be nice to have a `doing_it_wrong` message for anyone who's still using it (and that message could point them the shim plugin), although I'm not sure if implementing that in the REST API would be as simple as it is normally (I suppose we'd need to just have a full-on error, instead of a mild notice).

[2016-10-12 22:09] JPry commented on #2799
👍 to removing `filter`.

[2016-10-12 22:57] mnelson4 commented on #2787
So we don't all need to dig into the code, what's the current behaviour in the WP API? Assuming the user doesn't have the 'unfiltered_html' capability? I'm guessing the WP API pretends no one has the'unfiltered_html' capability, and so strips potentially-harmful html from all posts when updated, right?

I suppose it's a tradeoff between security (if we honor 'unfiltered_html' and a users' password

[2016-10-13 08:24] tobeycodes opened #2821 "Pass request to rest_query_vars filter"
I want to be able to allow additional query parameters only when a specific request parameter exists to perform a meta query and ultimately return some posts.

Currently I've created a completely new endpoint that creates a new instance of `WP_REST_Posts_Controller` and ultimately returns the same output as the posts endpoint.

I propose that we pass the `WP_REST_Request` instance through the cons

[2016-10-13 08:58] tobeycodes commented on #2821
Not sure if this pseudo code works but I want to be able to do perform a `rest_review_id_exists` check on the `rest_query_vars` function

https://gist.github.com/schrapel/2945762fa83b487edeab7f090b62485e

[2016-10-13 11:10] jensschneider opened #2822 "AppAuth and BasicAuth doesn't work"
Both Authorization-Methods (App and Basic) doesn't work.

I'm using following versions:
- WordPress 4.6.1-de_DE
- WP REST API 2.0-beta15
- JSON Basic Authentication 0.1
- Application Passwords (from George Stephanis) 0.1-dev

`{
  "code": "rest_forbidden",
  "message": "Du bist leider nicht berechtigt, dies zu tun.",
  "data": {
    "status": 403
  }
}`

[2016-10-13 11:12] omariosouto opened #2823 "Wp Api - Menu plugin error"
I'm trying to retrieve data from my menus, but when I install the plugin that is on the docs of Wp API for this, it's give an error in line 183. Exists another way to get data from Wp menus?

[2016-10-13 12:05] rachelbaker commented on #2776
fixed in  #2820

[2016-10-13 12:05] #2776 closed, assigned to nobody

[2016-10-13 14:57] tharsheblows commented on #2801
When I looked at it a bit more in depth, I ended up with this explanation of the core issue: https://core.trac.wordpress.org/ticket/38303

I think I was a little unclear before -- what I meant to say was that comment meta, term meta and user meta can't be updated using the REST API due to the issue in core.

This is what the fix looks like:
https://github.com/tharsheblows/WP-API/commit/e71d4bddd7a

[2016-10-13 15:04] tharsheblows commented on #2798
Is this a security issue? If it's not then I think just leave it as "no objects" or even "no objects which aren't stdClass obj". It's just that it will be far easier for people to use it, otherwise they're going to wonder how they're doing register_meta wrong.

[2016-10-13 15:40] trevordevore opened #2824 "Update the image file associated with an attachment"
Hi,

The `WP_REST_Attachments_Controller` `create_item` method will process an uploaded file and associate it with the attachment. `update_item`, however, does not look for an uploaded file. It appears that there isn't a way to update the associated attachment image file. Perhaps there is a way to update the associated image that I'm overlooking? If not, is this by design or is it just something t

[2016-10-13 15:40] danielbachhuber commented on #2824
I don't believe WordPress core supports this?

[2016-10-13 15:44] trevordevore commented on #2824
I'm not sure. I only dabble in WordPress once in a while. `update_item` doesn't call `wp_update_post` but if it did then `wp_update_post` calls `wp_insert_attachment` which in turn calls `wp_insert_post`. `create_item` calls `wp_insert_post` which processes the uploaded file. So it seems to me that if `update_item` called `wp_update_post` and passed in the file data then the file would get updated

[2016-10-13 15:55] trevordevore commented on #2824
I'm mistaken, `update_item` does call `wp_update_post` via the `WP_REST_Posts_Controller` parent class. `update_item` isn't looking for uploaded image data like `create_item` does.

[2016-10-13 16:11] joehoyle commented on #2798
It becomes more complex with nested objects, arrays etc, which is why I think we should stick to the scalar types at first. However, once we have (hopefully soon) support for recursively checking objects and arrays, then I think we'd allow them too. I'd like to be able to continue to cast all values to their correct types, and full validation on input. Right now, I could quite easily mess up secur

[2016-10-13 17:16] beatelite opened #2825 "500 internal server error when PUT to user endpoint"
Here's a weird one.

I'm getting users wp-json/wp/v2/users/17?context=edit

when I PUT  any changes to the same endpoint (minus the context=edit) wp-json/wp/v2/users/17

I get a 500 internal server error. All the other endpoints work perfectly.

Version: 2.0-beta13.1
Here's the request:
https://gist.github.com/beatelite/7008030e6a22caa2e8a18fbfa79288b0

[2016-10-13 17:24] stephywells opened #2826 "$request->get_params strips numeric keys"
Right now, a numeric key is getting stripped.

Body: {"41150":"API value"}

After get_params: [1] => API value

Pull request incoming.
$params = $params + (array) $this->params[ $type ];

[2016-10-13 17:25] stephywells commented on #2826
Oh wait... No pull request. This is in core.

So line 453:
$params = array_merge( $params, (array) $this->params[ $type ] );

should be:
$params = $params + (array) $this->params[ $type ];

[2016-10-13 17:55] #2826 closed, assigned to nobody

[2016-10-13 18:09] JasonTheAdams opened #2827 "Why do the settings delete on null?"
I was a bit confused when I came across this line: https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-settings-controller.php#L102

[code]

Specifically the idea that an empty value means that the option ought to be deleted. There's quite a difference between an empty value (and even a null value) compared to the option being removed entirely. Shouldn't deleting be limited t

[2016-10-13 21:58] michmzr opened #2829 "Creating media - file is too small"
Hi,

I would like to use Guzzle and upload a media file to Wordpress.
This is my simplified code:
`$content = $file->fread($file->getSize());

[code]

I get a correct HTTP answer from WP. New record in media library is created, but I find a media file with json code in /uploads directory.

How should I create a http request to create/update media on WP using Guzzle?

M.

[2016-10-13 22:09] tharsheblows commented on #2798
That makes sense. Could you wait on this for a few days? I have something that I did once that might fit and I know I looked at it once months and months ago. Might be a total bust admittedly.

[2016-10-14 00:10] rmccue commented on #2827
WordPress is not really able to store `null` values for options or meta. We use `null` to specifically mean "no value exists for this property"; if you set a value to `null`, that means "remove this value".

#2657 sums up our discussion and decisions on this.

Not quite: POST/PUT are for creating and updating respectively, but only in the context of operating on _resources_. In this case, the reso

[2016-10-14 00:10] #2827 closed, assigned to nobody

[2016-10-14 00:13] rmccue commented on #2824
This is a duplicate of #2715; basically, at its core, WordPress does not support replacing existing image files.

[2016-10-14 00:13] #2824 closed, assigned to nobody

[2016-10-14 00:18] rmccue commented on #2823
Menus are not supported natively in the core REST API plugin, but are instead supported [in a separate plugin](https://github.com/WP-API/wp-api-menus-widgets-endpoints).

[2016-10-14 00:18] #2823 closed, assigned to nobody

[2016-10-14 00:35] rmccue commented on #2829
Creating media is a two-step process:
1. Send the raw image data as a POST request to `/wp/v2/media`. This needs a Content-Disposition header with a filename. This returns a 201 Created with a Location header pointing to the new attachment post.
2. Update the attachment post with the relevant data.

In the above, it appears you're trying to do both of these steps at once. The file needs to be sent

[2016-10-14 00:35] #2829 closed, assigned to nobody

[2016-10-14 14:26] #2767 closed, assigned to rmccue

[2016-10-14 16:56] Shelob9 opened #2836 "When querying revisions $post is not an object in get_the_content()"
I am making GET request to `/wp-json/wp/v2/posts/1/revisions/` Error is: `Trying to get property of non-object in wp-includes/post-template.php on line 298`

That is in get_the_content(), where it uses `$post->post_content` L263 is `$post = get_post();` but there is way that will return a `WP_Post` in that context.

Here is my xdebug output to show how it got to `get_the_content()` https://pastebi

[2016-10-14 17:00] kadamwhite commented on #2781
@msaashish Thanks for trying out the REST API. We hope to expand the documentation around media handling in the coming weeks, right now all hands have been on deck working on the merge proposal; I'm going to link you to this guide which shows how the flow works in JavaScript http://wp-api.org/node-wpapi/guides/2016/08/15/create-a-post-with-featured-media.html which will hopefully be useful as an e

[2016-10-14 17:00] #2781 closed, assigned to nobody

[2016-10-14 17:32] kadamwhite commented on #2836
working on this now

[2016-10-14 18:17] kadamwhite commented on #2836
Looks like the error is originating in this line within class-wp-rest-revisions-controller:

[code]

If this is changed to `$excerpt = $excerpt` the bug does not occur and proper JSON is returned.

This sequence of filters is traceable to https://github.com/WP-API/WP-API/commit/fb045337f6d20528337e515c2938c6bc70d79254 and https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-po

[2016-10-14 18:48] kadamwhite commented on #2836
Should be resolved by #2837

[2016-10-14 18:48] #2836 closed, assigned to kadamwhite

[2016-10-14 20:09] kadamwhite commented on #2782
I was just able to reproduce using the stable WordPress install within VVV. Debugging now.

[2016-10-14 20:12] trevordevore commented on #2824
Okay. I was expecting it to as the xmlrpc interface allows you to replace images. No worries, I'll just delete images if they need updating.

[2016-10-14 20:18] kadamwhite commented on #2782
Turning over to @joehoyle, looks like the filter on which this functionality depends was added in 4.7 and is not present in 4.6

[2016-10-14 20:20] joehoyle commented on #2782
Yup, so, short answer, viewing the post content is only supported in 4.7, as that's when the `post_password_required` filter was added. The reason why this feature didn't exist for so long in the REST API is that it was virtually impossible to overload this functionality, hence not being able to fix it for 4.6. I don't know if we did a great job of making that clear, so apologies for that.

[2016-10-14 20:20] #2782 closed, assigned to joehoyle

[2016-10-14 20:22] kadamwhite commented on #2782
I don't think we even _began_ to make that clear, https://make.wordpress.org/core/2016/10/01/wordpress-rest-api-2-0-beta-14/ made no communication about this being 4.7-only. Our apologies on that, @fabioduque, that's our miss.

[2016-10-14 20:37] kadamwhite commented on #2825
@beatelite thanks for using the REST API, and for reporting your issue. I've been digging in to this one and so far I'm not able to reproduce. What environment are you sending the PUT request from, and what is the difference between the existing data and the updated data?

[2016-10-14 20:48] kadamwhite commented on #2825
Here's the test script I used to validate the functionality is working as expected in my environment: it's a Node script because that's what I could put together fastest. It assumes that the npm package "wpapi" is installed, and was run in Node 6. The script creates a user, then attempts to PUT a new first_name property to that user. In my environment all requests succeed and the user is updated a

[2016-10-14 20:51] kadamwhite commented on #2822
@jensschneider Thanks for using the REST API, and for logging this issue. Can you share the format (although not the real credentials!) of the request you are making with Basic Auth that is failing? I'd also suggest opening an issue for Application Passwords on that project, since it's maintained separately.

[2016-10-14 20:58] #2821 closed, assigned to nobody

[2016-10-14 22:07] kadamwhite opened #2838 "API should error when attempting to update a registered meta field holding an invalid value"
Based on discussion following #2765:

Registering a meta field defines the data type that field should contain, but there are ways outside of the API's purview that a post could come to hold an invalid value in that meta field, such as a serialized object, which does not match the registered type. If the API tries to update the value of a meta object and the API discovers that an invalid type of d

[2016-10-14 22:10] kadamwhite commented on #2806
Milestoning this as 2.1 because text domains can be added once the go/no-go on 4.7 is received. Thanks for your assistance @miya0001, this is hugely helpful!

[2016-10-15 17:02] kadamwhite commented on #2793
@nathan6137 thanks for using the REST API, glad to hear it has been useful to you (and sorry not to respond to this sooner). There have been no changes to the authentication requirements for GET requests, and an authentication error would be a 40x, not a 500—sounds like something else is going on.

Some questions to try to dig in:
- What version of WordPress are you using?
- Do you have any server

[2016-10-15 17:40] kadamwhite commented on #2808
@rocket2046 thank you for your response. I could use some more specifics around

It sounds like you're getting a 500 error if you request more than five articles in one request, and one request per second? e.g., `/wp/v2/posts?per_page=6`, then `/wp/v2/posts?per_page=6&page=2` a second later, is causing the error? That's definitely unusual, the API should be able to handle many posts in one request

[2016-10-16 17:25] kadamwhite commented on #2797
@mateikki thank you for the question. I believe that this logic is correct -- the conditional you are highlighting is designed to short-circuit the cookie authentication verification process when a different authentication scheme is in play. To answer the second part of your question, how are you passing the NONCE value back to WordPress in your requests? It may be an issue with how the request is

[2016-10-16 17:49] kadamwhite commented on #2774
@Tschuky101 I had some time to look into this further and I think I've figured it out: the issue is that you were setting the custom values on one single meta key 'testimonial' (the value of `$key` during your call to `update_post_meta` in the metabox code). This means that e.g. `get_post_meta( $id, 'company', true )` won't match any values, because there is no `company` meta key -- there's a `tes

[2016-10-16 17:49] #2774 closed, assigned to nobody

[2016-10-16 17:50] kadamwhite commented on #2774
I hope this helps, I've closed the issue but please respond here if that doesn't get you sorted; thanks for using the REST API!

[2016-10-16 17:52] kadamwhite commented on #2749
Milestoned at 2.1, there's enough open questions that this is out of scope for this cycle. Out-of-band conversation w/ API team and 4.7  release leads indicate this shouldn't be a blocker for the merge proposal.

[2016-10-16 17:58] kadamwhite commented on #2803
Takin' a crack at this now

[2016-10-16 18:33] kadamwhite commented on #2284
This should be resolved now that #2741 has been merged

[2016-10-16 18:33] #2284 closed, assigned to rachelbaker

[2016-10-16 18:36] kadamwhite commented on #2012
Moved to 2.1 based on discussion in Slack that trackback and pingback endpoints shouldn't block the 4.7 merge discussion

[2016-10-16 23:54] Jany-M commented on #2468
@arielweinberger did you find a good solution and if so, could you share a couple examples?

[2016-10-17 00:05] Jany-M commented on #1350
Any updates on this? http://demo.wp-api.org/wp-json/wp/v2/posts?s=libero does not work actually.
It just shows all posts, regardless the `search`string.

[2016-10-17 00:25] kadamwhite opened #2844 "Can Access-Control-Allow-Headers be customized?"
In #1529 @rickharrison asks,

[2016-10-17 00:38] Shelob9 commented on #2844
@rickharrison I would use the "rest_pre_serve_request " filter. I have a post on sending cross-origin headers. The example code in that could be changed to fit your needs:
https://joshpress.net/access-control-headers-for-the-wordpress-rest-api/

[2016-10-17 01:22] #2803 closed, assigned to kadamwhite

[2016-10-17 01:32] kadamwhite commented on #2844
@shelob9 thanks much for that link! Would you be interested in adapting that material for a page in the wp-api.org site about cross-domain requests?

@rickharrison I'll leave this open for now but let us know if adapting that code resolves your issue.

[2016-10-17 01:51] kadamwhite commented on #2844
@Shelob9 (cc @joehoyle et al for confirmation or clarification), Actually after skimming through the code, it looks like the [`serve_request` method in class-wp-rest-server.php](https://developer.wordpress.org/reference/classes/wp_rest_server/serve_request/) is where the `Access-Control-Allow-Headers` method is set; I was unable to affect that by filtering `rest_pre_serve_request`.

[2016-10-17 01:54] rmccue commented on #2844
You're allowed to send multiple `Access-Control-Allow-Headers` headers, last I recall, so if you just send the extra ones, should be fine:

[code]

[2016-10-17 02:03] kadamwhite commented on #2844
Aha, I was using `add_filter` and it wasn't working. Dropping this code in mu-plugins _switched_ the header from "Authorization" to "Content-Type", so make sure to include all headers you want to be set.

[code]

No filters need to be unhooked.

I'm going to close this since this seems to do what was asked, but @rickharrison please chime in below if that doesn't solve the issue.

[2016-10-17 02:03] #2844 closed, assigned to nobody

[2016-10-17 02:21] rmccue commented on #2844
@kadamwhite Oops, sorry; need to set the second parameter of `header` to `false` to avoid replacing it. Updated my code.

[2016-10-17 02:40] cchamnab opened #2845 "return response with null"
When i return response in json Ex: echo json_encode($result) . there is always (null) at the end of json data so json can't parse properly.

[2016-10-17 02:41] rmccue commented on #2845
You need to return your value, not output it directly. The API handles all encoding for you.

[code]

[2016-10-17 02:41] #2845 closed, assigned to nobody

[2016-10-17 05:10] rickharrison commented on #2844
Where do I place this code exactly? I am on a hosted wordpress currently.

[2016-10-17 08:01] apacheborys opened #2846 "How i can work with child sites by REST API"
Hi everyone!

Sorry for maybe duplicate question, but i cant find answer for that. I have wordpress site what contents child blogs (different lang versions). I install wordpress plugins:
WP REST API Version 2.0-beta14
WP REST API - OAuth 1.0a Server Version 0.2.1
I install them in main site (parent) and child blog.

But REST API working only with main site. If i create query http://my-site.com/wp-

[2016-10-17 08:11] Jany-M opened #2847 "search Parameter always returns 0 results"
Using [latest](https://wordpress.org/plugins/rest-api/) `WP API v2` + `JS Backbone` [build](https://github.com/WP-API/client-js/tree/master/build/js) and I can't seem to get any results when using `search`.

My intent is to search only within titles.
My contents and excerpts are made so they are always empty (they only have a Title and custom fields).

Tried:
- `search` & `filter[s]` both return `

[2016-10-17 08:12] rmccue commented on #2846
Each site has its own API endpoints, so you'll have `http://example.com/wp-json/` and also `http://example.com/other-site/wp-json/` or `http://other.example.com/wp-json/`

Post IDs are local to the individual sites (i.e. each site can have a post with ID 42), so you can't access them across sites.

[2016-10-17 08:12] #2846 closed, assigned to nobody

[2016-10-17 08:15] rmccue commented on #2847
This [seems to be working](http://demo.wp-api.org/wp-json/wp/v2/posts?search=happened) on the demo with `search`, so I don't think this is a bug. Are you certain your search term appears in the posts you're searching for?

[2016-10-17 08:19] Jany-M commented on #2847
@rmccue but why would post `"id": 455` return with search `?s=this` though?
Search should work also with titles, or does it only work with content/excerpt?

**Update**
 post `"id": 455` just disappeared from the results.... ?!

[2016-10-17 08:22] websupporter commented on #2847
http://demo.wp-api.org/wp-json/wp/v2/posts?search=this

[2016-10-17 08:23] apacheborys commented on #2846
When i send http://my-site.com/de/wp-json i get 404 error, but plugins enabled OK.
Maybe printscreens will help you for understand me...
![1](https://cloud.githubusercontent.com/assets/11578023/19430201/02cea538-945c-11e6-8dd5-21509f99ffbd.jpg)
![2](https://cloud.githubusercontent.com/assets/11578023/19430202/02cee0c0-945c-11e6-8f22-cde301b36630.jpg)
![3](https://cloud.githubusercontent.com/assets

[2016-10-17 08:24] Jany-M commented on #2847
Ok so I tested the demo all night and just 20 min ago and it wasn't working as expected.
Now it is. Not crazy I swear :)
Was something pushed / did something change just now?
- Should I update the plugin files with the github ones or leave the WP repo version?
- Search should work also with titles, or does it only work with content/excerpt?
- Could my issue have anything to do with the fact that m

[2016-10-17 13:43] kadamwhite commented on #2847
@Jany-M nothing was changed on the demo site, and this should work the same regardless of whether you're using the latest development code from GitHub or the released plugin version. Title and content should both be getting searched, I'll do some independent testing but I don't think omitting the content should have an effect.

[2016-10-17 14:31] rachelbaker commented on #2791
The Comments Controller does not have a `password` param to support viewing/editing/creating/deleting comments on password protected posts.  Attempting to interact with a comment on a password protected post returns a WP_Error because without the proper post password the permission checks fail.

Action items:
- Add the `password` param to allow users to pass the password for the related Post to a

[2016-10-17 14:33] rachelbaker commented on #2791
Related discussion on Slack: https://wordpress.slack.com/archives/core-restapi/p1476713174007643

[2016-10-17 14:33] kadamwhite commented on #2791
Moved to 2.1 milestone

[2016-10-17 14:36] kadamwhite commented on #2799
In the [2016-10-17 API team meeting on Slack](https://wordpress.slack.com/archives/core-restapi/p1476713039007633) this decision was confirmed: we will remove `filter` from the core plugin (this is a breaking change) prior to 4.7 merge or 2.0 plugin release, whichever comes first. A separate plugin will be created that will reinstate the filter parameter so that there is a path forward for API con

[2016-10-17 14:43] kadamwhite opened #2848 "Avoid use of wp_filter_post_kses to prevent lossy slash handling"
As [discussed in slack](https://wordpress.slack.com/archives/core-restapi/p1476715005007733) following #2840, there are other places than https://github.com/WP-API/WP-API/pull/2788 where @westonruter's comments around the lossy slash handling in `wp_filter_post_kses` come into play; we should standardize these to use the underlying `wp_kses` functions.

Quoting @rachelbaker,

[2016-10-17 14:45] adamsilverstein commented on #2696
After updating to to the latest develop branch, I verified that everything _is working as expected_ in terms of unset, empty or null values here - I added a few tests in https://github.com/WP-API/WP-API/pull/2763 to validate. We can address any specific cases that were missed if they arise.

[2016-10-17 14:45] #2696 closed, assigned to adamsilverstein

[2016-10-17 14:52] rachelbaker commented on #1660
Fixed in #2795

[2016-10-17 14:52] #1660 closed

[2016-10-17 15:15] #2632 closed, assigned to rachelbaker

[2016-10-17 19:31] kadamwhite commented on #1911
As [discussed in slack](https://wordpress.slack.com/archives/core-restapi/p1476714313007699) during 2016-10-17 API team meeting, closing this out -- it's not a bad concept but this :ship: has sailed.

[2016-10-17 19:31] #1911 closed

[2016-10-17 19:33] kadamwhite commented on #2787
Per [discussion in 2016-10-17 API team chat,](https://wordpress.slack.com/archives/core-restapi/p1476713547007670) the API should honor `unfiltered_html`; @rmccue owns documenting next steps.

[2016-10-18 00:44] kadamwhite commented on #2847
I've confirmed that on the latest release of WordPress and the latest beta 15 of this plugin, I can create a post with the title "only title" and no content, and it is correctly returned with `/wp/v2/posts?search=only%20title`. @Jany-M If you're still seeing irregular behavior please share some URLs that you're finding not to have the effect you'd expect, and we can try to dig deeper.

[2016-10-18 01:04] rmccue commented on #2787
I think we should pursue two avenues here:
1. Let's take a look at introducing a new function into core that checks `unfiltered_html` and sanitizes the input appropriately, and this could be used in core rather than the `remove_filter` craziness. This depends on back-compat as to whether core can use it, but is a good path forward.
2. Let's also switch our behaviour ASAP, then use core's behaviour

[2016-10-18 12:24] shaheero opened #2856 "showing posts from subsites in a multisite network"
Works fine. Thanks

[2016-10-18 12:56] #2856 closed, assigned to nobody

[2016-10-18 17:59] MartinMalinda opened #2857 "Using WP_REST_Posts_Controller directly results in empty data:[]"
On the first render of my web app, I'd like to render some data into a `<script>` so I'd save myself an ajax call later, resulting in faster boot of the application.

This is the code I've started with:

[code]

The output is, though, this:

[code]

While the posts had clearly been successfully queried (X-WP-Total = 9), the data is empty.

I'm not sure if this is a bug. In either case, I'd be very

[2016-10-18 18:09] BE-Webdesign commented on #2857
Hi @MartinMalinda,

Thank you for using the WP REST API.  Doing internal requests is inherently different from using HTTP for the API.  You don't need to invoke controller classes on your own. You only need to create a request object and use the internal routing function `rest_do_request()`.  Try the following code below:

[code]

Note the setting and unsetting of super globals.  The embed param s

[2016-10-18 18:39] MartinMalinda commented on #2857
`rest_do_request()` is just what I needed, thank you for the quick response.
It actually works now with as simple code as this:

[code]

[2016-10-18 20:39] rachelbaker commented on #2857
Closing this issue, as the support issue has been resolved.

[2016-10-18 20:39] #2857 closed, assigned to nobody

[2016-10-18 22:10] joehoyle opened #2859 "Support objects and arrays in Meta and Settings"
## Object / Arrays in Meta

Currently, meta for posts, users, terms and comments support scalar values in the registered meta
keys. That's booleans, strings and numbers. For comparison, the Custom Fields meta box only allows
string values.

The response format of meta allows for arrays / objects as values, however these types are currently
not accepted in the PHP API via `register_meta`. There is

[2016-10-18 22:18] joehoyle opened #2860 "Settings comparison with WordPress.com"
## Comparison of Settings in WordPress.com

The response format for the WordPress.com API is somewhat different and follows the pattern:

[code]

The WP REST API Response has:

[code]

It's not clear _why_ the WordPress.com API takes this structure with a `settings` sub key, however it would be good to find out why!

Broadly, I'd say the settings names and values in the WordPress.com API have had

[2016-10-18 22:30] tobeycodes commented on #2860
The settings sub key doesn't make much sense to me either. ID and Name are still considered settings to me, usually they won't change but they can.

[2016-10-19 00:09] nylen commented on #2860
cc @rralian who wrote the initial version of the WP.com settings endpoint for questions on response format.

[2016-10-19 01:43] nylen commented on #2860
It makes sense for us to add our Jetpack-specific settings via `register_setting`.

Looking at the settings registered [in `plugin.php`](https://github.com/WP-API/WP-API/blob/c57ec7a/plugin.php#L199), there are a couple that we'll need to either remove or make read-only (`url` and perhaps `email`).

It's also not hard to envision use cases for this endpoint where the option value is not stored as

[2016-10-19 03:00] #2790 closed, assigned to nobody

[2016-10-19 03:02] rachelbaker commented on #2790
@zachwills Sorry, I missed your question last week :(  You were correct though.

[2016-10-19 04:15] rmccue commented on #2860
cc @m who asked specifically about this. :)

[2016-10-19 04:26] rralian commented on #2860
At the time we didn't have any method in the REST API that would allow changing Site settings. All we had was the Site endpoint, which returned a smaller set of data. And I didn't want to change the Site endpoint to return every setting we supported, because we had to keep the Site object small so the `/me/sites` endpoint could be as fast as possible. Besides, most of these settings aren't too rel

[2016-10-19 12:17] Chrico opened #2880 "Diff in release 2.0-beta15 on WP.org (SVN) to Tag on Github"
Howdy!

It seems, that the current release (2.0-beta15) of the Plugin [0] is not "correct".

After downloading on wp.org the Plugin or having a look at the tag on SVN [1], you can see the `WP_REST_Posts_Controller` differs to the tagged class here on Github [2]. The META-integration is completly missing.
Same for `WP_Rest_Terms_Controller`, `Users` and `Comments`.

---

**Links**
- [0] https://wor

[2016-10-19 12:18] schlessera commented on #1166
How about including a Factory or WP_Error extension(s) with named constructors?

This would allow us to have a centralized way of managing the Error messages and status codes, and would clean up the rest of the code base.

So, for example, where we now have the following code:

[code]

... we would have something like this:

[code]

In the above case, `WP_REST_Error` would be a factory that will r

[2016-10-19 13:09] aduth commented on #2860
As an aside, while not as friendly as the developer site, field information for all endpoints (including undocumented) can be found in Jetpack's [`json-endpoints.php` file](https://github.com/Automattic/jetpack/blob/master/json-endpoints.php)*. The settings fields, for example:

https://github.com/Automattic/jetpack/blob/1801d53/json-endpoints.php#L2443-L2495

_(Link pinned to current version to p

[2016-10-19 13:58] rachelbaker commented on #2880
@Chrico thank you for reporting this.  I am fixing it now.

[2016-10-19 14:13] rachelbaker commented on #2880
@Chrico Sorry about that.  I just pushed up a fix for the missing changeset: https://plugins.trac.wordpress.org/changeset?sfp_email=&sfph_mail=&reponame=&new=1517921%40rest-api&old=1510477%40rest-api&sfp_email=&sfph_mail=

I am going to close this issue, but please re-open if you encounter another issue.

Cheers!

[2016-10-19 14:13] #2880 closed, assigned to rachelbaker

[2016-10-19 14:32] BE-Webdesign commented on #1166
@schlessera Yeah, I think that is a relatively good idea and it would improve consistency.  It can be refactored to that system at any point.  The naming and conventions is more what this issue is trying to address. Do you feel as though the error codes/messages are too inconsistent or not descriptive enough?

[2016-10-19 15:10] schlessera commented on #1166
@BE-Webdesign Well, I'm probably one of the developers who just are not used to the WordPress way, but what I am missing is a unique identifier, other than the localized string. I know I've had that problem before with `WP_Error` objects that I wanted to unset one specific error, but there was no proper way of addressing that unique error, as it shared its code with other similar error messages (t

[2016-10-19 15:11] schlessera commented on #1166
Ah, that might not have been clear...

In the case of the first approach above, there should not be distinctions between endpoints for the error codes. So an invalid user would have the same error code as an invalid term, only the message would change.

[2016-10-19 15:23] websupporter commented on #1784
Is handled in https://github.com/WP-API/WP-API/issues/2795

[2016-10-19 15:23] #1784 closed

[2016-10-19 15:24] websupporter commented on #2694
Is handled in https://github.com/WP-API/WP-API/issues/2810

[2016-10-19 15:24] #2694 closed, assigned to nobody

[2016-10-19 15:27] tharsheblows commented on #2859
It would be nice to have register_meta handle it if there's a schema available -- you could put it in the `show_in_rest` parameter like `show_in_rest => array( 'schema' => $schema )` so no need to change anything except some documentation.

I had a play and this is "works for me" - it shows the flow and how it could work as well as brings up questions about what specifically to allow and how to th

[2016-10-19 17:33] kadamwhite commented on #2790
@rachelbaker Does that comment mean there's outstanding work on this issue? Didn't see those lines in the referenced commit

[2016-10-19 17:35] kadamwhite commented on #2788
In progress in #2840 but backslashes are still being removed after the proposed change. We need to dig deeper into how core is sanitizing these fields so we can better replicate that behavior.

[2016-10-20 03:43] aaronjorbin opened #2887 "Remove endpoints that are in WordPress Core"
This plugin appears to duplicate core functionality.  Maybe it should only include endpoints and functionality that isn't in core yet.

[2016-10-20 06:19] kadamwhite commented on #2799
To be handled as core patch

[2016-10-20 06:40] Chrico commented on #2880
@rachelbaker Thanks a lot, but..erm..you only updated the Beta15-Release zip on wp.org. This means, everyone who has this version already installed, keeps the "broken" version? This is a not really "clean" solution. 🤔

[2016-10-20 07:19] e-karlsson opened #2888 "Extend endpoint with POST action"
Hello. I'm trying to extend with an endpoint "car". I've used the documentation and got it work with the GET method and it works great. However, when I try add a POST method in the same way I doesn't succeed. I get this response:
 {"code":"rest_no_route","message":"Ingen route hittades som motsvarade webbadressen och metod f\u00f6r beg\u00e4ran","data":{"status":404}}

Theres no example in the doc

[2016-10-20 07:24] websupporter commented on #2888
Hi mr3k.
Thanks for using the REST API. Actually, this plugin has succeeded in doing so :smile:

So, I guess you are registering with `register_rest_route` and you have set it to `GET` and now you need the same endpoint to accept `POST` as well.

See for example here:
https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-posts-controller.php#L40-L54

You see, how a multidimensi

[2016-10-20 07:53] websupporter commented on #2799
The related ticket: https://core.trac.wordpress.org/ticket/38378
A first sketch for a "Bring 'em back" plugin: https://gist.github.com/websupporter/1008d297325e6ba6b215b446c2576723

We can't add the filter back to the `get_collection_params()` or am I wrong?

[2016-10-20 09:46] salcode commented on #2785
Congratulations on merging the REST API into WordPress core!

https://core.trac.wordpress.org/changeset/38832

I assume this means development will stop here on GitHub and I should now open a WordPress trac ticket for this issue and submit the patch there.

Unless I hear otherwise, I'll make this my next step.

Thank you for all your work on this great project.

[2016-10-20 10:11] e-karlsson commented on #2888
Hi websupporter and thanks for your quick reply!

Actually what I've done now is just use the POST as following:

[code]

Right now I just want to make sure I can and some data through the API with POST method and see that the data is received and that I can reply with an response. Do you see any direct problems?

Thanks for your help!

[2016-10-20 10:40] websupporter commented on #2888
Hmmm... I am not quite sure what you are trying. Well, here is an example, which would work for the `POST` method:

[code]

But since it looks like you want to insert a term, why don't you use the plugin? When you register taxonomies with `show_in_rest` `true` you just could use the WordPress REST API plugin to create/delete/view/edit terms.

For example: `POST wp-json/wp/v2/categories/?name=New C

[2016-10-20 10:56] e-karlsson commented on #2888
websupporter ❤️
Thank you for the example above, it was so easy and I've totally missed it. I've used the code in my example from term, I'll not use it now.

This helped me a lot and I think your example above could be great to have in the documentation for beginners as me 😃  Thanks a lot - have a great day!

[2016-10-20 10:56] #2888 closed, assigned to nobody

[2016-10-20 11:10] websupporter commented on #2888
Happy, I could help you.

One thing, you should return the `$data` with `rest_ensure_response( $data )`

[code]

[2016-10-20 11:15] e-karlsson commented on #2888
Will do, thanks!

[2016-10-20 14:23] BE-Webdesign commented on #1166
@schlessera  Thank you for your thoughts.  I like the way option 2 looks.  I don't see too big of an advantage to go with option 1 vs. option 2.  Option 1 is what we are sort of heading towards now.  Option 2 is probably not common WP practice, but it looks better to me, especially when taking error tracking into account.  I appreciate the input and now understand more of where you are coming from

[2016-10-20 15:50] wkw opened #2889 "status=draft returning auto-draft posts"
I'm seeing `auto-draft` posts leak when making a request for `status=publish,draft`. I haven't had the time yet to trace the rest api code and figure out why that's happening. I'm wondering if anyone else has possibly seen this.

Plugin version:  **2.0-beta13**

URL: http://domain.com/wp-json/wp/v2/posts?filter[posts_per_page]=10&filter[offset]=0&status=publish,draft

and here's the first response

[2016-10-20 15:56] joehoyle commented on #2889
@wkw did you try the latest version of the plugin at https://github.com/WP-API/WP-API/releases ?

[2016-10-20 16:02] wkw commented on #2889
I will do that now. I reviewed previously, release notes between my b13 and latest and nothing jumped out at me. Nonetheless, composer installing it now and retesting. Thank you for the suggestion.

[2016-10-20 16:19] wkw commented on #2889
@joehoyle installed `2.0-beta15` (replacing b13) and doesn’t seem to change the response. still getting two `auto-draft` posts in my response. As discussed in Slack, I either need to run against a new install or start tracing plugin code.

[2016-10-20 17:05] joehoyle commented on #2889
Core patch: https://github.com/danielbachhuber/wordpress-develop/pull/4

[2016-10-20 17:06] wkw commented on #2889
Nice! (patch above)
Was just in process of seeing if I could slip something like this in:
`filter[post_status]=publish&filter[post_status]=draft`

[edit] seems not. I think the last filter is the one that gets used.

[2016-10-20 18:53] kadamwhite commented on #2889
@wkw I'd avoid using `filter` since it's on the chopping block for core, and would be available as a plugin—I'm hoping to get something like that in for `?status` tho

[2016-10-20 20:39] jmacaluso711 opened #2890 "posts_per_page filter not working in beta15?"
I'm using v2 beta15 with WordPress 4.6.1 and the posts_per_page filter does not seem to be working.

When I try to filter for all posts with `-1` I get back the default post limit that is set in Reading Settings. As well, when I try to filter for a specific amount of posts I also get the default post limit.

I'm pretty sure I'm implementing correctly:

`/wp-json/wp/v2/posts?filter[posts_per_page]=

[2016-10-20 20:52] jeremyfelt commented on #2890
Hi @jmacaluso711, thanks for opening a ticket. The `posts_per_page` filter was removed (see #2357) as part of the beta14 release. The `per_page` parameter can now be used to paginate through the results. See also #2759 for an explanation of the change.

[2016-10-20 21:40] jmacaluso711 commented on #2890
Hi @jeremyfelt , thanks for the quick response..

Is there any documentation on how to return all posts with `per_page` ?

[2016-10-20 21:42] rachelbaker commented on #2786
Moved to Trac: https://core.trac.wordpress.org/ticket/38425

[2016-10-20 21:42] #2786 closed, assigned to nobody

[2016-10-20 22:02] kadamwhite commented on #2890
@jmacaluso711 the maximum number of records that may be retrieved at once is capped at 100, in order to avoid overloading sites when preparing the response. It's a little less convenient but the best practice is to make several requests for the different pages and to then reassemble the complete set in the client application. For an example of doing this in a mode script, see http://wp-api.org/nod

[2016-10-20 22:02] #2890 closed, assigned to nobody

[2016-10-21 14:43] mnguye08 opened #2891 "Cache rest api responses with Redis"
Hi,

I would like to cache the json response with Redis.
How can I put the result in json format (not the WP_REST_Response but really the final result) in a Redis key and retrieve the response if the key already exists?

Thanks!

[2016-10-22 02:24] beatelite commented on #2889
What do you recommend instead of filter? I'm surprised to hear this on the chopping block - don't get me wrong, I hate having to use brackets in the requests but still surprised since we've been rolling with this for so long.

[2016-10-22 14:46] s-dm opened #2892 "API for my design and plugins?"
Been searching up and down on google for this, but I can't figure it out. I need your api to get stuff from my event site. I am using Event Builder Plugin and Eventbuider design, but as there is no api in it, I am lost in how to get data down to my app.. For now I am using screen scraping, and it works ok. But  it is not an ideal method.

Any ideas?

[2016-10-23 04:25] modemlooper commented on #2892
This really isn't the place for this type of question. This repo is for issues with API code. You require custom Endpoint development. Ask developer of your events plugin if they have API in their roadmap. If not, visit the docs site for API, google for tutorials or hire a developer.

[2016-10-23 05:32] kadamwhite commented on #2892
@s-dm Thanks for your interest in the REST API project. As @modemlooper indicated, this plugin (and the endpoints that will be released in the next version of WordPress) represent endpoints for WordPress native content types—posts, plugins, categories and the like. In order to be able to access and manipulate event data through the API, your Event Builder plugin would need to add API support to th

[2016-10-23 05:32] #2892 closed, assigned to nobody

[2016-10-23 16:17] mister-giga opened #2893 "Get parent category if child has a post"
If I have 2 categories, and one is parent of the other. If there is only one post that mentions only child category. In the /wp-json/wp/v2/categories response there is no the parent category, because its count property is 0. But I am making treeNode view and I need parent category even if it doesn't have any posts

[2016-10-23 17:00] mister-giga opened #2894 "hide_empty doesn't work for categories"
in both case of /categories?hide_empty=false and /categories?hide_empty=true, I still get only the categories that are assigned to any posts

[2016-10-23 17:30] mister-giga commented on #2893
my fault I didn't get all posts, I use per_page=100 and it works of course

[2016-10-23 17:30] #2893 closed, assigned to nobody

[2016-10-23 17:31] mister-giga commented on #2894
my fault I didn't get all posts, I use per_page=100 and it works of course

[2016-10-23 17:31] #2894 closed, assigned to nobody

[2016-10-25 01:16] rmccue commented on #571
We are [now merged](https://core.trac.wordpress.org/changeset/38832).

[2016-10-25 01:16] #571 closed

[2016-10-25 01:17] rmccue commented on #2860
@joehoyle Can you own moving this to Trac?

[2016-10-25 01:22] rmccue commented on #1166
The code is primarily intended as a way for the client to differentiate between different responses, and additional information (IDs/etc) can be included in the data. This only really applies when the error is different from the client's perspective, not necessarily when the underlying error is different.

[2016-10-25 01:27] kadamwhite commented on #1918
This is a priority to resolve for 4.7 since we won't be able to change this later without a breaking change. TODO: move to trac.

[2016-10-25 01:31] kadamwhite commented on #1922
This will be part of a concentrated expansion of multi-site capabilities that we should tackle w/ the multi-site team

[2016-10-25 01:33] kadamwhite commented on #2018
Should be tackled before we integrate w/ main documentation

[2016-10-25 01:34] kadamwhite commented on #2018
This would not be a breaking change, so marking as a 2.1 candidate

[2016-10-25 01:36] kadamwhite commented on #2050
Recommend this be moved to trac for triage, in case we're able to repro

[2016-10-25 01:40] rachelbaker commented on #2327
This will be part of a concentrated expansion of multi-site capabilities that we should tackle w/ the multi-site team

[2016-10-25 01:48] rachelbaker opened #2895 "Do not publicly expose the schema for endpoints that require authentication"
This came up while I was looking into using the /settings endpoints for something at work.
With Beta 15, the api index (`/wp-json/`) publically exposes the option keys that have been enabled for API interactions.  Anyone can publicly see the option keys that are exposed for create/update because they are shown in the POST/PUT/PATCH schema args.  I find this to be concerning because typically the o

[2016-10-25 01:48] rachelbaker commented on #2895
Milestoned for 2.0, it at least warrants a discussion before then.

[2016-10-25 02:13] rachelbaker commented on #2355
Abstracting all of the checks that result in returning `WP_Error` from our controllers is a significant task for the sole purpose of making it easier to subclass our controllers.
I am closing this ticket.  We do not have a clear direction to resolve this reported bug, and after WordPress 4.7 ships we will be restricted by back-compat.
If someone is passionate enough about this ticket to submit a P

[2016-10-25 02:13] #2355 closed, assigned to nobody

[2016-10-25 12:15] adamsilverstein commented on #2050
@JakePT Can you provide a code sample that reproduces this issue?

[2016-10-25 12:22] adamsilverstein commented on #2050
I opened a trac ticket to continue discussion of this potential issue: https://core.trac.wordpress.org/ticket/38483#ticket

[2016-10-25 12:22] #2050 closed, assigned to adamsilverstein

[2016-10-25 17:22] joehoyle commented on #2860
Closing in favor of https://core.trac.wordpress.org/ticket/38490 also added a patch there.

[2016-10-25 17:22] #2860 closed, assigned to joehoyle

[2016-10-25 20:58] rachelbaker commented on #2785
Related Trac ticket: https://core.trac.wordpress.org/ticket/38477

[2016-10-25 21:05] liesislukas opened #2896 "Plugin is activated but nothing appears under "Tools" in admin"
![image](https://cloud.githubusercontent.com/assets/2733862/19704290/d3dca5ee-9b0f-11e6-9773-f86f6b09900b.png)

WP version 4.6.1
WP REST API Version 2.0-beta15

[2016-10-25 21:11] adamsilverstein commented on #2896
@liesislukas The plugin provides API endpoints and does not create any user facing admin interface.

[2016-10-25 21:11] #2896 closed, assigned to nobody

[2016-10-25 21:37] liesislukas commented on #2896
works great, just posted some posts with nodejs lib you provide. Great job!

I was expecting to have some ui to adjust settings like endpoint of api.

[2016-10-25 22:54] kadamwhite commented on #2896
@liesislukas glad to hear things went well!

I believe that you can change the root endpoint with a filter -- because this is core functionality upon which future WordPress features may be built the decision not to provide a UI for changing endpoint settings and locations was a deliberate choice to make the API a more predictable foundation.

Hope that helps clarify things!

[2016-10-25 23:02] liesislukas commented on #2896
I fully understand your point. Thanks for clarify 👍

[2016-10-25 23:05] oruam85 opened #2897 "404 wp-json request"
I get a 404 error with the request to wp-json/wp/v2/posts

[2016-10-26 01:42] boonebgorges commented on #2740
I've moved this to Trac https://core.trac.wordpress.org/ticket/38504#ticket, so the current ticket can probably be closed.

[2016-10-26 01:45] boonebgorges commented on #2777
Migrated to Trac, as I think this is a 4.7 blocker https://core.trac.wordpress.org/ticket/38505#ticket

[2016-10-26 01:45] #2777 closed, assigned to nobody

[2016-10-26 15:57] Shobby commented on #389
API does not return all the order or specific order using HTTPS request its return empty array.
https://www.onetwocosmetics.com/wc-api/v3/orders/?consumer_key=comsumer_key&consumer_secret=comsumer_secrete

{"orders":[]}

any when i tried to get specific order details its generate permission issue as:

https://www.onetwocosmetics.com/wc-api/v3/orders/9853?consumer_key=comsumer_key&consumer_secret=c

[2016-10-27 03:36] rmccue commented on #389
@Shobby This repository is for the WordPress REST API, **not** for the WooCommerce REST API. Please contact WooCommerce support instead. :)

[2016-10-27 14:46] #2799 closed, assigned to joehoyle

[2016-10-27 16:33] richardtape commented on #2327
Just throwing my hat into the ring for when it comes to the multisite expansion. It's about time I dived into the REST API and it seems appropriate that it would be for MS stuff. Is there a plan for this already in place (if so where can I find it) or is there a meeting coming up (if so when) and if neither, would you REST API folk want someone to run with that? Naturally, Jeremy would be the most

[2016-10-27 21:26] aayler commented on #2308
Hello @rmccue, do you have suggestions -- other than including 'meta_key' and 'meta_value' as allowed query_vars, mentioned above -- to query against meta values for sorting purposes? I have exactly the same issue as the OP.

[2016-10-28 03:42] nylen commented on #2895
As a larger task around all fields that require authentication (including posts, `context=edit`, etc), I don't think this is doable for 4.7.  Arguably not as necessary because most of these are already public by reading the core code.

For the settings endpoint specifically, seems doable; this is probably the biggest concern and we wouldn't lose anything by hiding the available settings for unauth

[2016-10-28 04:42] hieuiee opened #2898 "Adding Square brackets in JSON Array"
Hey! How do I go about adding square brackets '[ & ]' on the beginning and ending of the JSON on a single line?

i.e.
My JSON currently shows this
{"tracking_job":"tracking_job_photography"}

and I'd like it to look like this
[ {"tracking_job":"tracking_job_photography"} ]

I've spent a few hours trying to figure it out without any luck. Any help would be much appreciated! :)

Cheers

[2016-10-28 17:59] jhonnynho opened #2900 "Change Tags ID to Tags Names in WP-Json Api"
I want to replace the ID of tags in the Json result on the wp-json API.

All searches what I do about posts, response a Json array with tags, but I need tags names instead tag ID

Example, this is the response.

[code]

I need the same response, but in the tag array I need

[code]

I used conditions for each ID, but many and is more tedious this way

[2016-10-29 12:28] shaheero opened #2901 "Use mysqli instead of mysql_ to be PHP 7 compatible"
Extension '`mysql_`' is deprecated since PHP 5.5 and deprecated since PHP 5.6 and removed since PHP 7.0 - use `mysqli` instead.

FILE: ../wp-content/plugins/rest-api/extras.php
FILE: ../wp-content/plugins/rest-api/lib/endpoints/class-wp-rest-comments-controller.php
FILE: ../wp-content/plugins/rest-api/lib/endpoints/class-wp-rest-posts-controller.php
FILE: ../wp-content/plugins/rest-api/lib/endpoin

[2016-10-30 06:12] rmccue commented on #2901
This is core WordPress behaviour, and is an issue with your hosting, not with the API. If you enable `mysqli` on your server, this will go away.

[2016-10-30 06:12] #2901 closed, assigned to nobody

[2016-10-30 13:53] BE-Webdesign commented on #2847
@Jany-M, It is also entirely possible that your WordPress install has modified how `WP_Query` searches.  I don't think there is a problem with the WordPress REST API, but depending on what other plugins are doing it could change the intended outcome of using it.

If you have a custom post type, you need to double check and make sure it is not excluded from search.

[2016-10-30 21:26] haydenw opened #2902 "Upgrade MySQL to MySQLi to ensure PHP 7 Compatiblilty"
See below output from WordPress' PHP Compatiblilty plugin

[2016-10-30 21:31] nylen commented on #2902
These are false positives, all involving the WordPress function [`mysql_to_rfc3339`](https://github.com/WordPress/WordPress/blob/75535c596b35015d5392de3b4dca44d7d2365801/wp-includes/functions.php#L5426).  This issue can be closed.

[2016-10-30 21:39] haydenw commented on #2902
Thanks @nylen. All good.

[2016-10-30 21:39] #2902 closed, assigned to nobody

[2016-10-31 15:36] ptums opened #2903 "Add Meta Box Data to Wordpress API"
Hello I have a custom post type that utilizes Meta Boxes (not done with the Meta Box plugin) and I'm trying to access that data through the WP API, but its not appearing? How do I get where these fields in my data? Any advice on this would be greatly appreciated.

Thank you,

Peter

[2016-11-01 13:18] ahmadawais opened #2904 "Base64 Image Data Issue"
I am trying to add a base64 image via REST API in the content of a submitted post.
Here, the request which is submitted has the image converted to base64 which starts with "data:"
take a look

![image](https://cloud.githubusercontent.com/assets/960133/19890920/66a45328-a05f-11e6-8147-403a8dcf2a38.png)

Once the data is submitted into WP, the word "data:" vanishes in thin air, rendering the image u

[2016-11-01 14:32] ahmadawais commented on #2904
Looks like `data` was removed and now if you try and add bas64 image data URI `data` with WP REST API it gets ignored.

I had to add it through the filter.

[code]

Strange! I think it is an issue in the core. Since it happens only when you insert data via REST API and not in the case explained in the [ticket](https://core.trac.wordpress.org/ticket/19354#no0).

[2016-11-01 16:33] beatelite commented on #2808
Just a heads up, I switched from beta13.1 to beta15 (develop) and i'm getting this too. I just hit the /wp-json/wp/v2/posts endpoint and get a 500 error when I didn't before. I'm not sending any pagination requests or per_page requets in the header.

I discovered that it was because I was using a wordpress version 4.4.2. When I upgraded to the latest wp (4.6.1) it worked.

[2016-11-01 18:12] nylen commented on #2787
Migrated issue and discussion so far to https://core.trac.wordpress.org/ticket/38609; this can be closed.

[2016-11-02 00:26] #2787 closed, assigned to rmccue

[2016-11-02 00:39] BE-Webdesign commented on #2846
@apacheborys

You might need to make sure that your Portfolio plugin's post types are enabled to be seen by the rest API.  When post types are registered they must have `show_in_rest => true`.

It is also possible that the rewrite rules you are using for your German version of the site are conflicting with the rewrite rules the API is putting out.

[2016-11-02 05:01] shaheero commented on #2683
Hi @BE-Webdesign
I tried this but neither `posts?post-format=video` or `posts?post-format=2` work. Can you help?

[code]

[2016-11-02 12:55] shaheero opened #2905 "Post Filters Not Working"
While listing posts, filters like `sticky=true` (which is not listed in the [docs](http://v2.wp-api.org/reference/posts/)) work fine, but others like `format=video` don't:

I tried `wp-json/wp/v2/posts?filter[format]=video` and `wp-json/wp/v2/posts?format=video` but they just list the posts.

As per https://github.com/WP-API/WP-API/issues/2683, I tried this:
[code]

But neither `wp-json/wp/v2/post

[2016-11-03 06:40] nylen commented on #2848
This is being addressed at https://core.trac.wordpress.org/ticket/38609 along with `unfiltered_html`

[2016-11-03 07:57] #2848 closed, assigned to nobody

[2016-11-03 14:09] DrBGM commented on #2822
Any update on this ?

[2016-11-03 16:24] jensschneider commented on #2822
@kadamwhite I'm using Postman to test it. This is for example the extracted JQuery code:

[code]

[2016-11-03 16:51] modemlooper commented on #2903
You need to register meta fields manually

http://v2.wp-api.org/extending/modifying/#how-to-use-registerrestfield

[2016-11-04 01:46] rmccue commented on #2904
Closing, as this is tracked on Trac.

[2016-11-04 01:46] #2904 closed, assigned to nobody

[2016-11-04 05:54] ahmadawais commented on #2904
@rmccue Can you mention the ticket # where it is being tracked?

[2016-11-04 14:47] fabioduque commented on #2782
@joehoyle @kadamwhite
No problem! ;) I'll wait for the 4.7 update.
Thank you for your help and your great work!

[2016-11-04 18:24] beatelite opened #2906 "orderby author not working"
This may be intentional but I just upated to the latest and sorted out the new filtering changes (I love that you got rid of [filter] btw). However, I can't sort a lists of posts by author anymore. I keep getting:

[code]

Is there a way around this?

[2016-11-04 18:40] beatelite commented on #2906
I also noticed that I can't do orderby taxonomy term anymore either.

[2016-11-05 09:30] vedantparchulkar commented on #2595
Hello, I tried it but I am getting following results:

[Only posts from category 9 are displaying]
http://mydomain/wp-json/wp/v2/posts/?filter[cat]=13&filter[cat]=9

[Only posts from category wordpress are displaying]
http://mydomain/wp-json/wp/v2/posts/?filter[category_name]=drupal&filter[category_name]=wordpress

[Returing empty array]
http://mydomain/wp-json/wp/v2/posts/?filter[category_name]=d

[2016-11-06 02:09] bomshteyn commented on #2793
We are on version 4.6.1
We use it in a mobile app, but we tried from browser and postman and got the same error.
Version 2.0-beta14 works ok.

I suspect the reason the error is 500 is because we have apache behind nginx.

we are on PHP 5.5.30, could this be an issue?

[2016-11-06 02:44] gearpichon commented on #2595
hello!

   I had the same problem. Your should try use "%2C" instead of  "," (without the quotes) and "%2B" instead of "+". For example your last query will be in this way:

http://mydomain/wp-json/wp/v2/posts/?filter[category_name]=drupal%2Bwordpress

that should work! let me know if you have more problems.

[2016-11-06 02:50] kadamwhite commented on #2595
I'd note that `filter` is not the recommended way to query for taxonomy tagged resources, and I believe filter itself is not part of the API that will be part of WordPress Core and that it will require a separate plugin to use filter. For a solution that works with both the plugin and the core API endpoints use

[code]

?tags will also work (with tag IDs), as will any API-registered custom taxonom

[2016-11-06 02:57] kadamwhite commented on #2595
**Note:** edited to indicate `categories` and `tags`, not `category`: use the `rest_base` of your registered taxonomy, which will usually be the plural form.

[2016-11-06 04:57] vedantparchulkar commented on #2595
Hello,
For displaying multiple categories :
http://mydomain/wp-json/wp/v2/posts/?filter[category_name]=drupal,wordpress
this worked for me.
Thank you everyone for your help. :+1:

[2016-11-06 14:07] rush86999 opened #2907 "how to enable json for api plugin"
I enabled wp api plugin but i don't know how to get a json response? any instructions would help

[2016-11-06 14:12] kadamwhite commented on #2907
Thanks for trying the API! JSON is the default, and at this point only, supported response format, so if you're not receiving JSON then something must have gone wrong. May I ask what response you are trying to make, and what you're receiving instead of JSON? What version of the plugin are you using?

[2016-11-06 14:15] rush86999 commented on #2907
i am trying to use the wordpress-hybrid-client that connects through your rest api; it is Version 2.0-beta15. i installed it and i can't get any data back

[2016-11-06 14:43] BE-Webdesign commented on #2907
@rush86999

Can you link to the `wordpress-hybrid-client` that you are trying to use?  Also if you could leave a comment explaining what you are trying to accomplish and the steps you have taken so far, it could greatly help.

Thank you.

[2016-11-06 15:02] rush86999 commented on #2907
https://github.com/shprink/wordpress-hybrid-client

steps taken
1. install rest api plugin
2. follow instructions on above link

# Clone and use the latest version

$ git clone https://github.com/shprink/wordpress-hybrid-client.git && cd wordpress-hybrid-client

# List all versions

$ git tag
$ git checkout <the-latest-version>

# Install

$ yarn

# Run on the browser

$ npm start

gets loading of

[2016-11-06 15:03] rush86999 commented on #2907
my website is rosevillefamilycentre.com

[2016-11-06 15:04] rush86999 commented on #2907
not using https only http->change config.cson file under config for url address

[2016-11-06 15:42] BE-Webdesign commented on #2907
Hi @rush86999

Well from looking at your website rosevillefamilycentre.com/wp-json/wp/v2/posts the API is somewhat working.  There is some sort of plugin doing something weird as it is outputting `<script>` tags in the response.  The other endpoints are working properly so my guess is that https://github.com/shprink/wordpress-hybrid-client is causing some problems for the API.  I would suggest ope

[2016-11-06 15:58] kadamwhite commented on #2907
I agree, this looks like an issue with that client and not the underlying API; I'm going to close this out but feel free to continue discussion below!

[2016-11-06 15:58] #2907 closed, assigned to nobody

[2016-11-07 12:02] findshorty opened #2908 "Empty request in custom endpoints"
After creating custom endpoints, any request made using anything but GET sends an empty request object to the custom callback, regardless of sending a JSON string or an array in the body of the request.

Consider:
[code]

The callback, for simplicity, was changed to:

[code]

And it's ALWAYS an empty array, regardless of using $request->get_params / get_body_params / get_json_params etc.

The requ

[2016-11-07 14:33] nylen commented on #2895
Migrated to https://core.trac.wordpress.org/ticket/38691 - this can be closed.

[2016-11-07 14:45] nylen commented on #2906
Migrated to https://core.trac.wordpress.org/ticket/38693.

[2016-11-07 14:58] #2895 closed, assigned to nobody

[2016-11-07 14:59] #2906 closed, assigned to nobody

[2016-11-07 15:03] nylen commented on #2791
Migrated to https://core.trac.wordpress.org/ticket/38692

[2016-11-07 15:06] #2791 closed, assigned to nobody

[2016-11-08 04:22] rmccue commented on #2908
This is very strange. What if you try sending a GET request, but set `_method=POST` to override the method?

[2016-11-08 09:46] findshorty commented on #2908
Resolved, kind of.

I didn't realise there are such tight restrictions on what data could be sent to custom endpoints. My client wants to synchronise his back end product and user database with his WP site, so the plan was for him to send entire query results of his database to the API, and the callback function would then update or create products or users by mapping his data to the WP data struc

[2016-11-08 10:05] edu-hub1107 commented on #1509
Its very simple, the namespace in the request URL must be like this -
http://domain.com/wp-json/posts/

I hope it works....

[2016-11-08 10:28] engr-zeeshan commented on #1509
"The [domain name] page isn't working" error when I use
http://mydomain/wp-json/wp/v2/posts

Permalinks are enabled

[2016-11-08 14:47] BE-Webdesign commented on #2908
@findshorty

When you are building your own endpoints there aren't any restrictions, I have come across.  Could you elaborate more on what restrictions you are encountering.  The only real restrictions are restrictions that HTTP itself imposes. The restrictions imposed by HTTP can all be worked around, but you may have to format your requests differently and approach the problem differently, depen

[2016-11-08 15:06] jerry-shao commented on #2623
I got the same issue when I using the default permalink style.

My solution:
1. Setting -> Permalink
2. Pick the second format.(Date format)
3. Save changes

[2016-11-08 20:53] JasonTheAdams opened #2909 "Make it possible for taxonomy query to include children"
Greetings!

Currently when a registered taxonomy is used it's assumed that `include_children` is false. That's a bummer as a useful bit of functionality is being cut out of the WordPress query.

[code]

What about making it possible for `$request[$base]` to either be a string and work as-is for backwards-compatibility, or an array with `term_id` and `include_children` indexes?

[2016-11-08 20:59] JasonTheAdams commented on #2909
As an example:

[code]

[2016-11-09 02:52] hoavnd commented on #2623
@jerry-shao's solution works for me. Thanks heap!

[2016-11-09 10:09] findshorty commented on #2908
Thanks for your reply.

So it might be an HTTP restriction that is causing the errors?

My request would be a single object at a time, and triggered by the saving of a record on his back end system.

So his back end would make a PUT request to, for example, /customapi/v1/product/<sku> and the body of the request would be an array, so:

[code]

My $row is approximately 40 columns, and is way below

[2016-11-09 11:01] findshorty commented on #2908
Seems like any field from my customer's database that includes a multiline string is breaking the API, and I receive a cURL 28 error as above.

Actually, scratch that. There's issues with all sorts of fulltext fields. For example this value breaks the request:

`ipad, ipad kiosk, ipad wall mount, ipad secure kiosk, ipad secure wall mount, ipad bracket, ipad flush mount, iPad tilting wall mount, iP

[2016-11-09 11:22] findshorty commented on #2908
Think I've solved it. The customer's database columns are encoded cp1252 instead of UTF-8.

[2016-11-09 14:35] BE-Webdesign commented on #2908
Ah, glad to hear. It was hard to gauge what was going on, as I am sure you probably felt the same.  Character encoding gives me nightmares.

[2016-11-09 14:35] #2908 closed, assigned to nobody

[2016-11-09 14:38] BE-Webdesign commented on #2623
For anyone who may come across this issue, essentially you need to flush your permalinks and have some form of pretty permalinks enabled to use the API the way it is intended.  Following the instructions above will work, but you can also select any of the other formats like post name etc.

[2016-11-09 17:31] garubi commented on #2822
@jensschneider are you using the Postman chrome app or the standalone version?
In the past I had problems with authentication with the Crhome App, now I switched to the standalone one and have no problem with basic authentication.

[2016-11-09 17:51] garubi opened #2910 "register_meta() show_in_rest field mapping is not working."
Hallo,
I'm playing with the register_meta() and the 'show_in_rest' argument.

I'm already using a custom field named 'wpcf-informazioni' that I would like to expose to the REST API with the name of 'extra'.
Following [this](https://github.com/WP-API/wp-api-meta-endpoints/blob/new-meta-new-life/README.md#apispecific-options ) I registered the field using

[code]
but in the response to my GET I get

[2016-11-10 02:29] MELAS007 opened #2911 "wp-json/wp/v2/posts give blank"
hi!

i installed WP REST API v2 and try to access to wp-json/wp/v2/posts unfortunately gives a blank screen without errors... and then i disable WP REST API V2 then tried to go wp-json/ it opens with others informations about the website.... there is no others REST API installed...

I have wordpress 4.5.3 .

What can i do? or is it a bug from wordpress / WP REST API v2???

Any help will be appreci

[2016-11-10 08:49] findshorty commented on #2908
Thanks for your help with working this through.

My animosity towards the WP API has reduced significantly now I know it's actually my fault!

[2016-11-10 11:50] Dattatraymedhane opened #2912 "How to get Featured Youtube Video Url in Response from get post"
I have a call to get postwp-json/wp/v2/posts/id that display's post in mobile app.
Here I have created one post with Featured Video with youtube video url, But the response does not contain the video url or id
I added _embed to request but it returns only featured image, even get media request doesn't include video url

[2016-11-10 14:43] BE-Webdesign commented on #2908
@findshorty

There are some shortcomings for the API, but honestly it works very well and is a top notch REST API.  Glad to hear you are using it and have resolved your issue.

[2016-11-10 14:47] BE-Webdesign commented on #2912
Hi @Dattatraymedhane,

Thank you for using the WP REST API.  To add the featured video are you using a particular plugin for this functionality or how are you doing that exactly?

[2016-11-10 14:52] BE-Webdesign commented on #2911
Hi @MELAS007,

Thank you for using the WP REST API.  Have you enabled debugging for the site you are on?  Try activating the plugin again with debugging on and put the error messages here and we can figure out what is going on.  Here is a good guide for [debugging wordpress](https://codex.wordpress.org/Debugging_in_WordPress)

[2016-11-10 16:09] MELAS007 commented on #2911
I set up debug in wp-config.php then  i disable the plugin it shows this :

[code]

when i activate : it appears nothing.....
and nothing in console and debug.log file

[2016-11-10 17:46] BE-Webdesign commented on #2911
Can you access the `wp-json/wc/v1/` endpoint when the plugin is disabled?

That is really odd. Typically you don't get white screens of death without any error reports, make sure that PHP error reporting is enabled as well.

[2016-11-10 22:45] MELAS007 commented on #2911
Yes I can access wp-json/wc/v1/ endpoint when the plugin is disabled as below:

"namespace": "wc/v1",
"routes": {

[code]

but this is for woocommerce and not for posts or others, can i do??

[2016-11-10 22:46] MELAS007 commented on #2911
can you tell me please how to change wp-json to another name as wpmob-api ?

maybe it is confusing with others but i don't see any errors!

can we solve this together that to give you url ?

[2016-11-11 04:35] Dattatraymedhane commented on #2912
Hi,
Thanks for the reply.
We are using Featured Video Plus plugin.

Finally I solved that with ACF to rest plugin. I added acf field and map that to category.So in edit post of type catagory I can set youtube video id to acf field AND then access that acf field value in get post response. Hope this is a correct way of doing it.:)

[2016-11-12 03:34] #2912 closed, assigned to nobody

[2016-11-13 13:46] connelhooley opened #2913 "How do I fetch the static front page and posts page using the REST API?"
Is there a way to write a REST API query to fetch the page I have set to be my front page? I'd also like to get the one for my posts page but that's less important.

[2016-11-13 14:52] Amenocy opened #2914 "How to increase per_page limit to 200 ?"
hi
can i increase per_page limit to 200 using actions ?

[2016-11-14 10:15] MELAS007 commented on #2911
@BE-Webdesign - any news?

[2016-11-14 13:23] riddhikhakhi commented on #2822
Hello!

I have problem with basic authentication when using custom API custom end point, can anyone help me out for how to set up basic authentication for custom API endpoint.
Also I want to get user id of logged in user when I use my custom API.

[2016-11-14 15:45] BE-Webdesign commented on #2910
Hello Garubi!

The `show_in_rest` argument is meant to be a boolean `true` or `false`. It does not map values to new names. It's purpose is to flag whether you want the field to show up automatically in the API's meta endpoint.  If renaming the field to `extra` is critical, then stick to `register_rest_field()`. I don't believe there is a way to map names using `register_meta()`.

[2016-11-14 15:52] BE-Webdesign commented on #2910
Somehow the fields are not mapping and the documentation indicates they should, so I would say this is a bug.

[2016-11-14 16:23] garubi commented on #2910
I'll test it against WP 4.7 then I file a ticket on track

[2016-11-14 16:42] garubi commented on #2910
since I had the same issue with the trunk I opened a Ticket on Trac: https://core.trac.wordpress.org/ticket/38786

[2016-11-14 17:21] rafasashi commented on #1902
I did post a work around here:
http://wordpress.stackexchange.com/a/246148/37412

[2016-11-15 09:58] MurhafSousli opened #2915 "Getting media by parent bug"
There is a bug in getting media attachments by parent, after removing the attached files from a post, they still comes in the API response

let's say I have a post with 5 attachments in it, I get the attachments like  `/wp-json/wp/v2/media?filter[post_parent]=1413`, I went back to the dashboard and removed 3 attachments, now I should get only 2 attachments but I still get all of them.

[2016-11-16 00:55] kosso commented on #2913
Try looking in `[YOUR_DOMAIN]/wp-json/wp/v2/pages`

And for your posts : `[YOUR_DOMAIN]/wp-json/wp/v2/posts`

[2016-11-16 01:14] kosso commented on #2905
I had to search around for this weird parameter format, but here you go ;)

`/wp-json/wp/v2/posts?filter[post_format]=post-format-video`

Though interestingly, it doesn't seem to work for `post-format-standard`
All the others seem OK for me. (eg: `post-format-audio`, `post-format-aside`, etc. )

This is also mentioned in #984

[2016-11-16 20:43] WorldsEndless commented on #2911
I'm having a similar problem with v2, but it isn't actually a blank page; it's just returning an empty [] when it should be returning the posts or the pages.

[2016-11-17 00:14] WorldsEndless opened #2916 "Filtering by ACF"
I can query successfully to see a list of items like the following:

`{

    "id": 10750,
    "date": "2016-09-08T11:08:59",
    "date_gmt": "2016-09-08T17:08:59",
    "modified": "2016-09-08T11:52:29",
    "modified_gmt": "2016-09-08T17:52:29",
    "slug": "greg-thompson-2",
    "type": "person",
    "title": {
        "rendered": "Greg Thompson"
    },
    "excerpt": {
        "rendered": "",

[2016-11-17 00:42] rmccue commented on #2916
Hi there! We don't provide first-party support for ACF integration with the REST API, so you'll need to ask the ACF folks about this. :)

[2016-11-17 00:42] #2916 closed, assigned to nobody

[2016-11-17 17:23] edygar opened #2917 "Route `wp/v2/users/me` redirects without `content` param"
When trying to reach to current user with edit context, the response comes as default context. Turns out the route `wp/v2/users/me` redirects to `wp/v2/users/[id]` but misses any given param.

[2016-11-17 17:44] nylen commented on #2917
Hi @edygar - we recently discovered a related issue.  Quoting from [Slack logs](https://wordpress.slack.com/archives/core-restapi/p1479388974001559):

Can you move this ticket over to https://core.trac.wordpress.org/ where API development is happening going forward?

Thanks for reporting :)

[2016-11-17 18:02] edygar commented on #2917
done. https://core.trac.wordpress.org/ticket/38842#ticket

[2016-11-17 21:05] WorldsEndless commented on #2916
Ok; you provide the instructions on how to view ACF in results (http://v2.wp-api.org/extending/custom-content-types/). I see them in the overall dump, but I'm trying to get the URL args to work right. The equivalent wp_query would be like this:

[code]

Can this sort of wp_query be duplicated via the URL arguments of the rest-api?

[2016-11-17 21:43] nhondong commented on #2822
Hi,
I have 4 Wordpress Sites. 2 are Hosted by different providers. 2 are running on Ubuntu 16.04.
The Hosted Sites gave me "not Authenticated", the 2 Ubuntu Systems are running and the Authentication works fine.

Any Ideas?

[2016-11-17 22:54] connelhooley commented on #2913
I ended up using a plugin to get the WP options via rest. I was then able to locate the page that has been set as the home page via the pages endpoint.

http://wordpress.stackexchange.com/a/246035/42843

[2016-11-17 22:54] #2913 closed, assigned to nobody

[2016-11-18 03:51] BE-Webdesign commented on #2917
Moved to trac.

[2016-11-18 03:51] #2917 closed, assigned to nobody

[2016-11-18 03:53] BE-Webdesign commented on #2822
@nhondong

What webserver are you running.  Apache, nginx, something else?

[2016-11-18 05:36] nhondong commented on #2822
Hi,
after searching in the issues of the basic Auth, i found a solution.
Setting php to secure mode and changing the .htaccess file to:

# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

#

[2016-11-18 11:06] Beheer80 opened #2920 "Getting correct Permalink?"
Hello All,
I realy love this plugin 👍
I only have a problem with the return links and de endpoint "/wp-json/wp/v2/posts/{POST_ID}"

on some of my site's i get a 403 responce and on some of my site's i can see evrything.
This is solved with setting "Authorization" headers.

But now the strange part.

My Permalinks settings in wordpress are "http://www.example.com/%postname%/".
What i want is to get

[2016-11-19 17:32] dkdl opened #2921 "Is this query possible with the rest api?"
Using Version 2.0-beta15 I'm trying to get the following query with the rest api:

    $args = array (
      'post_type' => 'programm',
      'meta_query' => array(
         array(
          'key'   => 'date_start',
          'compare' => '>=',
          'value'   => date('Ymd'),
        )
      ),
      'meta_key' => 'date_start',
      'orderby' => 'meta_value',
      'order' => 'ASC'
    );

in

[2016-11-19 21:32] yangfan0356 opened #2922 "Cannot get private post with Oauth1 authentication"
Hi WP-API team,

I have problem of getting private post with Oauth1 authenticaiton.

I used postman desktop application, filled the "GET" request with Oauth1's client key, client secret, oauth_token and oauth_token_secret, using url such as "http://xxxxx/wp-json/wp/v2/posts?status=private"

I would expect to get a list of private posts but what I get is
{
  "code": "rest_invalid_param",
  "message

[2016-11-21 10:55] enricodeleo opened #2923 "Issue with line ending characters (eg \n, \u2028) within returned data"
Hi everyone,

lately I noticed that wp rest api is returning data adding the newline character at the end of some property (namely excerpt.rendered and content.rendered). Like in:

[code]

This lead to a big issue in javascript because even if it is recognised as valid JSON (someone alread talked about it http://timelessrepo.com/json-isnt-a-javascript-subset).

I tried to solve this problem by add

[2016-11-22 00:50] rmccue commented on #2923
Newlines _are_ valid JSON, per both the JSON.org notes:
![](http://json.org/string.gif)

And also [per the RFC](https://tools.ietf.org/html/rfc7159):

[code]

[2016-11-22 00:50] #2923 closed, assigned to nobody

[2016-11-22 08:37] enricodeleo commented on #2923
Thank you for your reply @rmccue. As I wrote above, I'm saying the same thing. But when this JSON is consumed by Javascript (again please give a look at http://timelessrepo.com/json-isnt-a-javascript-subset) the problem arises.

Here some other trace of the issue in Javascript:

http://stackoverflow.com/questions/2965293/javascript-parse-error-on-u2028-unicode-character
https://github.com/cordova/

[2016-11-22 09:29] rmccue commented on #2923
Can you use `JSON.parse` instead? That doesn't appear to suffer from this problem as far as I can see.

[2016-11-22 09:49] enricodeleo commented on #2923
In my production app I actually use:

[code]

The problem here is that it has been working for an year or so both with wp-api v1 and v2, but suddenly the returned data started including "\n" characters. Is it an intended behaviour?

[2016-11-22 09:59] rmccue commented on #2923
Nothing should have changed as far as I know, but it could potentially be something on your site (a plugin, e.g.).

I'd be happy to consider adding this, but it's something that should go in at a low-level in `wp_json_encode`, so should be filed in an issue on [WordPress Trac](https://core.trac.wordpress.org/) :)

[2016-11-22 12:44] enricodeleo commented on #2923
Yes I also thought that may be a filter added somewhere down the track, I'm trying to debug which one (I love wp filters but when things start to became complicated are hard to debug).

I'll follow your hint and I'll try to head to the trac. I have to admit that this is a problem limited to JS but I think it is the most common scenario.

[2016-11-22 20:32] andrewhl opened #2924 "WP_API_JWT_AUTH not registering as authentication method"
I'm using the WP_API_JWT_AUTH extension ([here](https://github.com/Tmeister/wp-api-jwt-auth)), but the outputted json at `wp_json/` is not showing it as a viable authentication method.

I've successfully authenticated to `wp-json/jwt-auth/v1/token` and validated the token at `wp-json/jwt-auth/v1/token/validate`, so the plugin is working. However, my `wp-json/` endpoint returns:

[code]

Nothing in

[2016-11-23 15:50] garubi commented on #2316
Hallo,
do the snippet privided by @danielbachhuber above (https://github.com/WP-API/WP-API/issues/2316#issuecomment-188776865) is still valid?
I tried it but the `$endpoints['/wp/v2/posts'][0]['args']['per_page']['maximum']` looks not existent...

[2016-11-23 16:48] modemlooper commented on #2921
How are you adding meta_query ? for example: https://github.com/WP-API/WP-API/issues/2452#issuecomment-212387177

[2016-11-23 17:22] ramiy commented on #2056
@danielbachhuber using labels is a very good idea, but you need to make sure that it can be translated well to all the languages. In some edge cases using "plural" in English is not necessary sounds good in other languages.

[2016-11-24 03:51] lesterchan commented on #2338
Just an update, ```rest_api_init``` is an action not a filter.

So this code should work
[code]

[2016-11-24 04:32] afska opened #2925 "GET /posts/{id} works, but GET /posts returns empty array"
GET `/wp-json/wp/v2/posts/`
Returns an empty array `[]`

GET `/wp-json/wp/v2/posts/32319`
Returns the post (of type **gallery_post**).

The posts are public and accessible from the webpage.
Any help?

[2016-11-25 06:01] elyobo commented on #2308
@aayler I wondered the same, so building on top of @colloquet's answer above I modified the existing routes to add a new `args` entry which validates the `meta_key` values which are permitted.  No need to modify the rest query vars this way either.

[code]

[2016-11-25 11:08] jeherve opened #2926 "Allow random orderby in post queries"
I'm having some trouble querying a list of random posts with the most recent version of the WP REST API.

Up until last month, one could use `rand` with the `orderby` [WP Query parameter][1] to retrieve posts in a random order, like so:

`/wp-json/wp/v2/posts?filter[orderby]=rand`

However, we recently got rid of that `filter` key structure in #2799. The request above would now look like this:

`w

[2016-11-25 13:06] firminochangani commented on #2793
@kadamwhite @nathan6137 I am having the same issue. If you have a solution already please post here, I have a product using it and my users are complaining.

[2016-11-25 14:09] davekiss opened #2927 "Allow filterable permission checks on core controllers"
Apologies if there has been a discussion around this already, I searched and was unable to find it.

Is there any reason why there isn't a filter at the bottom of the `create_item_permissions_check` method on all internal controllers? I'm building a CPT that will extend and reuse most of the `WP_REST_Posts_Controller` but will need to perform a few additional checks to ensure the user has permissi

[2016-11-25 14:12] adamsilverstein commented on #2926
@jeherve You are right, it looks like the current accepted arguments here don't include several from WP_Query that might be useful for posts: 'none', 'modified', 'parent', 'rand' and 'meta_value_num'. Also, I don't see a filter to easily alter these.

Not sure about the history behind why these options are missing - it would be nice to support them all by default and provide a way for developers t

[2016-11-25 14:19] davekiss commented on #2927
Reworded some search terms and found the following discussion (in case others find this thread)

https://github.com/WP-API/WP-API/issues/2733

Looks like `map_meta_cap` might be the trick here.

[2016-11-25 14:19] #2927 closed, assigned to nobody

[2016-11-25 14:26] jeherve commented on #2926
I assume some were removed for security reasons, others for performance reasons, but I couldn't find any discussion about it here. I'm watching [this Core ticket](https://core.trac.wordpress.org/ticket/38693), where I guess we can discuss adding more accepted arguments, but a filter would work for me too, as you mentioned.

[2016-11-25 17:15] andfinally opened #2928 "Filter syntax isn't available"
I'm on WordPress 4.7 beta 4, and I'm finding the filter syntax isn't working.

* The `filter` argument is listed in the v2 docs http://v2.wp-api.org/reference/posts/. But when I do a GET request to `/wp-json/` filter is not listed in the args for the /wp/v2/posts GET endpoint.
* I have three posts in my local environment. When I do a GET request to `/wp-json/wp/v2/posts/?categories=2` I get the on

[2016-11-25 17:22] andfinally commented on #2928
Moved this to Trac https://core.trac.wordpress.org/ticket/38941#ticket, and closing this one.

[2016-11-25 17:22] #2928 closed, assigned to nobody

[2016-11-25 21:53] nylen commented on #2926
These extra `orderby` options were unintentionally removed as a side effect of enabling strict validation for `enum` arguments.

@jeherve can you close this issue and move discussion (and the list of proposed additions) to that Trac ticket? I don't see why we couldn't get this regression fixed in 4.7.

[2016-11-25 21:55] nylen commented on #2927
You can also override the posts controller class, add your extra permissions logic, and specify your overridden class as the controller for your CPT.

[2016-11-26 12:57] elyobo opened #2929 "Add filter to allow modifying response *after* embedded data is added"
The `rest_post_dispatch` is intended to be used for modifying responses, but the `_embedded` data is not yet available which limits the manipulations that can be done.  It would be useful to have another filter that allows us to modify the final result being sent back, immediately before it's encoded and echoed.

For context, this is a problem for me in my `wp-rest-jmespath` plugin, which allows a