[2016-01-18 13:43] #2051 closed, assigned to nobody

[2016-01-18 14:17] pelayopc commented on #2051
ahm, ok, it works fine now
thx a lot

[2016-01-19 04:49] abobwhite commented on #1368
@danielbachhuber Neither of the above solutions using `filter[p]` nor `filter[post__in]` is working to retrieve multiple posts by id.

[2016-01-20 02:18] #1986 closed, assigned to danielbachhuber

[2016-01-20 02:35] danielbachhuber commented on #1063
Because we don't want to globally make methods private, we need to evaluate our existing protected methods one by one. Once we've done so, this issue can be closed.

[2016-01-20 02:35] danielbachhuber commented on #1860
Closing in favor of https://github.com/WP-API/WP-API/issues/1063#issuecomment-173064638

[2016-01-20 02:35] #1860 closed

[2016-01-20 02:57] joehoyle commented on #2032
I'm happy to take this on @danielbachhuber, will try to get it done on my flight tomorrow.

[2016-01-20 02:58] joehoyle commented on #2001
+1 from me

[2016-01-20 03:52] danielbachhuber commented on #2032
Ok. If you don't get to it, I can pick it up at the end of the week.

[2016-01-20 04:23] danielbachhuber opened #2056 "Make error strings and argument descriptions controller-specific"
Throughout the codebase, we have static strings like 'Sorry, you are not allowed to create new posts.' and "The date the object was published, in the site's timezone.".

Generally, strings should be dynamic based on the controller.

Related https://github.com/WP-API/WP-API/pull/2053#discussion_r50206683

[2016-01-20 06:14] kadamwhite commented on #642
@baffleinc Are any other query parameters (like `posts?page=2`) working? What server are you using? If it's nginx, make sure your try_files directive is [specified as described in #1926](https://github.com/WP-API/WP-API/issues/1926#issuecomment-168090756), it's possible your server can't see the query parameters.

[2016-01-20 08:44] rmccue commented on #2056
Could we offload this to the post type registration `labels`?

[2016-01-20 14:55] danielbachhuber commented on #2056
The entire string, or just the source of the subject?

[2016-01-20 19:09] laustdeleuran commented on #1989
+1 - Having the same issue on a clean WP install (v4.4.1) + beta10.

Plugins: http://cl.ly/2X151Z3y312z
Error in Chrome: http://cl.ly/0o2i3A1Z1D1W

I  get nothing in my `php_error.log`.

[2016-01-20 19:23] laustdeleuran commented on #1989
@kalebheitzman I think you're right. My issue went away as well after a (computer) MAMP restart.

[2016-01-21 01:20] danielbachhuber commented on #2050
Thanks for the report, @JakePT. We'll take a look into this when we have a moment.

[2016-01-21 05:05] kadamwhite opened #2065 "Plans to reinstate filtering taxonomy term collections?"
Way back in #401 we had added the ability to use `get_terms` arguments via the `filter` parameter on taxonomy term collections. Per #924 the beta plugins have removed that support: neither `/tags` nor `/categories` is listed as having any support for the `filter` query property, which has been borne out by my own testing on beta 10.

Lacking filter support for these collections makes it cumbersome

[2016-01-21 08:33] mistvan commented on #1952
Hi guys,
I have subsite spevnik and song custom post type there http://mistvan.spolocenstvomajak.sk/spevnik/wp/v2/song. Result is not correct.

But using `rest_route=/wp/v2/song` param saved me :)
http://mistvan.spolocenstvomajak.sk/spevnik?rest_route=/wp/v2/song

Thanks

[2016-01-21 08:39] ioanlucut commented on #1987
Is there a workaround for this issue ? e.g. keeping the client authenticated?

[2016-01-21 14:25] danielbachhuber commented on #1987
Authenticated and appropriately authorized requests will be able to access all media.

[2016-01-21 14:30] danielbachhuber opened #2066 "`filter` param for Users, Comments and Terms"
We have a `filter` param on `GET /wp/v2/posts` which permits clients to use `WP_Query` arguments.

Should we introduce an equivalent param for Users, Comments and Terms?

If we do, we'll need a layer of authorization to use the `filter` param, as core currently doesn't have a paradigm of public vs. private query vars for non-Posts.

[2016-01-21 14:32] danielbachhuber commented on #2065
I've filed a separate issue for this, as it merits some discussion #2066

Why don't we just add a `slug` param to the terms endpoint?

[2016-01-21 14:34] #2033 closed, assigned to nobody

[2016-01-21 15:05] danielbachhuber commented on #1615
In the interest of simplicity, the `context` argument will always apply to the requested resource. `?_embed` is a magical argument to get the embedded representation of linked resources. Should you want the full representation, you'll need to make an additional request.

[2016-01-21 15:05] #1615 closed

[2016-01-21 15:57] #2032 closed, assigned to joehoyle

[2016-01-21 15:58] danielbachhuber commented on #1861
No longer valid, as of #2063

[2016-01-21 15:58] #1861 closed

[2016-01-21 15:59] danielbachhuber commented on #1868
As of #2063, it's much easier to just set a different category on post creation. We can punt on this for now:

[2016-01-21 15:59] #1868 closed

[2016-01-22 01:26] danielbachhuber commented on #1952
@richardtape I'm going to close this for now — feel free to re-open if you are able to successfully reproduce.

[2016-01-22 01:26] #1952 closed

[2016-01-22 10:40] ghost opened #2068 "Duplicate post with meta_key and meta_value filters when using page attribute"
Hi all,

I'am using wp rest api V2 and when I do :

On this first page, I have the ID : 691, **668** and 671.

On this second page,  I have the ID : 680, 682 and 684.

And finaly, on this **third page**, I have the ID : **668**, 647 and 649.

From this moment, I have a problem on every next page because at least one of my older post reappears on the next pages.

Am I the only one who have this pro

[2016-01-22 10:43] fschroiff commented on #1461
@enejb I got `date_query` to work with this code in functions.php

[code]

Read about it here: https://github.com/WP-API/WP-API/issues/389#issuecomment-149210813

[2016-01-22 17:39] kadamwhite commented on #2065
I believe a `slug` query is an important component of any slug-supporting collection, so if we went that route I'd suggest we add it to `/posts`, etc as well, for consistency.

[2016-01-22 17:47] kadamwhite commented on #2066
If we provide a `slug` query parameter across relevant collection types, looking at `get_terms` much of the remaining functionality is actually replicated by the existing parameters `page`, `per_page`, `order`, etc. The main pieces of term-specific functionality that isn't supported by the current parameters (per #924 at least) is searching by Slug, as noted in #2065; `child_of`, which extends bey

[2016-01-22 17:58] danielbachhuber commented on #2066
It's not really a user experience consideration — it's a "are we exposing data that was previously private" consideration.

[2016-01-22 18:29] kadamwhite commented on #2066
I don't mean to discount that, but I'd rather a custom slug parameter that I can use than a filter parameter that requires authentication.

Additionally, most of the properties I described could be deduced as-is by iterating through all terms and computing the relationships yourself; that's just horribly inefficient.

[2016-01-22 19:23] #1873 closed

[2016-01-22 20:19] #1969 closed

[2016-01-22 21:31] JasonHoffmann opened #2078 "$HTTP_RAW_POST_DATA error on POST request"
I'm currently using just the infrastructure of this plugin on WP version 4.4.1. I'm getting a weird error when setting up a POST request:

`Automatically populating $HTTP_RAW_POST_DATA is deprecated and will be removed in a future version. To avoid this warning set 'always_populate_raw_post_data' to '-1' in php.ini and use the php://input stream instead. in Unknown on line 0.`

The function that I

[2016-01-22 21:34] danielbachhuber commented on #2078
@JasonHoffmann This an issue with [the rest API infrastructure](https://core.trac.wordpress.org/browser/trunk/src/wp-includes/rest-api/class-wp-rest-server.php#L1176). Can you [open a Trac ticket](https://core.trac.wordpress.org/) and we'll get it addressed? Thanks

[2016-01-22 21:34] #2078 closed, assigned to nobody

[2016-01-22 21:35] JasonHoffmann commented on #2078
No problem, I've never submitted a Trac ticket, is the way it is formatted above okay? (just being cautious)

[2016-01-22 21:49] danielbachhuber commented on #2001
:ship:

[2016-01-22 21:49] #2001 closed, assigned to danielbachhuber

[2016-01-22 21:49] #1927 closed

[2016-01-22 21:57] danielbachhuber opened #2081 "Unused variable assignment in `Attachments::create_item()`"
Not sure what the original intent was with:

[code]

Scrutinizer also reports this as unused:

[code]

Discovered in #2080

[2016-01-23 14:04] danielbachhuber commented on #2065
I've added `slug` to `/wp/v2/categories`, `/wp/v2/tags`, `/wp/v2/posts`, and `/wp/v2/users`

[2016-01-23 14:04] #2065 closed, assigned to nobody

[2016-01-23 15:46] dleeward opened #2106 "Unicode character U+00B0 causing 500 server error"
When posting into the content field using v2beta6, Unicode character U+00B0 (degree symbol) is causing a 500 server error. Can someone else try to replicate this?

[2016-01-23 15:47] danielbachhuber commented on #2106
Can you use `wp shell` to run the character through `wp_json_encode()` and see if you reproduce the error?

[2016-01-23 15:54] dleeward opened #2107 "OAuth in 4.5 core?"
Will OAuth be part of core in WP v4.5? If it is, will it work on shared hosting without access to the cli? If not, are there plans to update the plugin to be able to install on shared hosting?

Sorry for the duplicate, but never got a response in the Oauth repository.

[2016-01-23 17:01] dleeward commented on #1955
Has anyone tired this "unofficial" project? https://github.com/WP-API/Key-Auth

[2016-01-23 17:23] rajesh-h opened #2108 "Custom Post Type - Individual Posts are not Shown getting 404 error"
Hi Team,

Thank you for this plugin.

I have a custom post type as part of a recipe plugin used on mysite, so I used method 2. on the below link

http://v2.wp-api.org/extending/custom-content-types/

[code]

I am able to get custom post type in following link, CPT= "recipe"

http://totest-cscom.rhcloud.com/wp-json/wp/v2/posts   - It includes the CPT related to recipe type

but when trying to fetch

[2016-01-23 22:38] danielbachhuber commented on #2106
Hm, I can't reproduce with `wp_json_encode()`:

[code]

I'm not sure what else would be causing it. If you could offer specific reproduction steps, and see if they replicate on a stock install of WordPress, it would be helpful for further debugging.

[2016-01-23 22:40] danielbachhuber commented on #2108
The proper endpoint for your CPT would be `/wp/v2/recipe`, which would fully resolve to:

http://totest-cscom.rhcloud.com/wp-json/wp/v2/recipe/4934

[2016-01-23 22:40] #2108 closed, assigned to nobody

[2016-01-23 22:42] danielbachhuber commented on #2108
Also note: if you visit http://totest-cscom.rhcloud.com/wp-json/, you'll see an index of all registered routes. You can use a browser extension like [JSONView](https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc?hl=en) to see it in a more human-friendly view.

[2016-01-23 22:43] danielbachhuber commented on #2107
Good question. I'm not sure of the current plans with regards to OAuth. I've flagged this issue for a reply from @rmccue when he has a moment.

[2016-01-23 23:25] danielbachhuber opened #2109 "Easier way of producing `WP_REST_Request` from a full URL"
`WP_REST_Request` expects a clean path (e.g. `/wp/v2/categories`) on instantiation. If we want to programmatically test for valid links (#1815), then we need an easier way of creating a `WP_REST_Request` object from a full URL (e.g. `http://example.org/?rest_route=%2Fwp%2Fv2%2Fcategories&post=3`). Currently, it's a bit of a nightmare.

[2016-01-23 23:29] danielbachhuber commented on #2109
This is what it took:

[code]

[2016-01-23 23:31] #2047 closed, assigned to nobody

[2016-01-24 03:39] rajesh-h commented on #2108
@danielbachhuber Thank you very much for your response. I was aware of end point /wp/v2/recipe
I will try to explain what is happening.

I am working on creating app, I get list of posts in my home page using below link
http://totest-cscom.rhcloud.com/wp-json/wp/v2/posts

now on  my home page i have both post types listed, that is post type="post" and CPT="recipe"

when i click on any post it redi

[2016-01-24 06:15] patrickgalbraith commented on #2066
Some reference for the built in queries and the equivalent API parameters currently.

## WP_Comment_Query

https://codex.wordpress.org/Class_Reference/WP_Comment_Query

| Key | API |
| --- | --- |
| author_email | author_email |
| author__in |  |
| author__not_in |  |
| include_unapproved |  |
| fields |  |
| ID | id |
| comment__in | include |
| comment__not_in |  |
| karma | karma |
| number |

[2016-01-24 08:13] rmccue commented on #1815
n.b. we need to allow links to any URL, so maybe we should just check if it's a valid URI, and call `_doing_it_wrong` if not?

[2016-01-24 14:11] danielbachhuber commented on #2066
@patrickgalbraith Thanks for putting together the chart. You can track our progress on adding query params in #924, though there's a couple things to note:
1. We won't be able to implement 100% parity with `WP_Comment_Query` and `WP_User_Query`, because some features don't make sense in REST API context.
2. As much as possible, we want to normalize parameters and usage.

[2016-01-24 14:26] danielbachhuber commented on #1815
Sorry, to be more clear, this ticket is referring specifically to our test suite. In our test suite, when we receive a response with links, I think we need to have a more consistent pattern of dispatching the links to see if they return the response we expect.

I originally thought we could do this programmatically (and just check for a 200), but now I think it might be a bit more involved than th

[2016-01-24 14:30] danielbachhuber commented on #2108
You could, although the _proper_ way to add recipes to your REST API is to expose them entirely on a separate endpoint (e.g. `wp-json/wp/v2/receipes`) and fetch them in a separate request. They shouldn't be exposed within `wp-json/wp/v2/posts`

[2016-01-24 14:48] rajesh-h commented on #2108
Thank you @danielbachhuber I will follow your advise.

Thank you very much

[2016-01-24 16:16] enoliglesias opened #2113 "Include tags and categories string array in posts"
I think it would be ok to add in `wp-json/wp/v2/posts/` query an entry for post tags and post categories. Something like this:
- `"tags": ["tag1", "tag2", "tag3"]`
- `"categories": ["category1", "category2"]`

In order to do some quick simple searches by them and do not have to make and extra queries once you have the posts retrieved.

Regards!

[2016-01-24 16:23] danielbachhuber commented on #2113
In Beta 11, we'll be including the ids for tags and categories in the Post response #2032

You can use `?_embed` to get the full representation of the tags and categories in `_links`. For an introduction to linking, see this doc: http://v2.wp-api.org/extending/linking/

[2016-01-24 16:23] #2113 closed, assigned to nobody

[2016-01-25 11:51] mineralwassermedium opened #2114 "Should callbacks distinguish between URL and body params?"
Hello

When I make a POST request to the endpoint /users/<id> to update data of a user, I can update any user. For example:

I have two users:

[code]

Now I am logged in as user1 and make the post request to the endpoint /users/1 with the request body:

[code]

and the former user2 is now

[code]

Is that supposed to work?

[2016-01-25 11:58] joehoyle opened #2115 "Should entities be be encoded in rendered?"
This might be a silly question - but should the rendered values (say for post title) have HTML entity encoding, or should they be the UTF-8 chars themselves. It seems to be we should be HTML agnostic, but I see html entities a fair bit - which WP will often store in the DB (via other crazyness)

[2016-01-25 13:05] danielbachhuber commented on #2115
Related #1227

I'd _think_ we should convert them to UTF-8, but I don't know if it's safe to do so.

There's a core ticket somewhere about how storing HTML entities in the database is a bug in the first place.

[2016-01-25 13:16] danielbachhuber commented on #2114
Internally, our callbacks don't currently distinguish between arguments included in the URL and arguments included in the body. Because you've included `id` in the body, it overrides the `id` specified by the named group regex for the path.

I'll flag this issue for discussion as to whether we should make our internal callbacks more precise. Thanks for reporting!

[2016-01-25 17:53] pglewis commented on #1294
Anyone having integration issues with Pods: it helps to report your issues with us.

https://github.com/pods-framework/pods/issues
https://github.com/pods-framework/pods/issues/3362

[2016-01-26 00:05] danielbachhuber commented on #1227
Some discussion in Slack: https://wordpress.slack.com/archives/core-restapi/p1453763817000092

[2016-01-26 09:02] pelayopc opened #2116 "Can´t create new post"
I did work with the api in blogs without any problem, but now i create a new blog in a new server, all plugins ok, basic auth, etc. but now when i create a new post i get this response from the api:
{
  "code": "rest_cannot_create",
  "message": "Sorry, you are not allowed to create new posts.",
  "data": {
    "status": 401
  }
}

all plugins in server are ok like in the other blogs where it work

[2016-01-26 10:21] acdarekar opened #2117 "On new post creation, categories weren't inserted."
Hi, When I make a POST call to `/posts` endpoint with JSON data, post is created but categories are not.

The JSON array I'm submitting is:

[code]

Am I doing it wrong?

[2016-01-26 12:51] danielbachhuber commented on #2117
`categories` needs to be the term ids for already created categories.

If the categories aren't created already, you can create them with `POST /wp/v2/categories`

[2016-01-26 12:51] #2117 closed, assigned to nobody

[2016-01-26 13:03] danielbachhuber commented on #2116
It's hard to say what the issue might be without additional detail. When you open support tickets, please try to share as much detail as possible, otherwise the only help we can provide is asking follow-up questions.

Can you share the full request you're making, and all of the debugging you've done? And, to confirm, the authentication plugin is activated?

[2016-01-26 18:17] rajesh-h commented on #2108
@danielbachhuber sorry to come back on this, I know it is suggested to use wp/v2/recipes/myCPTPostId  is there a way to bring using wp/v2/posts/myCPTPostId   this was possible in wp-api v1   can it be achieved in v2 as well?

 I am asking because i am trying to use an app which works on wp/v2/posts/postId  endPoint  making it to use recipes/postId is taking lot of time. i need to rewrite most of t

[2016-01-26 18:33] danielbachhuber commented on #2108
It would require a fair amount of custom code as it violates the design principles of WP-API v2.

[2016-01-26 20:39] mjacobsen4DFM commented on #2117
Having the same issue.
Here is my post:

<pre><code>{
  "date":"2016-01-26T19:39:40+00:00",
  "title":"In Oscars crisis, Chris Rock and a microphone loom large",
  "categories":["106"],
  "content":"Chris Rock first hosted the Oscars in 2005...",
  "excerpt":"Chris Rock at the Oscars"
}</code></pre>

Here is the associated category:

<pre><code>{
  "id":106,
  "count":0,
  "description":"AP-33330"

[2016-01-26 21:04] danielbachhuber commented on #2117
@mjacobsen4DFM Although you're passing the id as a string, it seems like it should work. Can you share the full request and response, with any debugging you've done?

[2016-01-26 21:35] danielbachhuber opened #2118 "Introduce new WP_REST_Controller protected class variables"
To make it easier to subclass `WP_REST_Controller`'s children and reuse their methods, I propose we introduce four protected class variables:
- `$namespace`
- `$rest_base`
- <del>`$plural_label`</del>
- <del>`$singular_label`</del>

Edit: As it turns out, we can't use variables in the labels :(

Related #2056

We'll need to update:
- [x] `WP_REST_Attachments_Controller`
- [x] `WP_REST_Comments_Con

[2016-01-27 01:42] mjacobsen4DFM commented on #2117
I changed the type to Integer. No joy.

Post Post:

<pre>
{
   "date":"2016-01-26T21:45:20+00:00",
   "title":"After setting iPhone record, Apple forecasts rare sales drop",
   "categories":[
      24
   ],
   "content":"<p>SAN FRANCISCO (AP) &#8212; Apple is bracing for its first sales decline in 13 years, despite selling a record 74.8 million iPhones in the final three months of 2015.</p><p>The

[2016-01-27 10:42] pelayopc commented on #2116
Ok Sorry, finally it was a problem in the server rewrite mod
thx a lot

[2016-01-27 10:44] pelayopc opened #2123 "Set post tags"
Now with the last update how can i set a tag to a existing post?

before the update, this works fine:
wp-json/wp/v2/posts/-postid-/tags/-tagid-

Similar with categories

[2016-01-27 10:54] rmccue commented on #2123
All you need to do is send the tags array in the post data without the tags you want to remove. If you have `1, 2, 4` for example, you'd send just `1, 2` as the tags value to remove tag `4`.

[2016-01-27 10:54] #2123 closed, assigned to nobody

[2016-01-27 10:58] pelayopc commented on #2123
Them now i need two requests to setone tag to a post, one to get de tags array from post, and another one to set the new one?

[2016-01-27 11:06] rmccue commented on #2115
I'd be OK with decoding this so long as fields that are _actually_ HTML don't get converted; i.e. the post title is actually HTML content, so we can't decode this.

[2016-01-27 12:57] arsu-leo opened #2124 "Inconsistent results on /categories?page=0"
When i query to mySite.com/wp-json/wp/v2/categories?page=0
I get the same results as page 2.
Does it make sense?
If the parameter is index 1 based, shouldn't it be ignored?

Thanks for your time.

Btw: this took me some headaches until i realized it

[2016-01-27 13:33] mineralwassermedium opened #2125 "wp_api.js in 2.0-beta11"
WP_API_Settings is now wpApiSettings. Should be changed in the documentation.

http://v2.wp-api.org/guide/authentication/

[2016-01-27 14:01] BrekiTomasson opened #2126 "Category setting broken in latest beta?"
Hi all! I updated to the latest beta build yesterday, and it seems my category setting/unsetting code is broken. Here's the code I've been using:

[code]

And, if we look at the two functions that I'm using:

[code]

Any ideas why this stopped working? It's not giving me any error messages as far as I can see, just ... not doing what it's supposed to be doing. I'm also getting a "no route" error i

[2016-01-27 14:03] BrekiTomasson commented on #2126
I understand the first point in the release notes, and I can see the information I'm going for in http://csicon.fm/wp-json/wp/v2/categories?post=46930 - but how has the setting/deleting category information syntax changed?

[2016-01-27 14:13] #2116 closed, assigned to nobody

[2016-01-27 15:44] fschroiff opened #2127 "Alter output of API"
Our production server is hooked up to a CDN. The rendered output of WP is rewritten to have asset urls point to the CDN.

This does not work for the output of the WP REST API. I'd like to alter the output of the WP REST API via functions.php to contain the CDN URL of an image instead of the local URL.

For my use case this only has to work for featured images of a post-type called "check".

URLs l

[2016-01-27 15:46] adamsilverstein commented on #2125
good point @mineralwassermedium! thanks for catching that.  Can you please make a pull request against the [docs repo](https://github.com/WP-API/docs-v2) with the fixes?

Thanks!

[2016-01-27 15:50] adamsilverstein commented on #2125
Thanks again, closing this as a duplicate of https://github.com/WP-API/docs-v2/issues/101.

[2016-01-27 15:50] #2125 closed, assigned to nobody

[2016-01-27 15:52] danielbachhuber commented on #2127
There isn't a good filter for this, in fact. `rest_post_dispatch` will [let you filter the main resource](https://developer.wordpress.org/reference/hooks/rest_post_dispatch/), but it won't be applied to any thinks that are embedded.

If all you need to do is rewrite asset URLs to the CDN, I might recommend filtering a bit lower in the stack. WP-API uses all of the `wp_get_attachment_*()` functions

[2016-01-27 15:52] #2127 closed, assigned to nobody

[2016-01-27 18:19] westonruter commented on #2127
Isn't this what [#35628](https://core.trac.wordpress.org/ticket/35628) is about?

[2016-01-27 19:04] rajesh-h opened #2128 "Update Users::get_item_permissions_check() to respect publish count for all REST API-visible post types"
Hi,

This may not be a issue I might be missing some thing here.

I want to get access to user avatar. In my site i get 401 error, but in other site it is fetched successfully. am i supposed to change some setting on my side? or is it a Security matter where we need to authenticate the person who is viewing the app

http://totest-cscom.rhcloud.com/wp-json/wp/v2/users/1  -- 401 error wpAPi V2 betaV

[2016-01-27 19:14] danielbachhuber commented on #2127
Yep

[2016-01-27 19:21] mjacobsen4DFM opened #2129 "GET fails for META using Basic Auth"
Using basic auth as a site _admin_, most functions work, but GET META fails.

GET post = http://example.com/wp-json/wp/v2/posts/1522092
`{"id":1522092,"date":"2015-12-12T04:23:18","date_gmt":"2015-12-12T16:23:18","guid":{"rendered":"http:\/\/example.com?p=1522092&#038;preview_id=1522092"},"modified":"2016-01-26T16:32:41","modified_gmt":"2016-01-26T22:32:41","slug":"heres-what-it-will-take-for-ford

[2016-01-27 19:49] mjacobsen4DFM commented on #2129
For the record, the post does have meta data:

<pre>meta_id    post_id meta_key        meta_value
6468772 1522092 original_source     http://example.com/localnews/29237370/seo-friendly-url
6468773 1522092 original_byline     By Prolific Author
6468774 1522092 discovered_authors  (prolific-author)
6468775 1522092 original_email      aprolific@example.com
6468776 1522092 original_pubdate    12/12/20

[2016-01-27 20:28] mineralwassermedium commented on #2125
Sorry I dont know how pull request works, I am very new to git and github

[2016-01-28 05:13] danielbachhuber commented on #2128
Users are only publicly exposed when they have at least one published post. If they don't have a published post, then you'll need authorization to view the user.

[2016-01-28 05:20] danielbachhuber commented on #2129
Because your response is returning `status:401`, this means the WP REST API is interpreting it as a logged out request. Accessing post meta requires both authentication (user is logged in) and authorization (user has permission to edit the post).

I'd recommend double-checking to make sure your Basic Auth header is set properly, and authentication works as expected.

[2016-01-28 05:20] #2129 closed, assigned to nobody

[2016-01-28 05:24] rajesh-h commented on #2128
Thank you @danielbachhuber for your response.

Please note all my posts are custom post type which is 'recipe'

Author for all these posts are users/2   even users/2 also is not accessible.

Proof to say user 2 has published recipe/post
http://totest-cscom.rhcloud.com/wp-json/wp/v2/recipes/4959

Unable to access this user
http://totest-cscom.rhcloud.com/wp-json/wp/v2/users/2

Does it boil down to

[2016-01-28 05:29] danielbachhuber commented on #2128
Yes, it currently does because we're checking `count_user_posts( $id )` which defaults to the Post post type.

I'll flag this as a bug to fix in the next release, because we need to:
- [ ] Call `count_user_posts()` with an array of all REST API-visible post types, instead of limiting to just posts.
- [ ] Add tests to ensure a user who has published a Page, but not a Post, is accessible in the API.

[2016-01-28 05:36] rajesh-h commented on #2128
@danielbachhuber  thank you very much.

So for now i have created a dummy normal post so the author is visible without authentication. Thanks a lot for your response.

[2016-01-28 06:05] danielbachhuber commented on #1872
To wrap this issue up, let's do a few things:
- [ ] Conditionally add `avatar` to the User schema based on the setting
- [ ] Only add `avatar` to the response object if present in the schema.
- [ ] Add a test to make sure the `avatar` is present by default, and not included when `show_avatars` is disabled.

[2016-01-28 06:15] tharsheblows commented on #1872
Thank you! I can do this, although perhaps not today. Definitely tomorrow though.

[2016-01-28 08:46] digitalkaoz commented on #1425
im with @TimothyBJacobs i think simple data structures (array,stdclass) should be allowed as serialized values. hacking around that limitation is a bit ugly here. maybe we can provide a global _switch_ to allow sensitive data in `meta` endpoints or not. since the whole `meta` endpoints are secured anyways i think i doesnt makes sense the dictate even further by removing serialized meta fields, i m

[2016-01-28 09:04] digitalkaoz commented on #1425
for anyone will to reenable serialized meta fields (**be aware of the security implications!!**)

[code]

a bit hacky, but it works. **use with absolute caution** would be great to have a secured switch in the rest-api itself...

[2016-01-28 12:12] danielbachhuber commented on #1425
@digitalkaoz I've removed your comment, as we can't officially support insecure code snippets.

[2016-01-28 14:10] digitalkaoz commented on #1425
yeah sure, i thought i put enough security disclaimers aside ;) anyway, would love to see this switch implemented

[2016-01-28 15:00] marceloemanoel opened #2135 "Can't filter posts by slug?"
Hi, guys.

First of all, congratulations. This project helped me a lot!
I'm using the demo api to try to filter posts and pages by slug.
But when I submit a GET to

http://demo.wp-api.org/wp-json/wp/v2/posts?slug=sunt-velit-consectetur-nobis-non or
http://demo.wp-api.org/wp-json/wp/v2/pages?slug=voluptatem-est-laborum-doloribus

I'm getting a different result than what I expect which would be to g

[2016-01-28 15:14] danielbachhuber commented on #2135
I think `demo.wp-api.org` is still using an older version of the API. Have you tried Beta 11 locally?

[2016-01-28 15:58] TimothyBJacobs commented on #2118
Posted this in a PR, but should've here.

Something to keep in mind, IIRC, using the singular and plural label to build strings is verboten. It doesn't work for languages with more complex sentence structures. See [this core ticket](https://core.trac.wordpress.org/ticket/12968).

[2016-01-28 16:02] danielbachhuber commented on #2118
Ah, damn. Didn't think of that.

Can you think of a way we can accommodate controller-specific language? (#2056) Or, are we better off just using "Resource" ?

[2016-01-28 16:06] TimothyBJacobs commented on #2118
I think it'd be best to handle it the way core currently does, which is default to using "View Post" and support customization in the `$labels` registration arg.

[2016-01-28 16:08] danielbachhuber commented on #2118
Huh. We have a ton of potential strings though.

[2016-01-28 16:11] TimothyBJacobs commented on #2118
Yep, languages suck. We could default to something like.

But I'm not sure that is much better.

[2016-01-28 16:15] westonruter commented on #19
I've proposed that schema information be introduced directly on `WP_Widget` which can then be used to drive the widget endpoints: https://core.trac.wordpress.org/ticket/35574

[2016-01-28 17:39] mjacobsen4DFM commented on #2129
Thank you, @danielbachhuber
The odd thing then is that I do the meta call between tags and categories, and they authenticate fine, so clearly the header and authentication work as expected..

[2016-01-28 20:48] rajesh-h opened #2137 "Support - Get Multiple Custom Fields in one rest_api_init request"
Hi ,

I am going through this
http://v2.wp-api.org/extending/modifying/

Is it possible to register multiple fields in below code? The example specified uses only one custom field that is **starship**.  What if i have another custom field as **warship**, can i register in same **rest_api_init** request?

[code]

[2016-01-28 20:50] marceloemanoel commented on #2135
Hi @danielbachhuber I haven't tried on a local machine. I'll try it when I get home.

[2016-01-29 06:49] ekweible commented on #2137
I have this same question. I'm currently using this in combination with the Advanced Custom Fields plugin to add several custom fields to the response. I can retrieve all of the custom fields with a single call to ACF's `get_fields()`, so being able to add all of these fields in a single callback would be the most performant.

[2016-01-29 07:26] kdpuvvadi opened #2138 "Every request returning null response"
Every request i sent returning with null response expect `/wp-json/wp/v2/` and other than that i'm getting null for very endpoint on the site

[2016-01-29 07:59] danielbachhuber commented on #2138
Sorry, but it's hard to say what this issue might be without having more detail.

To debug your current environment, I might recommend deactivating all of your plugins, and switching to the Twenty Sixteen theme, and then re-activating them one by one to diagnose which might be causing it.

Alternatively, if you'd just like to start using the API, you can set up a new WordPress install for it.

[2016-01-29 07:59] #2138 closed, assigned to nobody

[2016-01-29 08:02] danielbachhuber commented on #2137
Sure, try something like this:

[code]

[2016-01-29 08:02] #2137 closed, assigned to nobody

[2016-01-29 08:37] kdpuvvadi commented on #2138
i've deactivated every plugin, switched to 2016 theme. and hosted on Ubuntu VPS(azure), nginx 1.8, mysql 5.5, wordpress 4.4.1, still getting the problem, as an android app using this api, they are getting errors as it is giving null for every request, and none of the changes were made to the site for the past week except publishing the posts for API

[2016-01-29 09:09] danielbachhuber commented on #2056
I think it's a lot of new strings to try and include in `labels`, so we should use generic "resource" language instead.

[2016-01-29 09:56] danielbachhuber commented on #2129
How do you know that they authenticate fine? Getting tags and categories doesn't require authentication.

[2016-01-29 12:04] danielbachhuber opened #2143 "Move permissions check in Statuses controller to a get_item_permissions_check"
In `WP_REST_Post_Statuses_Controller::prepare_item_for_response()`, there's a permissions check that should instead be included in a `get_item_permissions_check()`:

[code]

When we make this change, we should make sure there are tests covering that private statuses aren't exposed when getting a list of posts.

[2016-01-29 12:13] danielbachhuber commented on #2118
@TimothyBJacobs going with a more generic "resource" for now. Thanks for flagging the issue!

[2016-01-29 12:19] danielbachhuber opened #2144 "Support for date queries with `GET /wp/v2/posts`"
It would be nice if we had top-level support for date queries with `GET /wp/v2/posts`.

`WP_Query` currently supports a ton of date filters:

![image](https://cloud.githubusercontent.com/assets/36432/12675466/5a190996-c63f-11e5-9969-df25e278a38b.png)

We should pick which fields would be sensible to support, and add them to `GET /wp/v2/posts`

Related #924

[2016-01-29 12:26] danielbachhuber opened #2145 "Support taxonomy queries"
It would be nice if we had top-level support for tax queries with `GET /wp/v2/posts`.

Here's `WP_Query` currently supports:

![image](https://cloud.githubusercontent.com/assets/36432/12675613/5f311076-c640-11e5-958a-7079d19e8f1b.png)

Related #924

[2016-01-29 12:36] marceloemanoel commented on #2135
Hi @danielbachhuber, I've installed and tried the Beta 11 version.
It worked fine.

Thanks!

[2016-01-29 12:36] #2135 closed, assigned to nobody

[2016-01-29 12:49] kadamwhite opened #2146 "Consider returning refreshed NONCE with any nonce-auth'd request"
At the WP-API hack day following the Day of REST event, the auth/clients working group identified that the existing nonce auth solution for client-js would lead to an eventual auth timeout because there is no way for the backbone client to obtain an updated nonce.

@adamsilverstein to clarify

[2016-01-29 12:51] ifyouwillit opened #2147 "ADOR '16 Hack Day - Documentation team"
Questions:
What's the best way for documentation to be presented?
We should have more examples in documentation
Should we integrate with code reference?

Areas of documentation
    Comments
    API reference
    Landing page
    Endpoints responses
    Extending the API
    Examples

Good examples of documentation
    Stripe
    Backbone
    Twilio
    Trello
    GitHub API console
    Digital Oce

[2016-01-29 13:04] kadamwhite opened #2148 "ADOR '16 Auth/Clients team notes"
Action items from this discussion largely impact the individual client repos,
- [redefining/rest-api-client](https://github.com/redefining/rest-api-client)
- [kadamwhite/wordpress-rest-api](https://github.com/kadamwhite/wordpress-rest-api)
- [wp-api/client-js](https://github.com/wp-api/client-js)

or on the oauth plugin repository. The exception is #2146, which would support a authentication issue

[2016-01-29 13:26] danielbachhuber commented on #2146
Oh, huh. Good idea. Should we include in a `X-WP-Nonce` header?

[2016-01-29 13:47] kadamwhite commented on #2144
Anecdotally, I have most often leveraged `year`, `month`, `day`, `before` and `after`.

[2016-01-29 13:59] jeremyfelt opened #2149 "ADOR '16 Hack Day - Meta Team"
We discussed how to approach the implementation of post, comment, term, and user meta in the REST API and came up with a few areas to focus on.
### How to determine if meta is public

WordPress core currently contains the concepts of protected and authenticated meta. These may be useful to us when determining what to publicly expose in the REST API.
- If the first character of a meta key is `_`, m

[2016-01-29 14:16] jeremyfelt commented on #2149
Core ticket for registering meta meta: https://core.trac.wordpress.org/ticket/35658

[2016-01-29 14:29] danielbachhuber commented on #19
Work in progress on menus and widgets in https://github.com/WP-API/wp-api-menus-widgets-endpoints

[2016-01-29 14:32] danielbachhuber commented on #1669
Plugin and theme management is WIP in https://github.com/WP-API/wp-api-plugins-themes-endpoints

[2016-01-29 14:48] rajesh-h commented on #2137
Thank you @danielbachhuber, this works as expected.

[2016-01-29 14:53] iamchrissmith commented on #2128
https://github.com/WP-API/WP-API/pull/2152 adds an array of visible post types to `get_item_permissions_check()`.  My initial tests show that a user with just pages is visible now. Hopefully that leaves:
- [x] Call `count_user_posts()` with an array of all REST API-visible post types, instead of limiting to just posts.
- [ ] Add tests to ensure a user who has published a Page, but not a Post, is a

[2016-01-29 15:01] danielbachhuber commented on #2046
@pelayopc were you able to get this worked out?

[2016-01-29 15:13] nullvariable commented on #1514
so the solution here then is to update the schema?

[2016-01-29 15:45] martingoldie commented on #2149
Possible correction. When you say:

Do you actually mean `register_post_type()` as I could not find a function named `register_content_type()`?

[2016-01-29 15:45] danielbachhuber commented on #1872
:hammer:

[2016-01-29 15:45] #1872 closed

[2016-01-29 16:02] adamsilverstein commented on #2146
@danielbachhuber - I think returning in a header makes perfect sense. Once this is available, clients using cookie authentication can grab the new nonce and use it for subsequent requests. That way, as long as a request is made at least once every 12 hours, the application should always have a valid nonce.

[2016-01-29 16:21] adamsilverstein commented on #2146
Working up a core patch and ticket for this as this belongs in already merged infrastructure.

[2016-01-29 16:22] jeremyfelt commented on #2149
Oops, it is `register_post_type()`. I've always wanted it to be the other. :)

[2016-01-29 16:32] aaronjorbin commented on #2147
Today, the Docs team:

1) Formally Deprecated v1 documentation
2) Removed ADoR banner on the documentation
3) Worked on migrating examples and guides from v1 to v2
4) Started making docs responsive
5) Started listing out actual responses and filling out v2 docs

[2016-01-29 17:25] mjacobsen4DFM commented on #2129
Interesting. I assumed they all did. If the others do not, why does meta require auth?

[2016-01-29 22:05] bjork commented on #2144
To me it would make sense to expose the whole `date_query` but not the shorthand (root level) parameters to avoid having too many ways to do the same thing. The only disadvantage is that encoding arrays within arrays as HTTP query parameters is not the most intuitive thing and is specific to PHP. But, expressing complex structures as a single string is always going to be at least somewhat complex.

[2016-01-29 22:09] bjork commented on #2145
See [my comment on #2144](https://github.com/WP-API/WP-API/issues/2144#issuecomment-176990148). Like `date_query`, exposing `tax_query` would be very straightforward.

[2016-01-30 09:35] danielbachhuber commented on #2129
See #2149

[2016-01-30 09:51] danielbachhuber commented on #2146
Closing in favor of https://core.trac.wordpress.org/ticket/35662

[2016-01-30 09:51] #2146 closed, assigned to nobody

[2016-01-30 10:07] fschroiff commented on #2127
Thanks for the info! This'll do the trick:

[code]

[2016-01-30 11:02] danielbachhuber commented on #747
We've decided our current implementation is the correct behavior.

`POST /wp/v2/comments` correctly respects `comments_open()`. On the Post resource, `comment_status` is the database value. Because `comments_open()` is filterable, it would be incorrect to use the filtered value on the Post resource, which is intended to appropriately model the data in the .

For clients building commenting user ex

[2016-01-30 11:02] #747 closed

[2016-01-30 11:06] danielbachhuber opened #2156 "Don't permit uploading attachments to revisions or other attachments"
We need to make sure the API doesn't support this, as it will probably break peoples' sites.

From #1029

[2016-01-30 11:08] danielbachhuber commented on #1029
While the purist in me really wants an API for this relationship, pragmatically it doesn't have much value. I don't think it's worth spending time on.

[2016-01-30 11:08] #1029 closed

[2016-01-30 11:14] danielbachhuber commented on #1040
For clients displaying post statuses, we need to include `trash` and its labels. We don't need to include `inherit` or `future` because they are implementation details.

[2016-01-30 11:21] danielbachhuber commented on #1055
Password-protected posts are plugin territory, and won't be supported by the REST API. We'll be making password-protected posts completely invisible in the REST API.

[2016-01-30 11:23] joehoyle opened #2157 "Post statuses should not use is_user_logged_in()"
Currently in `get_items()` in the post type controller uses `is_user_logged_in` to determine if non-public status should show, however this is not a good indicator of privilege. We should use some cap check instead.

[2016-01-30 11:29] rmccue commented on #1144
Talked about this briefly; the benefits of having these in separate classes outweighs the problems with having 4+ classes. In particular, allowing plugins to subclass and steal this code for custom table is useful.

[2016-01-30 11:29] #1144 closed

[2016-01-30 11:29] danielbachhuber commented on #2157
We can loop through all post types public in the REST API, and if `edit_posts` is true for any of them, show statuses.

[2016-01-30 12:06] rmccue commented on #1206
We decided on this one that a `content.pages` should be added to contain a list of all rendered page contents. This will only show on `view` and `edit` contexts, not on `embed`. `content.rendered` will continue to be just the first page, similar to `the_content()`. `content.raw` already contains the full post content, so nothing to change there.

[2016-01-30 12:15] rmccue commented on #1223
We're going to spin this up as a feature plugin; we have an [early beta](https://gist.github.com/rmccue/184a2329a922f6b4350d) to be turned into a proper plugin.

[2016-01-30 12:21] danielbachhuber commented on #1227
**Issue:** WordPress supports HTML in fields that developers wouldn’t typically expect HTML in (e.g. post title). The REST API returns HTML (including HTML entities) in the response body for these fields.

**Resolution:** Teach developers to expect HTML in these fields (e.g. include in schema description), and ensure their clients can safely handle returned HTML.

[2016-01-30 12:21] danielbachhuber commented on #2115
Closing in favor of #1227

[2016-01-30 12:21] #2115 closed, assigned to nobody

[2016-01-30 12:30] danielbachhuber commented on #1260
After a little bit of discussion, we're going to return the original resource instead of wrapping it in a `data` object.

[2016-01-30 12:37] #2128 closed, assigned to nobody

[2016-01-30 12:38] joehoyle commented on #1280
We're going to support multiple roles by just changing the key to `roles` which is an array. This makes it more consistent and works for all use cases, rather than trying to support the "single role" use case.

[2016-01-30 12:45] danielbachhuber commented on #1227
:hammer:

[2016-01-30 12:45] #1227 closed

[2016-01-30 12:54] danielbachhuber commented on #1609
After some discussion, we're going to set a lower bound on `per_page` to 1, and a default upper bound of 100

[2016-01-30 13:47] danielbachhuber commented on #1425
We'll be splitting out the meta endpoints into a separate plugin.

[2016-01-30 13:51] danielbachhuber commented on #1612
We should add a link when a comment has children.

[2016-01-30 14:01] danielbachhuber commented on #1918
Based on conversation, we should error when feasible, but not get too concerned by it. We should only error when the value of the read only field is changed in the request.

[2016-01-30 14:01] danielbachhuber commented on #1918
To close this issue, need to skim through and assess our existing read only fields.

[2016-01-30 14:12] yantakus opened #2164 "Get resource content by URL"
I'm building a SPA based on WP API v2. I think this would be very easy and flexible to handle its routing like this:

When the app is initially rendered or the route has changed, we take the current path from location object and pass it to the function which fetches content from the server. For example, if the current URL is `/services/development` the request to the server would be `GET .../wp-js

[2016-01-30 14:16] danielbachhuber commented on #2164
Duplicate of #1776

[2016-01-30 14:16] #2164 closed, assigned to nobody

[2016-01-30 14:23] danielbachhuber commented on #1892
After discussion, we've decided this is an idiosyncracy of the existing WordPress admin, and won't be replicating it in the REST API.

[2016-01-30 14:23] #1892 closed

[2016-01-30 14:25] danielbachhuber commented on #1797
After discussion, we'be decided our core controllers will only support embed, view, and edit, and will validate to ensure context is set to one of those values.

[2016-01-30 14:33] #2118 closed, assigned to danielbachhuber

[2016-01-30 14:36] danielbachhuber commented on #2012
After discussion, we decided we should create endpoints for trackbacks and pingbacks, in addition to comments.

[2016-01-30 14:42] kadamwhite commented on #1797
We also have `context=help` as well; that may make more sense long-term to move away from context in favor of a standalone parameter, but that's a separate discussion. What is relevant to this issue is to ensure that help information (schema) is still available following the changes discussed here.

[2016-01-30 14:45] yantakus commented on #1776
@rmccue I've described my use-case in detail here: https://github.com/WP-API/WP-API/issues/2164

@danielbachhuber

If WP can do it by extracting from the URL, I think it is easy to create a new API endpoint which will expose this functionality and return the content behind a certain URL. Isn't it?

[2016-01-30 15:11] danielbachhuber commented on #1260
:ship: :ship:

[2016-01-30 15:11] #1260 closed

[2016-01-30 15:12] danielbachhuber commented on #1776
It's possible with code, yes. However, it's not the concern of the API to handle routing.

[2016-01-30 15:14] #1040 closed

[2016-01-30 15:14] #2143 closed, assigned to nobody

[2016-01-30 15:14] #2157 closed, assigned to nobody

[2016-01-30 15:27] miztroh-zz commented on #1776
@danielbachhuber I disagree.  WP already has a system in place to determine page information based on its URL (is it a post, is it a page, is it a 404, etc.).  That system should be exposed via the API so that frontend developers using the API don't have to come up with their own logic for determining page information.  Developers should be able to create WP frontends that don't require any server

[2016-01-30 15:29] danielbachhuber commented on #1749
Because post types can conditionally support revisions, we can't treat autosaves as future revisions.

Instead, we'll need to create `/wp/v2/posts/<id>/autosaves` for a client to create and get autosaves.

[2016-01-30 15:33] joehoyle commented on #1788
This is now allowed in core https://core.trac.wordpress.org/ticket/35276

[2016-01-30 15:36] danielbachhuber commented on #1523
Plugin management through the API is now happening as a dedicated plugin https://github.com/WP-API/wp-api-plugins-themes-endpoints

[2016-01-30 15:36] #1523 closed

[2016-01-30 15:36] #1669 closed

[2016-01-30 15:37] danielbachhuber commented on #323
Theme management is now WIP as a separate plugin https://github.com/WP-API/wp-api-plugins-themes-endpoints

[2016-01-30 15:37] #323 closed

[2016-01-30 15:39] danielbachhuber commented on #1507
Theme management is now WIP in a separate plugin https://github.com/WP-API/wp-api-plugins-themes-endpoints

[2016-01-30 15:39] #1507 closed

[2016-01-30 16:24] matrixik commented on #1523
Great, thank you.

[2016-01-30 16:33] #1979 closed

[2016-01-30 17:13] danielbachhuber commented on #843
Wontfix on this for now.

[2016-01-30 17:13] #843 closed

[2016-01-30 17:39] danielbachhuber commented on #1425
Here's the separate plugin https://github.com/WP-API/wp-api-meta-endpoints

[2016-01-30 17:39] #1425 closed

[2016-01-30 17:39] danielbachhuber commented on #1229
Closing in favor of https://github.com/WP-API/wp-api-meta-endpoints/issues/1

[2016-01-30 17:39] #1229 closed

[2016-01-30 17:41] #1796 closed

[2016-01-30 17:42] danielbachhuber commented on #816
Closing in favor of future development in https://github.com/WP-API/wp-api-site-endpoints

[2016-01-30 17:42] #816 closed

[2016-01-30 17:45] #898 closed

[2016-01-30 19:33] danielbachhuber commented on #2126
`categories` is now an attribute of the Post resource, so you'd pass your categories as an array of term ids when you're updating a post.

[2016-01-30 19:33] #2126 closed, assigned to nobody

[2016-01-30 19:34] #2046 closed, assigned to nobody

[2016-01-30 20:17] #1514 closed

[2016-01-30 20:19] #2156 closed, assigned to nobody

[2016-01-30 20:41] #1212 closed

[2016-01-30 20:44] danielbachhuber commented on #2114
After some discussion, our callbacks should check the 'id' in the URL to be the most precise.

However, we need to change a lot of references to the `$request['id']`, and change many of our tests, in order to handle this.

[2016-01-30 21:01] danielbachhuber commented on #1797
We've added validation for the `context` param in #2180, which suits the need I opened the issue for originally.

Custom plugins can have whatever contexts they want in their routes. `wp/v2` will only have `embed`, `view`, and `edit`.

[2016-01-30 21:01] #1797 closed

[2016-01-30 21:04] danielbachhuber commented on #1845
[code]

[2016-01-30 21:18] danielbachhuber commented on #1845
Need to introduce `embed`, `view`, or `edit` on the contexts that don't have them.

[2016-01-30 21:28] digitalkaoz commented on #1425
But its still forbidden to get/save serialized data...so what is exactly
the use case for a separate plugin?

Daniel Bachhuber notifications@github.com schrieb am Sa., 30. Jan. 2016
18:39:

[2016-01-30 21:32] #1280 closed

[2016-01-30 21:41] danielbachhuber commented on #1425
For those who are using the existing endpoints, as the meta endpoints have been removed from this core plugin.

[2016-01-30 21:45] danielbachhuber commented on #386
Because the attribute is now `roles`, the query param should be `roles`

[2016-01-30 21:49] danielbachhuber opened #2186 "Include and exclude multiple authors with `GET /wp/v2/posts`"
Currently, `GET /wp/v2/posts` supports `author`, which is only one author.

We should have `author` support multiple author ids. Also, we should have `author_exclude`, which would map to `author__not_in`.

From #924

[2016-01-30 21:55] danielbachhuber opened #2187 "Support `menu_order` param for `GET /wp/v2/pages`"
Because it's a property of Pages, we should support the `menu_order` param for `GET /wp/v2/pages`.

From #924

[2016-01-30 21:56] danielbachhuber opened #2188 "Support `mime_type` param for `GET /wp/v2/media`"
Because it's a property of Media, we should support the `mime_type` param for `GET /wp/v2/media`.

From #924

[2016-01-30 21:58] danielbachhuber opened #2189 "Support `exclude` param for `GET /wp/v2/users`"
We should support the `exclude` param for `GET /wp/v2/users` for consistency with other controllers.

From #924

[2016-01-30 22:01] danielbachhuber opened #2190 "Support `parent_exclude` param for `GET /wp/v2/comments`"
We should support the `parent_exclude` param for `GET /wp/v2/comments` for consistency with other controllers.

From #924

[2016-01-30 22:02] danielbachhuber opened #2191 "Include and exclude multiple authors with `GET /wp/v2/comments`"
Currently, `GET /wp/v2/comments` supports `author`, which is only one author.

We should have `author` support multiple author ids. Also, we should have `author_exclude`, which would map to `author__not_in`.

From #924

[2016-01-30 22:06] #1912 closed

[2016-01-31 08:18] danielbachhuber opened #2194 "rest_validate_request_arg() should validate `type=array`"
Just like we have type checks for `string` and `integer`, we should also have a type check for `array`.

However, when we do this, we'll need to address instances where we've typed the param to `array`, but also accept a CSV of ids.

Lastly, the type checks in this function should happen before any other checks.

From 470e59ad0a2b60270008e267c8f981527b833c79

[2016-01-31 08:35] #2187 closed, assigned to nobody

[2016-01-31 09:21] #2189 closed, assigned to nobody

[2016-01-31 09:28] danielbachhuber opened #2201 "Only permit registered params to be used within our callbacks"
To prevent issues like #2195 and generally help ensure we're only using expected data, I think it would be a better pattern to only permit registered params to be used within our callbacks.

In #2122, I included a pattern like this to prepare our data for the callback:

[code]

Notice it creates `$prepared_args` from the args registered to the request, instead of blindly accepting request params.

[2016-01-31 09:41] pelayopc commented on #2046
¨Yes, sry, it works fine now

[2016-01-31 15:28] kadamwhite commented on #1776
Technically, this is true now -- if your entire theme is a single index.php which loads a front-end application, that application should then be able to handle all its own routing from that point on.

I can see your argument, and I could imagine ways you could make an endpoint which could map a URL to the WordPress context that would normally be exposed on that page, but I agree with @danielbachhu

[2016-01-31 15:29] kadamwhite commented on #1609
:+1:

[2016-01-31 17:10] yantakus commented on #1776
But in this case it is impossible to create a fully fledged WP SPA theme, because it's routing behavior won't depend on permalinks settings specified in WP admin panel.

Imagine a wordpress developer created a commercial wordpress SPA theme. It should work out of the box and let users modify any content via admin panel without knowledge of JS/CSS/HTML. But it will be impossible if the theme's rout

[2016-01-31 18:22] #2186 closed, assigned to nobody

[2016-01-31 18:24] #2191 closed, assigned to nobody

[2016-01-31 20:36] mgburns opened #2207 "Pass WP_REST_Request to prepare_items_query in WP_REST_Posts_Controller"
Use case:

I'm extending the built-in `WP_REST_Posts_Controller` class to provide extra collection parameters / `WP_Query` arguments (sort by meta field, filter by P2P connected posts, etc.) for a custom post type endpoint.

AFAICT there is no way to do this without duplicating all of the code in `WP_REST_Posts_Controller::get_items()` as I need the current `WP_REST_Request` object to add the appr

[2016-02-01 01:09] danielbachhuber commented on #2124
Sorry about this issue. Similar to #2209, we should validate `page` to ensure it's 1 or greater. If you supply 0, you should get an error that 1 is the minimum value.

[2016-02-01 04:20] laustdeleuran opened #2210 "filter[ignore_sticky_posts]=false doesn't work with GET /wp/v2/posts"
Right now there's is no way to use the `sticky` parameter at all. This feels like a pretty big issue, as this is core functionality in WP.

See threads on [Stack Overflow](http://stackoverflow.com/questions/34970734/wp-api-filter-by-post-schema) and [Wordpress.org](https://wordpress.org/support/topic/wp-api-filter-by-sticky) for examples of how the community seems to want this feature.

Given that

[2016-02-01 12:11] danielbachhuber commented on #2210
You can query by sticky posts with `filter[ignore_sticky_posts]=false`. See #1801

[2016-02-01 12:14] danielbachhuber commented on #2207
Seems reasonable. We'll get it added in the next beta.

[2016-02-01 15:23] mgburns commented on #2207
:+1:

[2016-02-01 16:38] simonegiacco commented on #538
This solves the issue using register_new_user() instead of wp_insert_user(), just in case of a non-admin trying to add a user without providing the password (non-admins can only create users without providing the password indeed)

The only counter effect i found is that register_new_user() returns errors (if any) in HTML, and this is not a standard you are following on the API.
The alternative is

[2016-02-01 18:01] simonegiacco commented on #538
Questions:
1. How do you want to distinguish between requests to create a network user from requests to create a standard user?
2. Shall we use `current_user_can( 'manage_network_users' )`
3. Do you want to offer admins the choice to notify or not the final user?
4. Do you want to make it automatic? (ie: if you set the password, the user doesn't get a notification; if you don't set the password, t

[2016-02-01 18:21] laustdeleuran commented on #2210
@danielbachhuber As I tried to mention, none of the options discussed in the other issues work.

If I use `filter[ignore_sticky_posts]=false`, [I get sticky and unsticky posts](http://cl.ly/2S0S1j3O3I3E). If I don't use it, [I get sticky and unsticky posts](http://cl.ly/1O3H3K1E3i1n). If I use `filter[ignore_sticky_posts]=true`, [I get sticky and unsticky posts](http://cl.ly/3m0B2M181A15).

So tha

[2016-02-01 18:28] danielbachhuber commented on #2210
When `filter[ignore_sticky_posts]=false`, you'll get the sticky posts first, and then any non-sticky posts afterwards. Can you verify?

Here's our current test case:

[code]

This isn't currently supported by core, and won't be directly supported by the REST API. However, you could write a custom endpoint to get the ids of sticky posts, and then use the `include` param to just get those sticky pos

[2016-02-01 18:47] laustdeleuran commented on #2210
The `filter[ignore_sticky_posts]` parameter has no effect on the output of my `/wp-json/wp/v2/posts/` endpoint. The posts come out in the exact same order and no matter if they have the `sticky` flag or not.

Will try to deactivate all my other plugins to make sure nothing is interfering.

---

I figured I could potentially write a custom endpoint for it, but I find the documentation a bit hard to

[2016-02-01 18:55] laustdeleuran commented on #2210
I deactivated all my other plugins and switched back to the _twentysixteen_ theme and [the parameter still has no impact on the output](http://cl.ly/0s2g1R073t22).

[2016-02-01 20:21] #1609 closed

[2016-02-01 20:59] #2190 closed, assigned to nobody

[2016-02-01 21:00] #2207 closed, assigned to nobody

[2016-02-01 22:29] danielbachhuber commented on #2210
Ok. I was able to reproduce this, and tracked down the problem. Unfortunately, it's not going to be an easy fix. For now, your best bet would be to expose sticky post ids through an endpoint, use `include` to fetch just those posts, and then use a second query with `exclude` to get remaining posts minus the sticky posts.

Ultimately, `filter[ignore_sticky_posts]=false` is ignored because sticky po

[2016-02-01 23:20] robynlarsen opened #2217 "Endpoint rendering homepage"
Any thoughts on why the endpoint would be rendering the homepage?

`http://dev-twg-express.pantheon.io/wp-json/wp/v2/posts/`

[2016-02-01 23:20] danielbachhuber commented on #2217
Have you tried flushing your rewrite rules?

[2016-02-01 23:31] robynlarsen commented on #2217
@danielbachhuber genius. Thanks for this. Why does that always fix the problem in WP?! It's a magical fix.

[2016-02-01 23:31] robynlarsen commented on #2217
Fixed with a permalink flush.

[2016-02-01 23:31] #2217 closed, assigned to nobody

[2016-02-02 01:42] laustdeleuran commented on #2210
Okay, thanks for looking into this!

Can you point me in any direction as to how to create my own endpoint? As I'm not a "real" PHP dev, I find [the documentation](http://v2.wp-api.org/extending/adding/) a bit difficult to understand.

Thanks again!

[2016-02-02 01:51] laustdeleuran commented on #2210
I figured this out, so no worries. Basically, this is what I'm doing:

[code]

Thanks for looking into this and pointing me in the right direction to get a temporary fix for my problem now.

[2016-02-02 12:23] Art2B opened #2220 "Versionning routes of api base behavior"
Hi,

I'm using base function of wp rest api which allow me to get posts, pages and others stuff with `/wp/v2/posts`

But, I'd like to add some versionning to thoses routes, like `/wp/v3/posts` to add new features on api call but still allow the use of old version of api.

Is there a way to do it ?

[2016-02-02 12:27] danielbachhuber commented on #2220
Please read our [docs on adding custom endpoints](http://v2.wp-api.org/extending/adding/), and pay attention to the section on namespaces. You'll want to add your endpoints to a custom namespace, instead of adding them to core's `wp` namespace.

[2016-02-02 12:27] #2220 closed, assigned to nobody

[2016-02-02 12:28] danielbachhuber commented on #2147
@ifyouwillit @aaronjorbin could be break this into some actionable issues for the docs repo?

[2016-02-02 12:36] gabrielstuff commented on #2220
Hi @danielbachhuber,
Actually we would like to know of to benefits from all the automatic `wp-json/v2/` setup and be able to maintain versionning on the the API.
For instance how would one create a route such as :
`wp-json/` would actaually match `api/` and then being able to have `api/v1/`,  `api/v2/`, `api/v2.1/`
Should we add custom `.htaccess` rules or custom rewrite rules in php with wordpres

[2016-02-02 13:04] danielbachhuber commented on #1832
Actually, `post__in` works fine for our needs

[2016-02-02 13:14] danielbachhuber commented on #2220
You can configure the API route with the `rest_url_prefix` filter: https://developer.wordpress.org/reference/hooks/rest_url_prefix/

I'm not sure I follow. Why not just register those routes?

You don't need custom .htaccess or rewrite rules, beyond what WordPress already does by default for you.

Our documentation is reasonably extensive for learning how to sensibly extend the plugin. You shouldn

[2016-02-02 15:28] ifyouwillit commented on #2147
@danielbachhuber good point. @aaronjorbin was there any work completed after your report?

[2016-02-02 21:49] enoliglesias commented on #2113
Maybe this information could be util for someone. I had to add in

`'tags'         => wp_get_post_tags($post->ID),
'categories'   => wp_get_object_terms($post->ID, 'category'),`

[2016-02-02 21:54] enoliglesias commented on #2113
[removed]

[2016-02-02 21:56] danielbachhuber commented on #2113
@enoliglesias We don't recommend modifying the core plugin files, as those modifications will be overwritten when you upgrade.

The particular code snippet you've added will also break the API in unexpected ways, so I've removed it.

[2016-02-02 22:01] enoliglesias commented on #2113
Okay! Sorry. I've edited and removed the comment content.

Regards! :)

[2016-02-02 22:23] #1832 closed

[2016-02-03 03:02] Shelob9 opened #2223 "Submitting duplicate comment returns HTML, not JSON"
If I submit duplicate comment via REST API, I would expect REST API to give me a well formed error in JSON format. Instead it gives me HTML:( This is beacuse `wp_die()` is triggered here: https://github.com/WordPress/WordPress/blob/0efd5b3d001f4ec0e62afdff652cf9fb20f52718/wp-includes/comment.php#L616

Not sure if core needs a conditional there to return a `WP_Error` if `DOING_REST` or if this is a

[2016-02-03 12:37] danielbachhuber commented on #2223
Duplicate of #1784

[2016-02-03 12:37] #2223 closed, assigned to nobody

[2016-02-03 15:21] tiny-village-lab opened #2224 "/types returns an object instead of an array of objects"
When you reach http://demo.wp-api.org/wp-json/wp/v2/types, it returns an object with the different types as attributes. It maybe should returns an array ?

Thanks for the api :)

[2016-02-03 15:41] danielbachhuber commented on #2224
This is intentional #1825

[2016-02-03 15:41] #2224 closed, assigned to nobody

[2016-02-03 18:16] joehoyle opened #2225 "Add the edit lock to the post objects"
In `context=edit` it would be useful to know if the post is currently being edited already elsewhere. This is know as the Edit Lock in WordPress. I suggested we add a `locked` attribute to the post in the `context=edit` case. That way clients can update this field to add a lock, or not allow editing of it if there is already a lock on it.

@WP-API/amigos thoughts?

[2016-02-03 18:34] danielbachhuber commented on #2225
If there's already a lock on it, how would a client know whether it's their request that locked it?

Also, would the lock be discarded after some period of time? Or, how would you know whether it was safe to ignore the lock?

[2016-02-03 18:36] joehoyle commented on #2225
The lock expiring is already built into wordpress, for who locked it, I'll look into how core handles it. I think it's probably got the user id in the meta.

[2016-02-03 23:25] danielbachhuber commented on #2124
Validation will be really simple with #2213

[2016-02-03 23:49] beatelite opened #2226 "Is there any way around the 'content' in a new POST requirement?"
I'm trying to create a new post using POST with just a title and status. I keep getting 404 not found when posting to the /posts endpoint.

From what I've read, it's because wp api requires content. Will this requirement ever go away and if not, is there any way around it? I don't need content in my use case - just title and status.

[2016-02-04 01:29] beatelite commented on #2226
nerrmnd. Guess that's no longer that case. I was doing something else wrong.

[2016-02-04 01:29] #2226 closed, assigned to nobody

[2016-02-04 02:57] rmccue commented on #2226
FWIW, I think this is because you were POSTing to /posts, whereas it's /wp/v2/posts in version 2 :)

[2016-02-04 03:29] beatelite opened #2227 "Will we ever be able to update post terms using the same post endpoint?"
Hi, I noticed the conversation that's been happening here: https://github.com/WP-API/WP-API/issues/2032

I didn't comment there since it's closed (is that proper Gitiquette?)

Does this mean we'll actually get to post terms on post creation to any taxonomy associated to the post type?

If so, when do you think this will be ready?

You wouldn't believe the code gymnastics I've employed to get multi

[2016-02-04 04:34] rmccue commented on #2227
This was fixed in #2063 for beta 11; you can now access and change terms directly on the post object. :)

(Note "danielbachhuber closed this in #2063", which indicates the issue was fixed by a pull request.)

[2016-02-04 04:34] #2227 closed, assigned to nobody

[2016-02-04 04:56] beatelite commented on #2227
incredible! Thank you so much for the quick response. Learned a new github trick too!

[2016-02-04 05:08] beatelite commented on #2227
Sorry, is this on the master or develop branch? It's hard to tell since there's no clear mark of beta 11 (that I can see).

[2016-02-04 07:31] rmccue commented on #2227
Develop, and it's also tagged: https://github.com/WP-API/WP-API/releases/tag/2.0-beta11

[2016-02-04 08:05] rmccue opened #2228 "Terms get_items should check post cache"
Rather than calling `wp_get_object_terms`, we should use `get_the_terms`, or check `get_object_term_cache` ourselves. This will require doing the sorting ourselves though; we may be able to optimise for the common use case of the defaults.

[2016-02-04 08:10] rmccue commented on #2228
When hitting `/wp/v2/posts?_embed`, this reduces the number of queries by `per_page * count( taxonomies )`, which is ~30 queries for me. Super useful.

[2016-02-04 08:14] rmccue commented on #2144
Agreed with @bjork, although I'd also be happy to support both `before` and `after` as top-level and support ISO8601 dates for them. You can implement year/month/date/etc on top of this pretty easily, i.e. `year => 2015` maps directly to `before=2016-01-01T00:00:00Z&after=2015-01-01T00:00:00Z`.

[2016-02-04 13:01] danielbachhuber commented on #2228
Yep.

[2016-02-04 16:43] buxit opened #2229 "non-standard Content-Disposition header required for post to wp-json/wp/v2/media"
`POST`ing a file in the request body to `wp-json/wp/v2/media` requires a non-standard `Content-Disposition: filename=file.ext` parameter. According to w3c the parameter should look like this: `Content-Disposition: attachment; filename="file.ext"`. This form is however not supported by wp-rest-api.

[2016-02-04 16:45] danielbachhuber commented on #2229
See #1744

We need to dive into the Attachments controller and fix it up quite a bit.

[2016-02-04 16:45] #2229 closed, assigned to nobody

[2016-02-04 21:45] #1869 closed

[2016-02-04 21:49] danielbachhuber commented on #1845
So close!

[code]

[2016-02-04 21:50] rmccue opened #2232 "Post prepare should use post-term cache"
Related to #2228, we should be using `get_the_terms` rather than `wp_get_object_terms` directly. This is a no-brainer as we don't need a complex query, and significantly reduces queries on the posts collection endpoint.

[2016-02-04 22:29] #2232 closed, assigned to rmccue

[2016-02-05 00:54] #2188 closed, assigned to danielbachhuber

[2016-02-05 00:54] #1845 closed

[2016-02-05 02:04] nharlow89 commented on #886
In case anyone else stumbles upon this I came up with a solution using the rest_{post-type}_query hook to modify the query. Full explanation is here: [WP API Multiple Taxonomy Query](http://y-designs.com/blog/wp-api-multiple-taxonomy-query/).

[2016-02-05 02:06] nharlow89 commented on #1004
In case anyone else stumbles upon this I came up with a solution using the rest_{post-type}_query hook to modify the query. You can now query for posts that exist in BOTH categories using the AND operator instead of OR.

Full explanation is here: [WP API Multiple Taxonomy Query](http://y-designs.com/blog/wp-api-multiple-taxonomy-query/).

[2016-02-05 05:22] bponghneng commented on #2144
Wow, literally just registered at wordpress.org then logged in here to ask whether this is supported, or am I missing something in the WP_REST_Post_Types_Controller class. Glad to see it's on the list for coming soon. Queries using before and after would do very nicely, IMO.

Looks fairly trivial, but I just took a whack at it and couldn't get it to work in an hour of flogging. I did manage to get

[2016-02-05 05:37] wesm87 commented on #2144
@bpongvh I just started looking at the `tax_query` issue and I think you're on the right track, you'll probably want to start by adding `before` and `after` to the `$rest_valid` array in `WP_REST_Posts_Controller::get_allowed_query_vars()` and then look at `WP_REST_Posts_Controller::get_items()`. I could be way off track, though.

[2016-02-05 06:37] bponghneng commented on #2144
@wesm87 Yeah, went through those. Tried `before` and `after` and `date_query` (which is the arg I figure is the correct one to add to `WP_Query`). I've been lazy, though, and working without Xdebug. I'll hook it up and get into it proper to see where I've gone astray. Thanks for the vote of confidence, and I'll be back in a bit with a solution.

[2016-02-05 11:15] zz-james opened #2237 "Retrieving request object values"
(Apologies if this is not the correct forum to post problems implementing the plugin)

I'm having some trouble getting the data out of my WP_REST_Request request object, all the methods such as:

[code]

are returning an empty array.

the setup for my handler is:

[code]

So I would have thought inside the callback I could get the data.

[code]

So I am not sure why this is not working.
I know the

[2016-02-05 11:52] zz-james commented on #2237
Apologies. the issue was I had not correctly set the
    dataType: 'json',
on the jquery ajax call.

[2016-02-05 12:10] danielbachhuber commented on #2237
Glad you sorted it out!

[2016-02-05 12:10] #2237 closed, assigned to nobody

[2016-02-05 16:25] danielbachhuber commented on #1722
@netmilk For my wp-rest-cli project, I'm writing `wp --http=demo.wp-api.org rest help --format=apib` to generate an API Blueprint document for any WordPress API. I figure if it's easy to generate, then it will be easy to hook into CI.

Care to give me some feedback on my PR? https://github.com/danielbachhuber/wp-rest-cli/pull/25

[2016-02-06 00:55] chriscct7 commented on #1955
I had to write a key/token auth as a small part of my college senior project (as a last second backup to a different method I had written in case that failed during the demonstrations). I've ripped out the involved parts and moved it into a plugin here: https://github.com/chriscct7/wp-api-key-token-auth

Note I wrote this during a 30 minute dash (didn't need to spend a lot of time on it since it w

[2016-02-06 05:42] mbijon commented on #1722
This looks good @danielbachhuber, I like the format idea.

FYI that Dredd is 5.4+. Not that it won't work here, but you can't test it on the whole WP spectrum.

[2016-02-08 02:28] bponghneng opened #2238 "Tangential: Xdebug Help"
Hello.

I'm keen to contribute, and I'm currently looking into an issue adding date_query support for posts. Being able to run Xdebug would be a big help. But I'm at a loss--can't seem to get it flying. I'm an old-school PHP guy, and back in the day, we always went in the front door, through index.php. Is there any secret config to get it running for this new-fangled API? :)

I'm still tooling up

[2016-02-08 02:32] rmccue commented on #1744
Thanks again for the bug report; I've updated the parsing in #2239 to allow anything the spec allows plus some extra liberal handling of names with spaces. Your examples here should work as expected, however the "bare" format of `filename="abc"` will now error.

[2016-02-08 02:39] rmccue commented on #2238
Sorry to hear you're having problems!

There's nothing particularly special about the REST API in this regard, alas. `/wp-json/...` gets routed by your server (Apache/nginx) to the WordPress front controller (i.e. `index.php`), and WP then uses two types of routing: WP Rewrites parse `/wp-json/a/b/c` to `rest_route => '/a/b/c'`, then the API matches that to a callback.

Nothing here's particularly

[2016-02-08 02:46] bponghneng commented on #2238
Ryan,

OK, good. Thanks. At least that's one less thing to configure. Tinkering with php.ini now. Problem has to be in there. Gah, tired of fiddling with config. I'd rather work on code :)

[2016-02-08 02:46] #2238 closed, assigned to nobody

[2016-02-08 05:17] Mange commented on #1744
Thanks!

[2016-02-08 05:44] rmccue commented on #2109
We can also reuse this in `WP_REST_Server::embed_links`, which similarly resolves the links to a request. I'd suggest we move this to Trac as an infrastructure issue.

[2016-02-08 05:54] rmccue commented on #1843
This is really more of a wider-community issue, and plugin/theme authors will need to come to some sort of consensus about how this should work. There's not much we can do in the API itself to help with this right now.

[2016-02-08 05:54] #1843 closed

[2016-02-08 14:00] llemurya opened #2240 "Schema for wp_options table?"
Hello guys I have a question will you plan to implement an rest api schema for `wp_options` table for easily create and delete option fields from this table.Thanks!

[2016-02-08 14:49] danielbachhuber commented on #2240
Check out https://github.com/WP-API/wp-api-site-endpoints for progress on managing options through the REST API.

[2016-02-08 14:49] #2240 closed, assigned to nobody

[2016-02-08 14:54] danielbachhuber commented on #1749
@joehoyle moving this to beta 13

[2016-02-08 15:19] danielbachhuber commented on #1206
@WP-API/amigos I actually think #wontfix on this one, given we don't currently support `` in a similar fashion.

For reference, here's our current response:

[code]

`` is present in the response, permitting the client to respect it if they wish.

[2016-02-08 15:19] #1206 closed

[2016-02-08 15:22] danielbachhuber commented on #1206
Just to clarify, WordPress' current behavior is to return pagination HTML in the post content when `` is present:

![image](https://cloud.githubusercontent.com/assets/36432/12889614/994da494-ce34-11e5-9d08-090e422a2081.png)

However, we can't return pagination HTML in our `content.rendered`, because the REST API has no understanding of how to implement pagination within the client.

[2016-02-08 16:17] bobsilon opened #2243 "Why slugs returned in URI encoded format?"
Hi there,
I have a post which it's slug is in Persian language, for example `سلام دنیا`. When I try to retrieve the post's slug, it's returned in unclear format like this:

[code]

While English slugs returned as is, And other fields like `title` and `content` that have Persian content, shows as well. Is it a true behavior? How can I get the true slug in Persian language?

[2016-02-08 21:12] joecue opened #2244 "Unable to parse media post"
I am trying to get to the URL of an image for a media post, and I'm unable to parse the Media Post using JavaScript.  I can pull the post up in my browser and I see the JSON, but when I try to retrieve the data using JavaScript I can't pull any of the parameters.

Any ideas?

[2016-02-08 22:10] danielbachhuber commented on #2109
Ok. I'll assign myself this issue until I have a moment to prepare a patch for Trac.

[2016-02-08 22:57] #2124 closed, assigned to nobody

[2016-02-09 03:27] MurhafSousli opened #2247 "How can I get pagination to work?"
Hello, thanks for the great work you do on this plugin. I'm wondering why isn't there a `total_count` field in the response of getting posts. I want to make a _pagination_ or a _load more_ button which must be disabled when `loadedPostsCount = totalPostsCount`.

[2016-02-09 03:29] rmccue commented on #2247
This is available in the `X-WP-Total` header (and `X-WP-TotalPages` for the number of pages). :)

[2016-02-09 03:29] #2247 closed, assigned to nobody

[2016-02-09 07:24] bponghneng commented on #2144
Before and after turned out quite easy (once I got xdebug going and saw my typo). I'm dragging my feet now because I figured I'd try to submit tests at the same time, and I'm still tooling up on that. Like I said, a while since I've worked in PHP.

But as I've been thinking about this, I realize that right now the API just dumps posts via a GET on the /posts endpoint, including future-dated posts.

[2016-02-09 14:24] danielbachhuber opened #2248 "Respect `show_avatars` option when adding avatars to comments"
Needs to be the same behavior as #2151

[2016-02-09 15:10] danielbachhuber commented on #2244
Can you share more details please? Specifics, screenshots, etc.

[2016-02-09 18:21] danielbachhuber commented on #2081
As it turns out, we need to fix that code block.

[2016-02-09 18:23] #1744 closed

[2016-02-09 18:28] joecue commented on #2244
Sure..

I have an image in my media library attached as a featured image to a post.

I can view the response in my browser to, /wp-json/wp/v2/posts/?filter[category_name]=background-photos

`[
{
id: 4,
date: "2016-02-08T16:53:15",
date_gmt: "2016-02-08T16:53:15",
guid: {
rendered: "http://lorainccc.dev/mylccc/?p=4"
},
modified: "2016-02-08T18:39:51",
modified_gmt: "2016-02-08T18:39:51",
slug: "myc

[2016-02-09 18:32] danielbachhuber commented on #2244
This:

[code]

Should be this:

[code]

When you're accessing an individual resource, not a collection, you're getting an object in response, which means you don't need the `[0]`

[2016-02-09 18:32] #2244 closed, assigned to nobody

[2016-02-09 18:33] joecue commented on #2244
I've tried that as well, and still would error.  I'll give it another go.

I put my code into a gist, it's posted here, https://gist.github.com/joecue/e2f232825a605c1b2a2a

##

UPDATE: the line to pull the ID had an extra ')' in it.  I updated the gist, as the code now works.

[2016-02-09 20:13] cjhaas opened #2251 "Pass $options to wp_json_encode"
It would be nice to have a filter to set the second parameter of `wp_json_encode` so that implementors could optionally provide `$options` to `json_encode`. In my specific case, while I'm debugging it would really nice to have `JSON_PRETTY_PRINT` available.

Something like changing:

[code]

To:

[code]

Possibly adding the $depth parameter as a filter, too, and also applying this to the two other

[2016-02-09 20:47] danielbachhuber commented on #2251
Thanks for the request, @cjhaas !

Our infrastructure was committed to WordPress core in 4.4, so any feature requests or bug reports against it need to be filed in Trac: https://core.trac.wordpress.org/

[2016-02-09 20:47] #2251 closed, assigned to nobody

[2016-02-09 20:56] Peravel-com opened #2252 "create user"
hi
i use rest api for geting post from android app
and i search every where to see the url request to create user by api in android
and see on documentation but its not have any request format for creating user ir post
can you help me
thank you

[2016-02-09 21:49] timmyc commented on #1055
Some related logic from Jetpack: https://github.com/Automattic/jetpack/blob/master/json-endpoints/class.wpcom-json-api-list-posts-v1-1-endpoint.php#L112-L114 - basically sets `has_password` on the query [#](https://core.trac.wordpress.org/changeset/27395) to `false` if the user is not logged in, thus removes password protected posts from the response.

I kind of like this approach of if it is an a

[2016-02-09 21:51] joehoyle commented on #2252
Hi @esiise what version of the REST API plugin are you using?

[2016-02-09 22:37] danielbachhuber commented on #1955
@chriscct7 I think @georgestephanis has pivoted his 2FA efforts towards an application passwords plugin: https://github.com/georgestephanis/application-passwords I haven't looked at it in depth, but I think he aims to do the same thing as this issue.

[2016-02-09 22:39] Peravel-com commented on #2252
the latest version
last 4hours ago

[2016-02-09 22:40] Peravel-com commented on #2252
sorry v2 version

[2016-02-09 22:48] nylen commented on #2251
This should be handled by your development/debug setup rather than by the API.  Depending on how you are debugging, here are some tools I've used in the past:
- Network view or console view in Chrome developer tools
- [JSONView Chrome extension](https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc)
- [httpie](https://github.com/jkbrzt/httpie) on the command line

[2016-02-09 23:00] danielbachhuber commented on #1055
Given the comment was from a year ago, things might have changed. However, "accepts the password as a GET parameter" was referring to _viewing_ a password-protected post, not edit one. I don't see any [query params](https://developer.wordpress.com/docs/api/1.1/get/sites/%24site/posts/%24post_ID/) for it though.

I don't know now :( I think we need to discuss with a Hangout of interested parties ag

[2016-02-09 23:04] HikmetTenis commented on #2116
how did you resolve this? can you give me details please?

[2016-02-09 23:07] nylen commented on #1055
I agree with this.

Since unauthenticated users are able to see password-protected posts in listing pages, we should show them in the API too (excluding the content or excerpt, and any other fields that are deemed sensitive).  This would be a big win over any existing API that I'm aware of.

What are the potential issues with removing [this check](https://github.com/WP-API/WP-API/blob/d07bf57/lib/

[2016-02-09 23:12] danielbachhuber commented on #1055
@nylen Again, there are many nuances to the overall problem which aren't well-captured in this issue. On a whole, we can't unilaterally decide to begin exposing data which was formerly private — and we need to make quadruply sure we don't accidentally do so.

[2016-02-09 23:16] nylen commented on #1055
From my (admittedly very limited) knowledge and testing, the fact that passworded posts exist, their data such as titles, authors, etc. is already exposed through listing pages.  I'm aware that display of these posts can vary by theme.  Are there situations where this information isn't available at all?

[2016-02-09 23:24] georgestephanis commented on #1955
application-passwords is a splinter of 2fa.  It's something that had initially been a component of 2fa that for the moment we're running solo before returning to 2fa. 👍

[2016-02-09 23:47] nylen commented on #1055
Quoting @danielbachhuber and @rmccue from [Slack discussion](https://wordpress.slack.com/archives/core-restapi/p1455059814002176)

---

Some of the ugly nuances of this issue that we'd need to solve:
- core's password-protected posts implementation is cookie-based. there's one cookie, which means you can only ever view one password-protected post at a time
- which fields should be accessible when

[2016-02-09 23:49] cjhaas commented on #2251
I generally agree but although I said "while I'm debugging" I'm also including the consumers of my API, too. I was hoping to ultimately pass a `pretty` URL parameter to allow this. Actually, I'd personally prefer to "[pretty print by default](http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#pretty-print-gzip)" for my own API since compression negates whitespace for the most par

[2016-02-10 03:08] dooch commented on #2116
Hi there,

I think I am experiencing the same issue. I have a self hosted site setup. And I have Wordpress oAuth Server setup on it too. The oAuth Server is setup correctly as I am able to receive tokens etc, and I can delete posts.

However when I want to create a new post using the apis, I get the same error:

POST:
http://streetartcritic.com/wp-json/wp/v2/posts/?access_token=c3fykfkvt14uo8dguyk

[2016-02-10 05:46] bobsilon commented on #2243
oops, the reason is the slug was URI encoded and I have to use `decodeURI` to make the slug string as what I expect.
So the question is why slug should be returned in URI encoded format while the slugs saved in URL friendly format in backend?

[2016-02-10 05:56] rmccue opened #2255 "Comments collection accidentally generates a search query"
We default `search` to `null`, but internally, `WP_Comment_Query` checks that it's an empty string. This generates a search query which looks like:

[code]

:hear_no_evil:

Core needs to be patched to have a better check, but we should work around this in the meantime.

cc @rachelbaker our comment overlord

[2016-02-10 05:59] rmccue commented on #2144
`before=now` will cause problems with caches, better for clients to be specific.

Future-dated posts should be `status: future` I think, and shouldn't be shown? Are you sure this is not a timezone-related issue?

[2016-02-10 07:32] rmccue commented on #2243
Good catch. This is how it's stored in the database, which is why we're returning it that way. The dashboard is actually decoding this when it displays it to you, which is why you see it as the original text.

I'm not sure whether we should decode this before returning it, since it is stored in the DB this way, and there could conceivably be cases where you lose data because of hidden encoding/dec

[2016-02-10 09:52] ghost opened #2258 "Authenticates users and do somes requests with the api."
Hi,
I would like to create an external website with angularjs and a wordpress backend but i'm in trouble, i don't know how to authenticates users.

Anyone can explain me what is the good way to authenticates users in a external website ( without php ) ?

[2016-02-10 12:45] danielbachhuber commented on #2258
Thanks for writing in. Fortunately, we have an [entire guide on authentication](http://v2.wp-api.org/guide/authentication/) we'd recommend taking a read through to understand the different forms of authentication.

[2016-02-10 12:45] #2258 closed, assigned to nobody

[2016-02-10 13:00] danielbachhuber commented on #2255
We don't actually set a default `null` value for search — I'm not sure where you're getting this case from. Can you share more details?

[2016-02-10 13:23] ghost commented on #2258
I have already read this document, But the only method I've found for authenticate users with password is basic auth, and this method is unsafely.

[2016-02-10 14:15] danielbachhuber commented on #2258
Why can't you use OAuth1 or cookie auth?

[2016-02-10 14:32] danielbachhuber commented on #2243
Why is it stored in the database this way?

I'm not familiar enough with character encoding to be able to make a determination one way or the other.

@nylen How do you handle this on WPcom? Do you have any prior art or conversations you can pull up?

Related https://github.com/WP-API/WP-API/issues/1227#issuecomment-177164890

[2016-02-10 14:34] thomasboulongne opened #2259 "Filters don't work"
Hi,

It's the first time I'm using this very good API, but I can't make the filters to work. Even if I try to filter using  /wp-json/wp/v2/posts?slug=an-awesome-slug or /wp-json/wp/v2/posts?filter[name]=an-awesome-slug, the result remains the whole list of my posts (no matter the filter I use). Am I missing something?
(Beta 11-12)

Thomas

[2016-02-10 14:40] joehoyle commented on #2243
IMO if it's stored in the DB this way, we should return that in the API. If web client also shows that link as the dashboard does, it will similarly be decoded.

[2016-02-10 14:46] danielbachhuber commented on #2243
For reference, `get_terms()` permits querying by either representation:

[code]

[2016-02-10 15:03] mensch opened #2260 "Posting a comment with post id throws an error"
I've been experimenting with versions of the REST API for quite a while now and have recently updated to the latest beta12 (0549f8e). My application is posting comments with the `post` field set to the id of the post as per the documentation. The request payload contains the following:

[code]

Currently, this throws an error in the `WP_REST_Comments_Controller` on [line 73](https://github.com/WP-

[2016-02-10 15:14] joehoyle commented on #2243
fantastic.

[2016-02-10 15:19] bobsilon commented on #2243
@joehoyle I'm using wp-api with my angular app and the links created with the encoded slug, will not decoded in browser automatically, else I decode theme manually as this way:

[code]

So there is two ways:
1. Release the encoded slugs AS IS and notice users this problem to let theme make their own approaches to decode or not or something else.
2. Return the encoded slug.

[2016-02-10 15:23] mensch commented on #2259
Just tested this on beta12 and both filters appear to work on my setup. The only time I get the whole list of (public) posts is when I use an invalid filter name, like `filter[slug]` or when requesting content which can only retrieved using authentication. The request below will only return relevant data when authenticated, otherwise all public posts are returned:

`http://my-api-server.dev/wp-jso

[2016-02-10 15:35] danielbachhuber commented on #2260
Sorry about that. I can reproduce:

![image](https://cloud.githubusercontent.com/assets/36432/12951408/15ccae00-cfc7-11e5-98ae-ae1edc1d43b5.png)

I guess we're actually calling `get_items_permissions_check()` for the `Allow` header in the infrastructure. We don't catch the error in our tests because we're calling `dispatch()` directly, and not the `rest_post_dispatch()` filter.

[2016-02-10 15:40] ghost commented on #2258
I already tried Oauth1 but the console always return : OAuth signature does not match.
![screenshot - 10022016 - 16 45 37](https://cloud.githubusercontent.com/assets/7378894/12952161/c49dc240-d015-11e5-9f01-f11c46fbd9c5.png)

[2016-02-10 15:49] danielbachhuber commented on #2260
To fix your problem until the next beta, you can apply 80dcacf95140a445d262aefb55d1054ee2750108 locally.

[2016-02-10 15:52] mensch commented on #2260
Cool, that was quick! Casting `$request['post']` as an array fixes the issue. Thanks!

[2016-02-10 16:15] bponghneng commented on #2144
Ryan, now I see what I did wrong to get future posts. WP newbie mistake (again). Yes, verified `status: future` posts only on edit context. Submitted pull request for adding `date_query` arg (to support before and after params).

I'm still working on the test setup, so I'll try to followup with that. I'm interested to continue contributing to this project if you can tolerate more newbie questions.

[2016-02-10 16:22] danielbachhuber commented on #2114
#2260 is another reason we need to update all of our controllers:
- [x] Attachments
- [ ] Comments
- [ ] Statuses
- [ ] Types
- [ ] Taxonomies
- [ ] Terms
- [ ] Users

[2016-02-10 16:41] kadamwhite commented on #2259
@thomasboulongne Do the posts you want to see show up in any page of results without the filter? Do other filters work, such as `per_page=1`?

What type of server are you using -- do you know if your server uses Nginx or Apache?

[2016-02-10 17:18] BE-Webdesign commented on #2114
For the update_item and update_item_permissions_check should the $id = (int) $request['id']; be changed to $id = (int) $request->get_url_params()['id'];  If that's is the case I can help out with these and can do that on the other controllers that would need this distinction.  If I misunderstand the problem let me know.  Thank you.

[2016-02-10 18:48] danielbachhuber commented on #2114
I appreciate the offer, @BE-Webdesign. There's a lot of code churn in these changes though, so I think it would be most efficient for me to just sweep through and make all of the changes.

I'll set aside some time in the next couple of days to mark some more [good first bugs](https://github.com/WP-API/WP-API/issues?q=is%3Aopen+is%3Aissue+label%3A%22Good+First+Bug%22) if you're looking for issues t

[2016-02-10 18:50] #2081 closed, assigned to danielbachhuber

[2016-02-10 18:51] #2260 closed, assigned to nobody

[2016-02-10 18:52] #2255 closed, assigned to rmccue

[2016-02-10 18:54] danielbachhuber commented on #2228
This still needs test coverage

[2016-02-10 19:09] thomasboulongne commented on #2259
All my posts are public and appear in the list retrieved without filter (and in my case even with slug filter).
The filter per_page works indeed.
I'm using Nginx (it's a dedicated server). Do you think it can affect the behaviour of the API?

[2016-02-10 19:42] kadamwhite commented on #2259
@thomasboulongne I had issues with filtering in Nginx due to a typo in my try files directive ([issue and fix described here](https://github.com/WP-API/WP-API/issues/1926#issuecomment-168090756)), but that would prohibit _all_ filters from working. I've not encountered a scenario where only specific query parameters do not function correctly, sorry I couldn't be more help.

Do you have other plugi

[2016-02-10 21:08] wesm87 commented on #2144
@bpongvh Request a Slack invite here if you haven't done so already:

https://make.wordpress.org/chat/

Then you'll want to join the `#core-restapi` channel.

[2016-02-10 21:18] NizarBlond opened #2263 "rest_api_init hook only registering the last one"
I collect arguments from different classes and then register API routes arguments.
Then, at one time, I iterate over all the args and load them using add_action('rest_api_init', $cb).

**Problem**: only last args are registered as route (successfully). I checked all of them by changing orders.

See code below

Each class calls this ApiHelper function:

[code]

Then, the main class calls the functi

[2016-02-10 21:46] mAAdhaTTah commented on #2263
So many reasons this could be going wrong, but none of them are WP-API related. Most likely culprit is the use of `self::$currArgs` in the Closure, which only equals the value of the last iteration of the loop. Just pass in the args with `use` and stop assigning them to a static var for no reason.

[2016-02-10 21:49] NizarBlond commented on #2263
how do i pass with use? what do you mean?

[2016-02-10 21:50] mAAdhaTTah commented on #2263
[code]

See here: http://php.net/manual/en/functions.anonymous.php

[2016-02-10 21:55] NizarBlond commented on #2263
Thanks, my bad

[2016-02-10 21:55] #2263 closed, assigned to nobody

[2016-02-10 22:46] thomasboulongne commented on #2259
My bad, I checked again and even the per_page wasn't working either, so I applied your fix in my Nginx conf file, and it's now good ! Thank you very much

[2016-02-10 22:46] #2259 closed, assigned to nobody

[2016-02-11 00:47] rmccue commented on #2228
Will-do.

[2016-02-11 00:50] rmccue commented on #2243
So, I've been thinking about this, and I think it actually makes sense. The `slug` is intended as the slug (duh) for the URL, and the primary (and basically only) use case is in URLs. It makes sense then that this value needs to be safe for embedding in URLs, and that invalid characters are encoded.

I'd say this is a wontfix, but we should document this in the schema as being specifically URL-saf

[2016-02-11 01:51] BE-Webdesign commented on #2114
Okay no problem @danielbachhuber.  I will get on the good first bugs that already exist in the meantime. If you have the time to answer, was I at least on the right track with the solution? I would like to know whether I am understanding the implementation of the API better or if I am completely not understanding it.

[2016-02-11 02:20] kadamwhite commented on #2259
:+1: Glad you got yourself sorted!

[2016-02-11 02:22] jtosey opened #2264 "deleting or updating a meta key/value pair"
I can add a meta key/value pair to an object like this:

[code]

But when I do so repeatedly, I end up with duplicate definitions of the key in the meta container.  Is there a way to delete a key/value pair, or to update an existing key/value pair without introducing duplicates?

[2016-02-11 02:44] Youdaman opened #2265 "Custom orderby param value"
Hi, I've got some logic in my pre_user_query and pre_get_posts that lets me use a custom value with the orderby query param.

In the latest update there's a breaking change that limits the valid request args to an enum set, and I understand I have to use rest_validate_request_arg somehow to allow my custom orderby value.

I don't know where/how to do this however, and if you could point me to the

[2016-02-11 03:52] Youdaman commented on #2265
I managed to work out how to slot in my custom orderby param ("honey") as follows:

[code]

Hope this helps anyone else having the same issue since the breaking change.

[2016-02-11 04:47] AlbertGuadan commented on #1955
@chriscct7  This looks Great from your plugin ! (  /screenshot-per-user-options.png )

All it needs are more dialog boxes like for instants below
-  token all post= true-false ,=something like select 1-all lock password yes/no

  Tokens should also be able to be dropped into apps to too @danielbachhuber

If calling a GET from the API console requesting it bring back an array of all things with thi

[2016-02-11 07:10] Peravel-com commented on #2252
any idea......................!!!!!!!!!!!!!!!!!!!!!!!

[2016-02-11 07:12] naveen84123 opened #2267 "How can we use filter to restrict some tag?"
we want to restrict a tag by filter.
"/wp-json/wp/v2/posts"this url shows all posts with all tags like news,culture,quiz
suppose we need news posts then  my url is "/wp-json/wp/v2/postsfilter[tag]=news"
but now we need to restrict quiz posts then what should we do?
is it a right url?
filter[tag]!=quiz
please answer this question.

[2016-02-11 12:22] ghost commented on #2258
Is there a possibility to create his own method of identification ?

[2016-02-11 12:33] danielbachhuber commented on #2258
Ok. This seems like a fixable problem then.

Yes, although you run the risk of introducing security issues.

[2016-02-11 12:34] danielbachhuber commented on #2267
You can use the `filter` param to build a tax query. Here are your available options: https://codex.wordpress.org/Class_Reference/WP_Query#Taxonomy_Parameters

Later on, we'll introduce top-level support for them #2145

[2016-02-11 12:34] #2267 closed, assigned to nobody

[2016-02-11 12:35] danielbachhuber commented on #2252
@esiise Of [this documentation](http://v2.wp-api.org/reference/users/), what's unclear about how you create a new user? We'll need you to be a bit more clear and detailed on what you've tried, and where you're getting stuck.

[2016-02-11 12:41] danielbachhuber commented on #2265
Sorry about that :( It skipped my mind that anyone would be using a custom orderby value.

I'll make sure we get the "extending routes" aspect documented https://github.com/WP-API/docs-v2/issues/114

[2016-02-11 12:41] #2265 closed, assigned to nobody

[2016-02-11 12:55] danielbachhuber commented on #2264
There are a number of problems with managing meta through the meta endpoints.

Instead, we'd recommend you use `register_meta_field()` to register your meta to the Page object, and specify get and update callbacks http://v2.wp-api.org/extending/modifying/

[2016-02-11 12:55] #2264 closed, assigned to nobody

[2016-02-11 12:57] ghost commented on #2258
Ok , what is the way to do this ?

[2016-02-11 13:09] danielbachhuber commented on #2258
Creating your own authentication mechanism isn't something we can recommend or support.

[2016-02-11 13:11] danielbachhuber commented on #2114
Yep, you were on the right track. However, `$request->get_url_params()['id']` requires PHP 5.4 (I believe), so you need to assign to a variable first.

[2016-02-11 13:22] BE-Webdesign commented on #2114
Thank you, good to know.

[2016-02-11 13:50] danielbachhuber commented on #2114
@WP-API/amigos Ran into two severe implementation issues with this, so I'm backing out of the decision to explicitly distinguish between url, body, and query params within our callbacks. Joe [was right](https://wordpress.slack.com/archives/core-restapi/p1455122071002434), I am wrong. We will live with `WP_REST_Request` permitting ambiguity between how the request variables are assigned.

The two i

[2016-02-11 13:50] #2114 closed, assigned to danielbachhuber

[2016-02-11 14:42] LifetimeCode opened #2270 "beta12 GET /wp/v2/pages"
Hi,
I just installed Version 2.0-beta12, and I got some HTML output is sent before the JSON object. This affects API calls expecting JSON format.

[2016-02-11 15:16] Peravel-com commented on #2252
hi i need create user by post method  in this url
http://nesh.in/wp-json/wp/v2/users/?username=test&email=eee@eee.com&password=ehsanehsan
but the result is
{
  "code": "rest_cannot_create_user",
  "message": "Sorry, you are not allowed to create resource.",
  "data": {
    "status": 401
  }
}

can you help me what is wrong

[2016-02-11 15:17] danielbachhuber commented on #2270
You'll need to disable your plugins one-by-one until you figure out which is outputting HTML before it should be. This issue, unfortunately, isn't anything we can fix.

[2016-02-11 15:17] #2270 closed, assigned to nobody

[2016-02-11 15:28] danielbachhuber commented on #2252
You need to be authenticated and authorized to create new users. "Authentication" means the request is treated as a logged-in request. "Authorization" means the logged-in user has permission to create a new user. In the example you've provided, `status=401` means the request is neither authenticated, nor authorized.

You can read this documentation to learn more about authentication: http://v2.wp-

[2016-02-11 15:28] #2252 closed, assigned to nobody

[2016-02-11 21:45] jdcauley commented on #886
@nharlow89 your solution is exaclty what I need.

[2016-02-11 21:48] nharlow89 commented on #886
@jdcauley glad I could help!

[2016-02-11 21:58] danielbachhuber commented on #2109
Created https://core.trac.wordpress.org/ticket/35803 with a patch.

[2016-02-11 21:58] #2109 closed, assigned to danielbachhuber

[2016-02-11 22:00] jdcauley commented on #886
@nharlow89 still fighting with implementation, but I may be missing something, it isn't triggering the 'custom_rest_query' function

[2016-02-11 22:09] nharlow89 commented on #886
@jdcauley There are a couple things that need to be in place. First, make sure when you define your custom post type you include the argument `‘show_in_rest’  => true` (also may need `‘public’ => true` but don't quote me on this one). Second, make sure you are tying to the right hook `rest_{post-type}_query`. In my example I have `rest_rental_query`, where rental is my CPT. Best of luck.

[2016-02-12 01:04] rmccue commented on #2252
Note also that you cannot create users while not logged in (i.e. sign up). This is intentional, and we don't plan on offering support for this.

[2016-02-12 03:06] jdcauley commented on #886
@nharlow89, Which version of the plugin are you running?

Edit: My Plugin version was behind. It might be helpful in your post to date it or reference plugin version numbers with its rapid updates

[2016-02-12 05:02] Peravel-com commented on #2252
why ?!!  in wordpress anyone can register  why in rest have this limit
i can remove it in plugin but its not usual

[2016-02-12 06:33] mbijon commented on #1822
@TimothyBJacobs Good points about the relationships between individual items and their collections.

I flaked on following up on this over the holidays, but just ran across a new API schema format called [Ramses](http://ramses.tech/). It's attempting to not only document the underlying objects, but to link to each object's API actions ...which is something most of us probably read about ages ago b

[2016-02-12 15:49] vitalijm opened #2272 "WP REST API route request explain"
Maybe can someone explain or show additional info about "WP REST API route request" from beginning to the end.

Main questions, how handle this request in most earlier stage. For example for ajax requests, is second check:

`if (defined('DOING_AJAX') && DOING_AJAX) { /* it's an AJAX call */ }`

**What check can be most fast to handle rest api request?**

Main my approach in app logic, after route

[2016-02-12 16:59] chrishaff commented on #1609
Hm, this breaks my app, so I haven't installed 2.0 Beta 12.0 yet.  What is the mechanism for changing the upper bound?  Edit source or something prettier?

[2016-02-12 17:21] Shelob9 commented on #2272
Take a look at the rest_pre_serve_request filter:

https://github.com/WordPress/WordPress/blob/master/wp-includes/rest-api/class-wp-rest-server.php#L376

By default, it returns false. When it does, the API continues as normal. You could instead return the cached response there.

[2016-02-13 11:19] vitalijm commented on #2272
Thanks, Shelob9. But for now I'm using second logic to check if is setted cached result:

[code]

WP-API-ebook_final_09162015.pdf

On page 42 is explaned some optimisation tips.

Now in searching for action to handle, when is finally builded json response and ready to output.

Maybe someone can say what exact this action can be

[2016-02-13 11:54] vitalijm commented on #2272
Oh, Shelob9, this is You author of this book. :)
So, maybe I'm on wrong way now? When not using your proposed 'rest_pre_serve_request'
If I'm wrong, then maybe You can show example of code...

Now, want find hook, when output ready, but not send yet. I want there set transient cache.

[2016-02-13 12:20] bobsilon opened #2274 "angular triggers an error when POSTing comment with `post` parameter"
Hi there,
I want to add new comment to a post using AngularJS. And this is my function to do that:

[code]

This add the comment to the given post. But angular trigger an error as bellow:

[code]

When I remove the `post` paramater from parameters list, then I don't get that error. Is it any wrong with WP-API or Angular or my code is wrong?

[2016-02-13 12:59] mensch commented on #2274
This issue was introduced in the latest beta and will be fixed in the next release. I reported this a few days ago and a fix has already been committed. Please see my original bug report (#2260) for further details and the solution.

[2016-02-13 13:04] bobsilon commented on #2274
Very cool, Thanks. :heart:

[2016-02-13 13:04] #2274 closed, assigned to nobody

[2016-02-13 14:45] vitalijm commented on #2272
Is this right?

[code]

Please fix me, if I'm doing some wrong

[code]

[2016-02-13 17:14] masstechnologist opened #2275 "How to get site data using api"
How to get site data like title, description or other general settings data through the api?

[2016-02-13 17:20] joehoyle commented on #2275
This is not currently available in the REST API plugin, however that's being worked on in https://github.com/WP-API/wp-api-site-endpoints

[2016-02-13 17:20] #2275 closed, assigned to nobody

[2016-02-13 17:43] masstechnologist commented on #2275
Thanks a bundle.  I guess it only supports GET and not PUT to update options?

[2016-02-13 17:43] joehoyle commented on #2275
It will, at some point! this feature plugin is currently very new / quite possible not functional yet :)

[2016-02-13 17:45] masstechnologist commented on #2275
Any suggestions if i want to extend it by my own? Is there any alternative for the time?

[2016-02-13 18:39] kadamwhite commented on #2275
I'm not in front of a computer right now but at least until recently title
and description were available in the root API response, i.e. the response
when you hit your-site.com/WP-json-- is that no longer the case? (Obviously
does not cover the full range of use cases you have, I just thought it
might help)

##

K. Adam White
kadamwhite@gmail.com
401.575.7829

[2016-02-13 18:44] masstechnologist commented on #2275
Yes they are available to view only. They can't be updated.

[2016-02-13 19:08] Shelob9 commented on #2272
A few things here:
1) Are you sure that creating a static JSON string cache is better than just using a regular persistant object cache? If you had memchaced or redis or whatever running, it would take slightly longer to get to where WP_Query or whatever uses that cache, but is slightly longer might be a few nanoseconds. If true, why all this extra work?
2) Have you considered how you're going to

[2016-02-14 01:41] PeterKnight opened #2276 "Nonce related gotcha"
Reading the documentation on how the api handles nonces had me a bit confused at first. I think I tried something I suspect others will too, maybe the docs can be made more clear?

If you're intentionally using nonces for requests that don't require a login, you might still  be inclined to pass _wpnonce and let the api check it for you like a logged-in request. Thing is, it does if you pass it as

[2016-02-14 07:50] vitalijm commented on #2272
1) Hm, I was not informed about this stuff))) Maybe You can provide short instructions of best practices how to implement this feature on website? If this caching automatically queried objects into RAM, then of course in transients is no need here.
2) About this, maybe some hook on posts updates or even 1 hour to update special transient cache.
3) Between sites do requests, for now I don't grow up

[2016-02-14 15:07] kdpuvvadi opened #2277 "Post from category giving all posts"
I'm trying to get the posts from specific category, when i try to use `https://www.example.com/wp-json/wp/v2/posts?categories=38` it is giving all posts rather than posts from that specific category.

[2016-02-14 15:14] LukePettway commented on #2277
Try doing:

https://www.example.com/wp-json/wp/v2/posts/38

[2016-02-14 15:16] Luciaisacomputer commented on #2277
Try doing the following

https://www.example.com/wp-json/wp/v2/posts?filter[cat]=38

[2016-02-14 15:24] kdpuvvadi commented on #2277
it works but why doesn't `posts?categories="category-id"` work even though it is provided by WP REST API and `posts?tags="tag-id"` is also not working

[2016-02-14 15:38] Luciaisacomputer commented on #2277
Could you post a link to where you are seeing that? I don't think I've done it that way before so I am curious.

[2016-02-14 15:40] kdpuvvadi commented on #2277
https://www.telugushowtime.com/wp-json/wp/v2/posts?tags=165

[2016-02-14 20:30] nylen commented on #1227
For the fields that contain HTML, the warning is a good addition and there's nothing else that can or should be done.

IMO this is more of an issue for fields that can't contain HTML but have entities encoded anyway, such as term names.  For those cases, "teach developers to expect HTML" isn't really a resolution.

For example, when we pass tag names to React for rendering, we have to decode HTML

[2016-02-14 20:31] nylen commented on #2243
My understanding is that storing content encoded in the DB was done before the best practice of encoding immediately before display was firmly established and recognized.  From https://codex.wordpress.org/Data_Validation:

Having to deal with already-encoded data is more tricky because you are forced to violate this rule, and there can be bugs associated with double-encoding.

I couldn't find any

[2016-02-14 21:02] alaa-alsalehi opened #2278 "create new comment"
when I create a comment as anonymous I got response with 201 status
but the response was

Warning: Invalid argument supplied for foreach() in /home/zaki/public_html/wp-content/plugins/rest-api/lib/endpoints/class-wp-rest-comments-controller.php on line 73
{"id":4309,"post":6687,"parent":0,"author":0,"author_name":"admin","author_url":"","author_avatar_urls":{"24":"http:\/\/2.gravatar.com\/avatar\/

[2016-02-14 21:14] dajocarter commented on #451
@reema-bhandari-jabong It looks like `json_prepare_post` is for V1 of the WP REST API and `rest_prepare_post` is for V2. You also have to write your function differently. Check out this link http://jrdk.nl/blog/2015/08/advanced-custom-fields-acf-in-wp-api-2-0/

[2016-02-15 01:14] rmccue commented on #2276
This is intentional. Since cookies are always sent, if we errored when cookies were sent but nonces weren't, users would have to log out of the site to be able to send unauthenticated API requests. This would be a pain if using an external site that does simple unauthenticated requests.

[2016-02-15 01:14] #2276 closed, assigned to nobody

[2016-02-15 01:49] rmccue commented on #2275
You're best off forking that feature plugin and adding the update pieces; pull requests always welcome. :)

[2016-02-15 02:15] rmccue commented on #1609
You should be able to filter `rest_endpoints` and change the `maximum` value there. This should potentially be easier, but ideally you shouldn't be changing this.

[2016-02-15 02:16] rmccue commented on #2278
See #2260 for this issue.

[2016-02-15 02:16] #2278 closed, assigned to nobody

[2016-02-15 02:53] rmccue commented on #2272
This isn't a bug, so closing out, but feel free to continue discussing.

[2016-02-15 02:53] #2272 closed, assigned to nobody

[2016-02-15 03:01] rmccue commented on #2277
@kdpuvvadi Neither of these work; I'm not sure what indicated that they should?

You need to use `filter[cat]=...` and `filter[tag_id]=...` per the [WP Query](https://codex.wordpress.org/Class_Reference/WP_Query#Category_Parameters) documentation.

[2016-02-15 03:09] rmccue commented on #2243
I disagree that this is necessarily a legacy thing, I think it's intentional. If the field was a URL value, we'd expect the URL encoded data, as we're saying "this is a valid URL that we are returning". The value here isn't a full URL, but it _is_ URL data, so it makes sense to only return valid URL characters.

For example, if I had a slug like `foo\bar`, I'd expect a URL field to have `http://ex

[2016-02-15 03:40] kdpuvvadi commented on #2277
i've seen them in the category and tag details api, and for category `filter[cat]=...`  is working but 'filter[tag_id]=...' is giving all posts even though the results not relevant.

[2016-02-15 06:21] greederwow opened #2279 "Basic authentication, how i made it works"
This is probably silly, but the only way i found to make basic auth works was activating Json basic authentication and WP BASIC auth plugins together. I'm writing this because i often read of peoples having troubles with authentication.

[2016-02-15 13:10] danielbachhuber commented on #2279
I suspect only one of them is performing authentication. We don't recommend activating both at the same time.

[2016-02-15 13:10] #2279 closed, assigned to nobody

[2016-02-15 17:12] adamsilverstein commented on #2125
No worries @mineralwassermedium I will get it fixed; thanks for making the effort of opening the issue. I think in github you can click 'edit' on a file and from there lead to a pull request! I haven't used this approach as I run git locally.

[2016-02-15 20:48] PeterKnight commented on #2276
I guess my point is that developers might get confused about when they can rely on the API to check the nonce. For requests that don't require login you have to do the nonce checking yourself and that's not obvious from reading the docs.

[2016-02-15 21:42] kaitwalla opened #2280 "Built-in JS client woes"
Been having some trouble getting the built-in JS client to work when working in my theme (though it's entirely possible I'm completely misunderstanding this, as I'm only passingly familiar with BackBone). I'm beginning with this assumption: Having the WP API plugin activated and including `wp_enqueue_script( 'wp-api' );` on my theme's functions page means I should be able to go to the JavaScript c

[2016-02-15 21:52] BE-Webdesign commented on #2280
@zedley Is your wp_enqueue_script( 'wp-api' ) hooked properly? It should load and be a part of wp object.  **If hooked properly ignore the below** and I would have to maybe see your functions.php file.  Below is a brief example of what a hook into 'wp_enqueue_scripts' looks like.

[code]

[2016-02-15 21:55] kaitwalla commented on #2280
I must have been hooking it wrong, because the script you provided works perfectly.

Thanks a ton.

[2016-02-15 21:55] #2280 closed, assigned to nobody

[2016-02-15 21:58] BE-Webdesign commented on #2280
@zedley No problem, so in your theme's functions.php look for where there is already a hook to wp_enqueue_scripts.  It looks like add_action( 'wp_enqueue_scripts', 'some_function' ); Usually the function is named insert_theme_name_scripts().  There will be stylesheets and various scripts in there. It would be best to slap the wp_enqueue_script in there with the rest of scripts and styles being loa

[2016-02-15 23:55] joehoyle commented on #2277
I think we should add this, I'll take it on

[2016-02-15 23:55] #2106 closed, assigned to nobody

[2016-02-16 02:41] kdpuvvadi commented on #2277
I've given my site url above, Please check with it. Thank you.

[2016-02-16 12:31] danielbachhuber commented on #1488
@rmccue @joehoyle thoughts on how we can shim this into the plugin?

[2016-02-16 13:18] #2228 closed, assigned to rmccue

[2016-02-16 13:20] danielbachhuber commented on #2248
:hammer:

[2016-02-16 13:20] #2248 closed, assigned to nobody

[2016-02-16 13:35] vitalijm opened #2282 "Unset _links from post type"
How to unset _links from post type data in 'rest_prepare_post' filter? Or we must use some other place for removing it?

[code]

[2016-02-16 13:42] matthiasbe opened #2283 "404 error while accessing to endpoint"
Hi,
I'm trying for several days to get this plugin working but I don't succeed.
The problem is, when I try to access `mysite.com/wp-json/` or `mysite.com/wp-json/wp/v2/users` or whatever i get a 404 error `file not found`.

I have changed the permalinks to "postname" and it didn't resolve my problem.

I have the following wp-generated `.htacces`. Shouldn't there be a rewriting rule to take the `wp

[2016-02-16 14:30] danielbachhuber commented on #2283
What happens when you create a page through the WordPress admin, publish it, and view the permalink? Can you share what the permalink ends up as?

No, you shouldn't need an extra `.htaccess` rule.

"file not found" probably doesn't have to do with authentication.

[2016-02-16 14:35] danielbachhuber commented on #2282
You'd need to call `$data->remove_link()` on each link:

[code]

Can you explain in greater detail why you want to remove links though?

[2016-02-16 14:38] vitalijm commented on #2282
Thanks.
To have the lightest as possible weight of json output data, to play with it in faceted search.
Or maybe Im on wrong way?)

[2016-02-16 14:45] vitalijm commented on #2282
For example if output will be of 1000 objects. Because I want see count of every property in faceted search. If request will have just 9 page with 10 results, then we can't see all possible results of each property. I'm saving request in transient for 24 hours, updating on new post / update.

[2016-02-16 14:51] danielbachhuber commented on #2282
Ah, makes sense. I was just curious about the use case.

[2016-02-16 14:51] #2282 closed, assigned to nobody

[2016-02-16 15:19] bobsilon opened #2284 "comments can be send with empty values"
Hi there,
Is it good the wp-api save the comments with empty values?
If I submit a comment form with empty fields, empty `author_name`, empty  `author_email`, empty `author_url` and others except `post`, It will be submitted in database. Is it right behavior?

[2016-02-16 15:36] matthiasbe commented on #2283
Hello,
Thank you for your quick response. It seems you hit right. When i click to display one of my several pages of my site from admin, the it gives me right url like `mysite.com/example-page/` but the loaded page raises a `file not found`.

It seems it's a problem with the wp installation. Sorry for the misunderstanding.

I will tell you whether solving wp's `file not found` solves my problem wi

[2016-02-16 15:41] danielbachhuber commented on #2283
No worries, glad you've established this. Good luck tracking down the source of the problem.

[2016-02-16 15:41] #2283 closed, assigned to nobody

[2016-02-16 16:53] danielbachhuber commented on #2284
I think we're changing this behavior with #2049

I'll flag for @rachelbaker to confirm the expected behavior.

[2016-02-16 20:11] beatelite opened #2285 "Creating New User via API Logs Me in as New User"
**Summary**
   When creating a new user while authenticated, I am instantly logged in as that user. Not sure if this is by design or not.

**Reproduction Steps:**
    Authenticate using nonce.
    POST to /users endpoint
    params:
 {
   name: usertest,
   username: user1,
   email: test@test.com,
   password: test,
   role: contributor
}

**Current Result:**
    The post is successful and I'm su

[2016-02-16 20:15] joehoyle commented on #2285
Oops! My guess is `wp_new_user` or something is setting the cooke.

[2016-02-16 20:44] danielbachhuber commented on #2285
We're using `wp_insert_user()` and `wpmu_create_user()`, neither of which set cookies.

@beatelite Is this a single WordPress instance, or WordPress multisite? Can you try deactivating any plugins you might be running, and switching to the default WordPress theme, to see if there's another factor at play?

[2016-02-18 03:42] sryze opened #2289 "API for Facebook login"
We're building a mobile app that uses WP REST API as a backend. There should be an option for logging with Facebook alongside with the normal username/password login. From what I was able to find on this topic on the web, it seems that there needs to be a dedicated server-side API for the Facebook login based on sending a user access token from the client app and checking it on the server.

Is thi

[2016-02-18 04:09] mingyena opened #2290 "Get 404 for /wp/v2/posts/postid/categories"
Hi, I have updated the plugin for the beta12, but it gets a 404 when I GET or POST category to a post - GET blog-name/wp-json/wp/v2/posts/10102/categories`resulted in a`404 Not Found` response: {"code":"rest_no_route","message":"No route was found matching the URL and request method","data":{"status":404}

It is doing okay for the meta. So maybe I miss something or do you have any insight why I go

[2016-02-18 05:53] kadamwhite commented on #2290
Taxonomy terms collections were moved out from beneath the `/posts` endpoint in the most recent beta; try the URL `blog-name/wp-json/wp/v2/categories?post=10102`. This should also be reflected in the `_links` the post provides for its terms; for my blog, for example, the collection URL is shown in beta 12 using the new path:
![image](https://cloud.githubusercontent.com/assets/442115/13134958/02125

[2016-02-18 05:54] kadamwhite commented on #2290
As for meta, you'll need to install the [new separate meta plugin](https://github.com/WP-API/wp-api-meta-endpoints) to keep using meta in future WP-API beta releases

[2016-02-18 12:07] #2290 closed, assigned to nobody

[2016-02-18 12:09] danielbachhuber commented on #2289
No. Normal WordPress authentication isn't currently supported by the WP REST API, and we won't be supporting authentication with third-party identity providers.

Sorry, that's outside the scope of this issue tracker. Adding Facebook authentication is a substantial development task.

[2016-02-18 12:10] #2289 closed, assigned to nobody

[2016-02-18 13:00] beatelite commented on #2225
So glad this is being discussed. I just ran into this as an issue. It would also be cool if we could see who's editing it, if possible.

[2016-02-18 14:49] danielbachhuber commented on #2144
@BE-Webdesign after #2266 lands, would you want to take on adding the same support to comments?

[2016-02-18 15:04] mingyena commented on #2290
Thank you @kadamwhite  and @danielbachhuber !
May I ask the right request to send a POST?
I tried POST blog-name/wp-json/wp/v2/categories?post=10102&id=categoryID
AND
POST blog-name/wp-json/wp/v2/categories?post=10102, array(id, count,name)
But they seems not be  correct paths...

[2016-02-18 15:08] BE-Webdesign commented on #2144
@danielbachhuber Certainly, I will get on that soon.  Maybe before #2266 lands!

[2016-02-18 17:30] aaronjorbin commented on #2225
This might be a great opportunity to use the infrastructure that was merged into core already and migrate the existing heartbeat check over to the REST API

[2016-02-19 12:27] danielbachhuber commented on #2144
:ship:

[2016-02-19 18:02] joehoyle commented on #1488
So I've been looking into doing this, we don't have good hooks in place to modify the response links, best I can see is to either run a subclass of the server class in the plugin, or filter the server response and look for links recursively (bit of a hack).

[2016-02-19 18:11] danielbachhuber commented on #1488
I think subclassing seems like the cleanest implementation at this point

[2016-02-19 18:27] stonetip opened #2292 "Consistent JSON Post Results"
When retrieving a single post by ID, a JSON object is returned. When retrieving a single post by a slug, a single post as a search result or when retrieving multiple posts a JSON array is returned. An array would be preferred in all cases. As it stands, we now have to pollute what was supposed to be a simple HTTP Request helper class with a check and have it return a specific model rather than a m

[2016-02-19 18:28] jtosey opened #2293 "Need API to get templates and their names"
We would like to be able to set the template for a page from a separate system, by presenting their names in a drop-down list, and then setting the filename through the API.  Right now we can't get that info through the API, so we have to make assumptions about the theme and the filenames in that theme.

We would like to be able to retrieve the current template names and filenames through the API.

[2016-02-19 18:40] danielbachhuber commented on #2292
You're welcome to change this behavior for your own application of the API. However, we won't be changing the format of an individual resource from an object to an array in the main project.

[2016-02-19 18:40] #2292 closed, assigned to nobody

[2016-02-19 18:51] stonetip commented on #2292
That doesn't address the inconsistency of retrieving a single post using a slug instead of an ID. How is that also not "an individual resource"? Why is it also different when a single result is returned from a filtered request?

Sure, I can change my code (and already have) but am trying to make you aware that this policy requires workarounds and additional testing. As stated, I fully appreciate t

[2016-02-19 19:09] danielbachhuber commented on #2292
When you use `GET wp/v2/posts slug==foo` to _filter_ a collection of posts to a single post, you're fundamentally filtering a collection, not accessing an individual resource.

We've discussed the format of our responses for many, many hours, and considered many different types of implementations. We're reasonably happy with the implementation we've settled upon.

[2016-02-19 22:02] mc256 opened #2294 "comment IP is always 127.0.0.1 not showing the real IP"
Hi there,

I don't think it is my server problem... Because other parts of my server are working fine.

I am using jQuery to post the comment
`jQuery.ajax({
            type:"POST",
            dataType:"json",
            data:{
                post:c,
                parent:b,
                content:jQuery("#cmt-textarea-p" + b).val(),
                author_name:jQuery("#cmt-name-p" + b).val()

[2016-02-19 22:37] danielbachhuber commented on #2294
This is a known problem. See #1788 for the ongoing discussion on how we might address it.

[2016-02-19 22:37] #2294 closed, assigned to nobody

[2016-02-20 17:22] brandondurham opened #2296 "List of compatible plug-ins?"
In this particular instance I’m searching for an ad management plug-in that works seamlessly with the WP-API, but I’ve found myself previously wanting to know what plug-ins work well with it in general.

Is there a list anywhere of plug-ins that offer seamless incorporation with WP-API?

[2016-02-20 17:37] mc256 commented on #1788
Thanks a lot!

Basically, I changed
`$prepared_comment['comment_author_IP'] = '127.0.0.1';`
to
`$prepared_comment['comment_author_IP'] = $_SERVER['REMOTE_ADDR'];`
in file `/lib/endpoints/class-wp-rest-comments-controller.php`
for a temporary fix. For those who don't have a proxy server, this solution could be the simplest one.

[2016-02-20 17:59] danielbachhuber commented on #2296
I don't believe we have a list going yet, but it'd be a great addition to v2.wp-api.org

[2016-02-20 18:01] brandondurham commented on #2296
Ah, okay. I agree… would be great. I’ve seen plug-ins that explicitly state they’re compatible, but I’d love to just browse a singular list when I need something specific.

Thanks!

[2016-02-20 19:55] danielbachhuber opened #2297 "Publish "final" version of our JSON schema spec"
Given our JSON schema definition includes attributes not present in draft v4, we need to eventually publish our derivative.

[2016-02-21 08:23] miya0001 opened #2299 "Returns wrong number of posts when we have password-protected posts."
If we have password-protected posts, API returns posts without password-protected posts.

In this case, API will returns 9 posts when we have a password-protected post,

[code]

Then we send request like fowllowing.
The first post in response is duplicate.

[code]

I know I always should set `offset : 10`, but I feel It will make us confuse.

[2016-02-21 22:51] kadamwhite commented on #2299
I think this (used to?) happen with sticky posts as well, which are excluded by default -- I do agree that it's unintuitive, if I ask for 10 posts I would expect to get 10 back. What's the rationale for not treating pass-protected posts the same way we'd treat any other non-matching filter, I.e. Return the collection as if it did not exist?

[2016-02-22 13:56] danielbachhuber commented on #2299
This is a known issue I've been meaning to create a ticket about.

The problem is that, across all of our collections, we perform a final permissions check before we add the item to the result set. In this case, the password-protected post fails the permissions check, so it's removed from the result set. See #1055 for ongoing problems with password-protected posts.

However, the problem isn't spec

[2016-02-22 14:37] robynlarsen opened #2300 "WP Users Endpoint doesn't return all users"
Has anyone run into the issue where not all the users are returned? At the moment only users who have contributed to content are returned in the following endpoint.  At the moment there should be 15 users returned and only 6 are included in the following request:
`http://dev-twg-express.pantheon.io/wp-json/wp/v2/users`

Am I missing something?

Have also tried forcing `http://dev-twg-express.panth

[2016-02-22 14:39] danielbachhuber commented on #2300
This is intentional. If a user hasn't published a post, then they won't be included in the API response. See #1397, #2155

[2016-02-22 14:57] robynlarsen commented on #2300
@danielbachhuber is there a filter that will pull in all the users?

[2016-02-22 15:02] danielbachhuber commented on #2300
You can use the `rest_prepare_users` filter to remove `has_published_posts` from the query args https://github.com/WP-API/WP-API/blob/develop/lib/endpoints/class-wp-rest-users-controller.php#L126

[2016-02-22 15:11] miya0001 commented on #2299
:+1:

[2016-02-22 15:27] mingyena opened #2301 "Correct API request for POST Category"
Hi, I asked a category question in here - https://github.com/WP-API/WP-API/issues/2290
But since the post is closed, so I think you guys are not able to see my question any more...
So I just created another one -
May I ask the right request to send a POST?
I tried POST blog-name/wp-json/wp/v2/categories?post=10102&id=categoryID
AND
POST blog-name/wp-json/wp/v2/categories?post=10102, array(id, coun

[2016-02-22 16:45] robynlarsen commented on #2300
@danielbachhuber stupid question - you mean to use that on the WP side of things instead of within the endpoint?

[2016-02-22 16:54] danielbachhuber commented on #2300
Yes, you'll need to add the filter in PHP.

[2016-02-22 19:05] robynlarsen commented on #2300
For anyone looking to solve this problem:

API Request `/users?per_page=0`
Note: per_page=-1 only served up the 10 users (current limit).

Additional function in your php theme.

[code]

[2016-02-22 19:16] robynlarsen commented on #2300
@danielbachhuber thanks for your help :+1:

[2016-02-22 19:43] MurhafSousli opened #2302 "typings for wp-api.js"
Is there a typing file for `wp-api.js`, I need to import it in typescript file but it's not working and I'm getting this error : `error TS2307: Cannot find module './../../assets/wp-api'.`

[code]

[2016-02-22 19:51] adamsilverstein commented on #2302
@MurhafSousli There is not, yet. Can you provide some more details about whats needed here? also can you please close this issue and re-open on the client repository: https://github.com/WP-API/client-js

Thanks.

[2016-02-22 23:13] #2302 closed, assigned to nobody

[2016-02-22 23:45] danielbachhuber commented on #2210
Fixing this will require a core patch https://core.trac.wordpress.org/ticket/35907

[2016-02-23 04:00] rmccue commented on #2293
You can send an `OPTIONS` request to the `/wp/v2/pages` endpoint and check the schema; it includes an `enum` field listing the valid templates. For example:

[code]

[code]

This is also available in the index or namespace index (at `/wp-json/` and `/wp-json/wp/v2` respectively) if you pass `context=help`.

[2016-02-23 04:07] danielbachhuber commented on #2293
It doesn't include the names of the templates

[2016-02-23 04:08] rmccue commented on #2293
Good catch.

[2016-02-23 06:03] bobsilon opened #2304 "comment auto approved if admin email sent as author_email no matter logged in or not"
If anyone knows admin's email what is, then he can post comments which are detected as admin and approved automatically.

[2016-02-23 12:06] gerardabsi opened #2305 "Get posts by taxonomy name and term id"
is there a way that i can retrieve the posts related to a taxonomy name and term id like:
http://example.com/wp-json/wp/v2/posts?filter[taxonomy]=newssource&filter[term]=<termid>

[2016-02-23 14:23] BE-Webdesign commented on #2305
@gerardabsi There are a couple of changes that should be landing soon regarding filtering by taxonomy ( if it is show_in_rest => true ) .  One will have a top level support for the taxonomy and one with tax_query support in the filter.  So if you wanted to search by taxonomy and term_id you would do something like:

For posts in categories 1, 2 and 3.
**GET wp/v2/posts/?categories=1,2,3**

Or usin

[2016-02-23 14:37] gerardabsi commented on #2305
i used :
wp-json/wp/v2/posts/?filter[tax_query][0][taxonomy]=newssource&filter[tax_query][0][field]=term_id&filter[tax_query][0][terms]=1293

it didn't filter all the posts of the term_id 1293

if use the slug like this
wp-json/wp/v2/posts?filter[taxonomy]=newssource&filter[term]=newssource-16
the posts are filtered by the newssource-16.

Am I missing any args

[2016-02-23 14:44] BE-Webdesign commented on #2305
Yes, because they are not in the API yet, as stated above.

If that works go for it.

[2016-02-23 15:12] gerardabsi commented on #2305
Sorry i thought they were added
My question was is there any way to use the term_id right now because i don't want to use the slug.
or shall i wait till the update is released.

[2016-02-23 15:28] BE-Webdesign commented on #2305
@gerardabsi I believe you will need to wait till the update not sure when it's slated to go in either.

[2016-02-23 16:21] danielbachhuber commented on #2305
@gerardabsi You could also just [download the ZIP](https://github.com/WP-API/WP-API/archive/develop.zip) for the develop branch if you're comfortable using pre-release software.

[2016-02-23 16:21] #2305 closed, assigned to nobody

[2016-02-23 16:29] danielbachhuber commented on #2293
Sorry for the confusion, @jtosey. I had started on a code snippet for this the other day, and was distracted.

For between now and when we add formal support in the API, here's how you can register an endpoint to get the list of templates with their names:

[code]

[2016-02-23 16:38] danielbachhuber commented on #2304
Right — this follows WordPress' existing behavior for comments.

[2016-02-23 16:38] #2304 closed, assigned to nobody

[2016-02-23 16:39] danielbachhuber commented on #2301
To assign a category to a post, you'll want to `POST blog-name/wp-json/wp/v2/post/10102` and include `categories = [ cat_id ]` in the request body.

[2016-02-23 16:39] #2301 closed, assigned to nobody

[2016-02-23 16:41] danielbachhuber commented on #2144
@WP-API/amigos Do we want to have top-level support for picking between `date` and `date_gmt` as comparison value for `before` and `after` ?

[2016-02-23 17:02] BE-Webdesign commented on #2144
@danielbachhuber Not sure I follow wouldn't specifying the date string in before or after do that? Like if you wanted to check against gmt times use Zulu time and if you wanted EST do like
2016-02-23T:00:00:00-5:00UTC? I am le confused.

[2016-02-23 17:06] BE-Webdesign commented on #2144
Aren't date and date_gmt the same time just a different representation or do I not understand date times at all?

[2016-02-23 17:59] joehoyle commented on #2144
@BE-Webdesign one would intuitively think that, however if it were the case, we probably wouldn't even bother having `date` and `date_gmt`. These two values are not actually the same data, there are numerous situations where `date` and `date_gmt` are "out of sync" (i.e. not just the timezone offset apart). for example, switching timezones on old data. They essentially need to be treating as two to

[2016-02-23 18:41] Playrom opened #2306 "Creating New Post with single meta field"
I'm trying to create a new post with a single meta named "link". I've correctly installed and configured in my functions.php, the meta feature plugin

But i just can't work out this code. The post is created without the meta

`{
    "title": "Statement by Pentagon Press Secretary Peter Cook on Submission of Guantanamo Closure Plan",
    "content_raw": "",
    "status": "publish",
    "format": "li

[2016-02-23 18:41] danielbachhuber commented on #2144
Eh, I think we should favor `date` over `date_gmt`. But, `WP_Query` supports a `column` argument for date queries to change from `post_date` to `post_date_gmt` (or another date column). I was thinking we might want to support an equivalent.

[2016-02-23 18:44] danielbachhuber commented on #2306
Yes, you'd need to assign post meta in a second request. If you want to assign a meta field in the initial request to a post, you need to use `register_meta_field()` http://v2.wp-api.org/extending/modifying/

[2016-02-23 18:44] #2306 closed, assigned to nobody

[2016-02-23 18:46] Playrom commented on #2306
ok thanks! Didn't understand well that point :)

[2016-02-23 18:54] BE-Webdesign commented on #2144
@danielbachhuber, @joehoyle what do you want to name the parameter?

[2016-02-23 19:50] mnelson4 opened #2307 "WP API v1 basically still conflicts with v2"
I reported on https://github.com/WP-API/WP-API/pull/1687 that WP API v2, partially included in WP 4.4, broke WP API v1. So that ticket addressed that so v1 will continue to work fine even with WP API v2 or WP 4.4 active. Great. But now WP API v2 is busted when WP API v1 is active.
The solution of course is to move one of the APIs to a different json url prefix. Eg, switch WP API v1 to live at `mys

[2016-02-23 20:06] mnelson4 commented on #561
hey we are thinking of taking an initial stab at this sometime soon. imo this might be good to initially have as a separate plugin no? then once we have the kinks worked out merge to wp api v2?

[2016-02-23 21:10] jtosey commented on #2293
That's awesome, thanks!

[2016-02-23 21:10] #2293 closed, assigned to nobody

[2016-02-23 23:22] danielbachhuber commented on #561
Sure, that works, although I think @joehoyle already has code for batch `GET` requests and batch `POST` doesn't seem to be technologically viable at this time.

[2016-02-24 02:31] colloquet opened #2308 "Can't get order by meta key to work."
Hi all,

I am developing a web app that display a bunch of data onto a table. Here is the code to get the data:

[code]

Where `rank` is a custom field of the post by **Advanced Custom Fields**. This gives me the result:

![screen shot 2016-02-24 at 10 24 03 am](https://cloud.githubusercontent.com/assets/6201495/13273746/c9a2d41c-dae0-11e5-8435-e1a3dec24303.png)

As you can see it's not in any par

[2016-02-24 02:33] rmccue commented on #2308
Have you tried using `?orderby=meta_value_num` directly? I think the `filter[orderby]` value might be getting overridden by the top-level argument.

[2016-02-24 02:40] colloquet commented on #2308
Hi @rmccue,

Thanks for the swift reply, I tried to use `?orderby=meta_value_num` but I got an error `"Invalid parameter(s): orderby (orderby is not one of date, id, include, title, slug, menu_order)"`.

So I added the following to my functions.php (from https://github.com/WP-API/WP-API/issues/2265):

[code]

I don't get the error anymore but I am getting the same result :(

Thanks for the suggest

[2016-02-24 02:50] colloquet commented on #2308
I'd also like to mention that orderby `id` does not seem to work either, here's my code:

[code]

and I get the following results:
![screen shot 2016-02-24 at 10 50 09 am](https://cloud.githubusercontent.com/assets/6201495/13274170/67c064c2-dae4-11e5-8aa3-4b9a7d2b65b1.png)

[2016-02-24 03:45] colloquet commented on #2308
Hi all,

Upon further debugging, I have found the solution, it wasn't working because meta_key was not one of the allowed query variable. I simply have to add this code into my functions.php

[code]

I hope this help others who have the same problem!

[2016-02-24 03:45] #2308 closed, assigned to nobody

[2016-02-24 05:53] rmccue commented on #2308
Note that this causes privacy issues: anyone can query by any meta key/value, so it's possible to detect meta values on posts this way. This could also be a security issue depending on your plugins, so be extremely careful using this.

[2016-02-24 10:17] ssmagin opened #2309 "Wrong paging when retrieving categories list"
The following requests return the same result (for per_page >10):
http://blog.lo/wp-json/wp/v2/categories?page=1&per_page=100
http://blog.lo/wp-json/wp/v2/categories?page=2&per_page=100
......
http://blog.lo/wp-json/wp/v2/categories?page=1232&per_page=100

But the following requests work correctly:
http://blog.lo/wp-json/wp/v2/categories?page=1&per_page=10
http://blog.lo/wp-json/wp/v2/categories?p

[2016-02-24 11:01] ssmagin opened #2310 "Warning in create comment response"
When I create comment, for example:

I receive

[code]

[2016-02-24 11:02] ocean90 commented on #2310
Duplicate of #2260.

[2016-02-24 12:43] danielbachhuber commented on #2310
To fix your problem until the next beta, you can apply 80dcacf95140a445d262aefb55d1054ee2750108 locally.

[2016-02-24 12:43] #2310 closed, assigned to nobody

[2016-02-24 12:45] danielbachhuber commented on #2309
@ssmagin Which version of the API are you using?

[2016-02-24 12:54] ssmagin commented on #2309
I use Version 2.0-beta12

[2016-02-24 13:03] danielbachhuber commented on #2309
@ssmagin and how many categories do you have total? can you more clearly communicate the response you're seeing, and the response you'd expect to see?

[2016-02-24 13:09] danielbachhuber commented on #2309
I've tried reproducing this, and I can't, so I'm keen for more details which can point me in the right direction.

[2016-02-24 13:29] ssmagin commented on #2309
I have a test blog with 18 categories.
http://blog.lo/wp-json/wp/v2/categories?page=1&per_page=100 returns me all 18 categories as I expect.
http://blog.lo/wp-json/wp/v2/categories?page=2&per_page=100 also returns me all 18 categories.
But I expect to receive an empty array []. The same problem I have for all pages greater than 1.

Requests with parameter per_page=10 works correctly:
http://blog.l

[2016-02-24 16:37] danielbachhuber commented on #2309
Thanks for the details, @ssmagin. I've been able to identify this as a bug with core: https://core.trac.wordpress.org/ticket/35935

It's easy for us to include a fix for, though, so we'll have it addressed in the next beta. In the interim, you could apply 4a0e3e5cf3ee1529c4694aaefa1f58c87fd24f5a locally if you need an immediate fix.

[2016-02-24 16:44] danielbachhuber commented on #2307
Regular users shouldn't be installing WP-API v1 directly, given there's a deprecation notice.

This seems like more of an annoyance than being helpful. There are perfectly valid reasons to continue to use WP API v1 with WordPress 4.4, and we shouldn't disadvantage those users.

I think this is more of user error than anything else. There's lots of ways you can accidentally misconfigure your API su

[2016-02-24 16:44] #2307 closed, assigned to nobody

[2016-02-24 16:50] BE-Webdesign commented on #2296
@danielbachhuber I can compile a list.  Would we put it into the readme file or should I just paste it here when complete and it can be added to v2.wp-api.org?

[2016-02-24 16:58] danielbachhuber commented on #2296
@BE-Webdesign let's start a dedicated page on v2.wp-api.org. I'll get contrib access for you, so you can create a PR directly.

[2016-02-24 17:08] #2309 closed, assigned to nobody

[2016-02-24 17:48] mnelson4 commented on #2307
Yes it says the plugin is deprecated, but it says "It's no longer supported beyond security fixes". That communicates to me "It works, but don't expect new features." It should say something like "It is incompatible with WordPress 4.4 and higher unless..."

for the record, I was thinking the notice would only come up when `json_url_prefix() == rest_url_prefix()`, because I agree there are valid re

[2016-02-24 18:07] BE-Webdesign commented on #2296
@danielbachhuber Very awesome!! Thank you!

[2016-02-24 18:38] danielbachhuber commented on #2307
If you want to suggest the text to include, I'd be happy to add it.

[2016-02-24 21:30] mnelson4 commented on #2307
Ok great. Here's what I suggest adding:

Note about compatibility with WP API v2 and WordPress 4.4: WP API v1 breaks WP API v2 and the WP API included in WP 4.4 because they both use the same url prefix: `wp-json`. In order to run both side-by-side, you can change the URL prefix of WP API v1 with `add_filter( 'json_url_prefix', function($old_prefix){return 'wp-json-old'});`

This should probably g

[2016-02-24 21:44] aaronjorbin commented on #2210
@danielbachhuber core patch is in - https://core.trac.wordpress.org/changeset/36696

[2016-02-24 22:27] stonetip opened #2316 "Way to remove limit on result set"
In more recent versions of the API, results are limited to 100  per request. I can appreciate why this would be a good thing with a public-facing, unrestricted API. However, it means our calling code has to have paging loops written into it for every action, such as getting all the posts for a category to use in a server cache. And it means making multiple HTTP requests.

It'd be great if there wa

[2016-02-24 23:21] danielbachhuber commented on #2210
Moving this back into the 2.0 bucket, until there's an implementation in core.

[2016-02-25 05:23] Anawaz opened #2319 "Creating extra Json objects"
In version 2 response contains many items in form of rendered json object however they were simple key value pair in version 1 for eg.

"title":{"rendered":"How to change Country Settings on Youtube.com"}

however It can be

"title":"How to change Country Settings on Youtube.com"

in second form it is easy to parse json using gson library.

[2016-02-25 07:42] satishgadhave commented on #456
If for some reason slug changed, will this still work with old slug? Wordpress automatically redirects URL with old slug to new. Would it do the same for API?

[2016-02-25 07:48] rmccue commented on #2319
The `rendered` value is after filters have been applied; if you send `?context=edit`, it will give you back the `raw` value as well, which is directly from the database.

[2016-02-25 07:48] #2319 closed, assigned to nobody

[2016-02-25 08:27] Anawaz commented on #2319
Okay That is great however this requires authentications and I want to use like previous version.

Getting this error while accessing like previous version.

{"code":"rest_forbidden_context","message":"Sorry, you are not allowed to edit these posts in this post type","data":{"status":401}}

I think there is not need of nesting in json rendered object. This is an extra overhead.

[2016-02-25 12:11] TimeParadox89 opened #2320 "users missing when call to /users"
Hello, i've registered some user from my wordpress website and when i'm going to call the /wp-json/wp/v2/users endpoint i can only retrieve the first 2 users , the others won't be retrieved like they don't exist, but if i try to login to my website i can find them !

could you help me ?

[2016-02-25 12:40] danielbachhuber commented on #456
No, and this is one of the reasons you can't expect querying by slug to be reliable. If you know of a specific post, you should query by the id.

[2016-02-25 12:49] danielbachhuber commented on #2320
To protect the privacy of private users, `/wp-json/wp/v2/users` only returns users who have published a post (or some other post type exposed in the REST API).

See #2300

[2016-02-25 12:49] #2320 closed, assigned to nobody

[2016-02-25 12:51] stonetip commented on #2316
If I may make a general observation: This is not like an API, such as Google Docs, where there is one company or org that hosts and controls end points. WP sites are hosted by all kinds of people in a wide variety of environments and usages. There really needs to some config options for the API settable from a dashboard or, at worst, in a config file.

[2016-02-25 12:57] danielbachhuber commented on #2316
WordPress has actions and filters for this purpose. You can filter the endpoint registration args to remove the `maximum` attribute:

[code]

[2016-02-25 12:57] #2316 closed, assigned to nobody

[2016-02-25 13:12] rmccue commented on #2319
If you're not authenticated, you need to use the rendered version. Revealing the raw database values is a potential privacy issue.

The API never changes values based on context, it only adds or removes them. `title` needs to be an object to allow adding the extra data when the context changes.

[2016-02-25 13:15] stonetip commented on #2316
Where would I even do that? I'm not a WP developer. And if I do, what happens when WP gets upgraded or the plugin gets rolled into Core WP? If I write custom code that gets buried in some obscure location in a WP installation then I need to document it and make sure anyone else who touches the site knows about it.

[2016-02-25 13:18] danielbachhuber commented on #2307
I've added the following to the v1 readme.txt:

[2016-02-25 13:20] danielbachhuber commented on #2316
You can add it to your theme's functions.php, or create a mu-plugin for it.

The code snippet will continue to work as expected.

[2016-02-25 13:29] stonetip commented on #2316
The latter seems preferable, although after reading  http://codex.wordpress.org/Must_Use_Plugins not without some issues. Unless I'm mistaken, adding code to a theme means being vulnerable to someone else switching themes. We work with designers who are rather unilateral in their actions! Thank you.

[2016-02-25 13:53] rmccue commented on #2316
You can also add it to a regular plugin if an mu-plugin is an issue.

[2016-02-25 17:40] rajesh-h opened #2322 "Comments end Point Using beta 12 status=approved does not fetch results"
Hi,

Below is the end point for comments in one of the existing frame work i am using.
I am using beta12 of wp-api2

http://totest-cscom.rhcloud.com/wp-json/wp/v2/comments?order=asc&orderby=date&per_page=50&post=4832&status=approved&type=comment

This returns with 401 unauthorised
`{
  "code": "rest_forbidden_param",
  "message": "Query parameter not permitted: status",
  "data": {
    "status": 4

[2016-02-25 18:06] mnelson4 commented on #2307
great thanks!

[2016-02-26 09:25] ssmagin opened #2323 "Do we need an ability to query by gmt dates?"
For example, we have a site with "UTC -05:00" timezone, so request http://blog.lo/wp-json/wp/v2/posts?filter[hour]=22 returns post:

Let it be, I live in "UTC +03:00" timezone and I want to get all posts for "2013-03-06" date. Unfortunately, http://blog.lo/wp-json/wp/v2/posts?filter[m]=20130306 request will not return me this post, because WordPress queries dates by post_date field (which represen

[2016-02-26 13:56] danielbachhuber commented on #2323
You can choose a different column to run the query against with `filter[date_query][column]`:

[code]

[2016-02-26 13:56] #2323 closed, assigned to nobody

[2016-02-26 13:59] BE-Webdesign commented on #2323
@ssmagin In the filter param you can use date_query instead.  The API just added top level parameters for before and after (which query against the date).  So if you wanted to query against GMT dates you could use before and after like this:

**GET wp/v2/posts?before=2013-03-07T00:00:00Z&after=2013-03-05T23:59:59Z**

(The Z means it's GMT)
For date query if you wanted to query against gmt times yo

[2016-02-26 22:55] ryangiglio commented on #456
So in this case, when you're trying to query a specific blog post and want to use the slug in the URL, how would you recommend getting the ID to query by? I wouldn't want my site to have to use site.com/blog/ID instead.

[2016-02-28 01:19] BE-Webdesign commented on #2322
Hi Raj,

@just10minutes I am pretty sure this is the expected behavior of the API.  If an unauthorized user could filter results based on the status parameter they could retrieve comments on hold, spam, and trash status, which are all private data.  With the status parameter omitted from the request you get what you would expect, approved comments, which are available to any user.

After looking a

[2016-02-29 09:09] pimmey opened #2324 "No response at all after a while"
I've started developing a theme using WP API, but sometimes the response is `Could not get any response` or just `Can't open page`, if in browser. After refresh it might work for a while or fail completely until I restart my local server. Got latest version of the plugin and WordPress (4.4.2). This goes to simple requests, like `wp-json/wp/v2/posts/`.

Tried deactivating/reactivating the plugin, b

[2016-02-29 13:59] ssmagin commented on #2323
I tried:
**/wp/v2/posts?filter[date_query][column]=post_date_gmt&filter[date_query][day]=6&filter[date_query][month]=3&filter[date_query][year]=2013**
and
**wp/v2/posts?filter[date_query][0][column]=post_date_gmt&filter[date_query][0][day]=6&filter[date_query][0][month]=3&filter[date_query][0][year]=2013**

But this does not work for me. I receive the latest site post (dated by 2016 year, not 2013

[2016-02-29 14:55] BE-Webdesign commented on #2323
@ssmagin Are you using the v2 plugin or the development branch of WP API? I apologize for any confusion but I do not believe date query is in beta 12 for the v2 plugin.  However, if you want to use the latest develop branch build of WP API you will be able to use that functionality.  I think the next beta release is slated for March 8th a week from tomorrow and date query should be added if you wa

[2016-02-29 14:59] ssmagin commented on #2323
I downloaded "Version 2.0 beta 12" from https://wordpress.org/plugins/rest-api/

[2016-02-29 14:59] BE-Webdesign commented on #2323
@ssmagin Yes, then Beta 13 should have it in a week or so!

[2016-02-29 15:03] ssmagin commented on #2323
Good news, thank You!

[2016-02-29 15:10] BE-Webdesign commented on #2324
@pimmey How many requests are you making at a given time?  If you could provide more information that would be helpful.  The API itself is most likely not the root cause, so deactivating and reactivating it won't do anything.

By indicating that restarting your server seems to solve the problem, I would lean towards believing that it most likely has to do with your local dev environment, machine a

[2016-02-29 15:22] pimmey commented on #2324
At the moment all I do is fetch the posts and I have 2 demo posts in total. As an experiment I ran the API via Postman, without opening the web-site and it worked just fine, but about half an hour later I couldn't get any response anymore. So, there was no huge load or anything. It's all pretty random, I am not even sure what else can I say about it. Hoped for someone with a similar problem.

Then

[2016-02-29 15:43] BE-Webdesign commented on #2324
@pimmey Probably has to do with Postman then, are you using the Mac App or the Chrome App?

[2016-02-29 15:46] jjeaton commented on #2324
@pimmey are you running your site over HTTPS with a self-signed certificate by chance? I've seen this happen with Postman where you have to accept the cert in Chrome before it can send requests and it only accepts it for your current session.

http://blog.getpostman.com/2014/01/28/using-self-signed-certificates-with-postman/

[2016-02-29 16:13] pimmey commented on #2324
@BE-Webdesign, I'm running a Mac App I guess, not as a browser extension that is. But the API fails in browser (when I test my WP theme) as well, not only Postman.

@jjeaton, no, I'm not using HTTPS or any certificates.

[2016-02-29 16:34] joneslloyd opened #2325 "Create CPT via API"
Hi there,

I'm unsure if this is or isn't implemented, so I wanted to ask for sure:

I've got a CPT successfully registered with WP-API. I can retrieve them (etc.) but I'd like to be able to create a new instance of my CPT via the API.

Is this currently possible?

If not, are you able to point me in the direction of how I can do this myself?

Thanks!

[2016-02-29 16:39] Shelob9 commented on #2325
This is not possible. CPT are not registered in the database, but via code in WordPress, so it wouldn't really make sense, or be practical to do it via the API.

[2016-02-29 16:40] BE-Webdesign commented on #2324
@pimmey So every time you restart your server about a half-hour passes and you are getting errors?  Does your theme itself give you error responses as well and do other sites on your MAMP install do the same thing?

[2016-02-29 16:46] joneslloyd commented on #2325
Thanks fore getting back to me.

I don't fully understand the reasoning of your response, because, surely the same framework which allows for CPTs to be added to the API and queried (archive and individual) would also easily allow for adding (POST) ?

Also, (to follow your logic) would CPTs not be queryable via the API in any form, if the requirement were for them to be registered via the database

[2016-02-29 16:52] bobsilon commented on #2322
Why you filtering the comments by `status=approved`? By default wp-api returns approved comments and unapproved comments doesn't return. As @BE-Webdesign explained, this is the expected behavior for security reasons.

[2016-02-29 16:57] rajesh-h commented on #2322
Hi As I said i am using one of the existing framework shared by someone else. Anyway now i have removed it so it is working as expected. Thanks a lot for your suggestion

[2016-02-29 17:06] pimmey commented on #2324
@BE-Webdesign, yeah, it's more or less like you described it. At first it works great, I get all the responses, but then it's just not returning anything.

Well, the theme does give me errors related to the API calls. As if the API server wasn't active.

Regarding other sites - that's my first try with WP API, other standard WP themes function just fine.

I will try to test with different environm

[2016-02-29 17:14] bobsilon opened #2326 "How to modify a specific route's response?"
Hi there, I want to modify the response when I get just one post with this route:

[code]

I did this:

[code]

Where the `slug_get_views_count` is like this:

[code]

This works fine if I get one post, but in this way if I get bunch of posts with `wp-json/wp/v2/posts`, the count of all the returned posts will increased by one. How can do this modification **just** for the `wp-json/wp/v2/posts/:id

[2016-02-29 17:36] cbothner commented on #984
So, after trying every variation of `post-fomat-standard` that I could think of, I read the docs to find that the "standard" post format really means that post_format is set to false.  Of course

[code]

doesn't work—how can we filter for the absence of a format?

[2016-02-29 19:10] amv opened #2327 "Multisite user creation does not add user to any sites"
I modified the plugin by adding this after the user has been created correctly:

[code]

This seems to work for users who have never registered to any blogs on the MU site, and the community role of "member" is hard-coded.

However if the user has already registered to one of the existing sites, the code never reaches this point.

My current hack for that is the following, which probably is far fr

[2016-02-29 20:20] joneslloyd commented on #2325
In the `prepare_item_for_database` function (in `/plugins/rest-api/lib/endpoints/class-wp-rest-posts-controller.php`, there is a check for the post type:

[code]

Why must the default post type for the controller be used, rather than a user specified value (if exists)?

[2016-02-29 20:23] joneslloyd commented on #2325
Actually, ignore this. Solved.

For anybody else with this issue:

Change the URL to `http://yoursite.com/wp-json/wp/v2/<your-cpt>` and perform the `POST`.

[2016-02-29 20:23] #2325 closed, assigned to nobody

[2016-02-29 23:25] danielbachhuber commented on #2322
We'll keep this open for discussion, as we should have consistent `status` query arg behavior between posts and comments.

[2016-03-01 00:23] BE-Webdesign commented on #2296
@danielbachhuber I think this is taken care of for now. Added a page http://v2.wp-api.org/guide/plugins/, so we can close.

@brandondurham Check out http://v2.wp-api.org/guide/plugins/ and if you have any ideas or contributions let us know.

[2016-03-01 01:30] rmccue commented on #2325
Just to clarify what @Shelob9 misunderstood: "CPT" means Custom Post Type, which are things that need to be registered in code. What you actually meant here is items of your CPT, which are better referred to as "CPT posts" (as confusing as that can be).

Your post type just needs to have `show_in_rest => true` in the registration args, then it'll appear at `wp/v2/<name>`. To change that last part

[2016-03-01 05:41] rajesh-h commented on #2322
I hope this is not problem only at my end. All my posts are custom post type. My custom post type is Recipes. I have tried to replace post=4832 with recipe=4832 in the url, it does not return result.

I thought it is better I let u know guys that the comment is actually from a post which is a custom post type.

[2016-03-01 06:58] joneslloyd commented on #2325
Thanks for clearing that up @rmccue - I've re-read my post, and I see what @Shelob9 meant there.

I'll use "CPT posts" going forwards.

As you've said regarding CPTs, all of those things work perfectly for me now.

Thanks!

[2016-03-01 09:54] arikogan commented on #1461
Hi guys,
I've run into this myself and found it a little bit cumbersome to add that piece of code to the functions.php of my theme. Also, if the theme changes or gets upgraded, you can loose the functionality. This is why I wrote a very small plugin that does this for you. Simply install the plugin and start using date_query filtering. Any feedback and suggestion will be highly appreciated.

[http

[2016-03-01 09:55] arikogan commented on #1461
Hi guys,
I've run into this myself and found it a little bit cumbersome to add that piece of code to the functions.php of my theme. Also, if the theme changes or gets upgraded, you can loose the functionality. This is why I wrote a very small plugin that does this for you. Simply install the plugin and start using date_query filtering. Any feedback and suggestion will be highly appreciated.

[http

[2016-03-01 09:56] arikogan commented on #389
Hi guys,
I've run into this myself and found it a little bit cumbersome to add that piece of code to the functions.php of my theme. Also, if the theme changes or gets upgraded, you can loose the functionality. This is why I wrote a very small plugin that does this for you. Simply install the plugin and start using date_query filtering. Any feedback and suggestion will be highly appreciated.

[http

[2016-03-01 10:30] davidsteinberger commented on #924
What was the specific reason to remove `menu_order` from the posts-endpoint?

[2016-03-01 11:28] krasi opened #2328 "Menus endpoint"
Hello,

Are there any plans on adding menu endpoints? I saw there was a plugin for that, but I don't like the idea to use third party plugins in such purpose. I can also help by contributing such functionality if nobody is working on it, but it's planned.

Thanks!

Best Regards,
Krasi

[2016-03-01 13:23] rmccue commented on #2328
Hi! We're working on those [in a feature plugin](https://github.com/WP-API/wp-api-menus-widgets-endpoints).

[2016-03-01 13:23] #2328 closed, assigned to nobody

[2016-03-01 13:23] #2296 closed, assigned to nobody

[2016-03-01 15:46] duncanjbrown opened #2330 "Should term `_link` hrefs contain `post=` parameters?"
Thanks for your great API.

I'm using `2.0-beta12`.

My use case is loading term information for a post.

My process is:
1. Look for the `_embedded` field and use that, if available.
2. Look under the `_links` field and issue calls for the terms I find there, and use those.

The [docs](http://v2.wp-api.org/extending/linking/) have this example:

[code]

This doesn't reflect reality: in beta 12 the

[2016-03-01 15:48] duncanjbrown commented on #2330
ah — just checked, and i'm being stupid. this is the taxonomy path, not the term path. please ignore!

[2016-03-01 15:48] #2330 closed, assigned to nobody

[2016-03-01 15:53] BE-Webdesign commented on #2322
@just10minutes That is an different topic for this issue.  Make sure that your Recipe CPT has show_in_rest => true and it will have a controller class auto-generated for it.  Also double check that "recipe" is the name you are matching up to if show_in_rest is already set to true.  If you want to discuss this further could you open up a new issue.

[2016-03-01 20:38] mjacobsen4DFM opened #2331 "Is the link to WP-API 1.2.5 intentional? (among other links)"
The readme points to https://wordpress.org/plugins/json-rest-api/ within:
"The latest stable version is available from the [WordPress Plugin Directory](https://wordpress.org/plugins/json-rest-api/)." Which is the old version 1.2.5; which is really nothing like this version.

Likewise, the plugin page within WP admin points to http://wp-api.org/ for the "WP REST API Team" and "view details" points

[2016-03-02 02:49] bfintal opened #2332 "Default API call rate limit"
I found this quick closed discussion about this: #963

Isn't it a good idea to add some sort of default rate limit for all API calls already baked in? e.g. 200/hour/IP then maybe a filter to change it.

[2016-03-02 03:55] rmccue commented on #2332
API rate limiting is pretty trivial to implement in a plugin, but there's many ways you might want to limit it. For small sites, it's unlikely to be an issue, and for large sites, they'll likely want a specialised system to store API access and such.

There's not really a need for rate limiting for the majority of sites, so building it in doesn't make sense.

[2016-03-02 03:55] #2332 closed, assigned to nobody

[2016-03-02 03:56] bfintal commented on #2332
Alright. Thanks

[2016-03-02 06:08] rmccue commented on #2331
Good catch, we should fix that :)

[2016-03-02 14:03] danielbachhuber commented on #2326
You can inspect `$request` for the route, and only perform the write operation when you see the route you expect.

[2016-03-02 14:03] #2326 closed, assigned to nobody

[2016-03-02 14:04] danielbachhuber commented on #2324
Feel free to continue the discussion here. Closing the issue because no action is needed within the REST API.

[2016-03-02 14:04] #2324 closed, assigned to nobody

[2016-03-02 14:11] danielbachhuber commented on #924
_Posts_ don't support `menu_order`, _Pages_ do.

[2016-03-02 14:14] danielbachhuber commented on #2144
Punting on top-level support for specifying column for now. This is an easy enhancement to add later.

[2016-03-02 14:14] #2144 closed, assigned to nobody

[2016-03-02 14:36] danielbachhuber commented on #456
You can use `GET /wp/v2/posts slug==<slug>`, which will return a collection of zero or more items, and pull the first item from the set if it exists.

First-class support for parsing permalinks is something on our radar (see #576 and #1776), but we don't have a timeline for addressing it.

[2016-03-02 15:17] bobsilon commented on #2326
Thanks for getting back to me. But when I return `$request` in `get_callback` function, it returns an empty object. Am I doing wrong?

[2016-03-02 15:42] davidsteinberger commented on #924
Well yes, but there are tons of plugins that do provide a _menu_order_. In the previous beta _menu_order_ was still allowed, but now it's blocked. Do you know what's the proper way for me to re-enable that again (just for myself)?

[2016-03-02 16:43] BE-Webdesign commented on #2331
I can take care of this at some point today, will have a PR tonight.

[2016-03-02 17:05] mjacobsen4DFM commented on #2331
It's always the little things. Brilliant code is fun... documentation, not so much.

[2016-03-02 18:11] BE-Webdesign commented on #2331
@mjacobsen4DFM , @rmccue So #2334 patches up a portion of this issue however there is a plugin in the WordPress.org Plugin Repo with the name WP-API so the View Details link is being auto generated to match that plugin even though the two are not the same plugin.

[2016-03-02 18:42] bobsilon commented on #2326
Thanks

[2016-03-02 19:07] bobsilon commented on #2326
Oh yes, Thanks a lot.

[2016-03-02 19:24] danielbachhuber commented on #2326
@bobsilon get it sorted out then?

[2016-03-02 20:15] bobsilon commented on #2326
Yes Sir Daniel, I've done it by checking if the route is `posts` and the param `filter[name]`(which I get a single post by it's `slug`) has been set, like this:

[code]

[2016-03-02 23:23] jtosey commented on #1609
This breaks our app too.  Can you explain in more detail how to change this?  I've manually changed our first install, but will fork if we have to.  We need to get all items, not a page.  Perhaps an option to get all, with a requirement that the invoker is authenticated?

[2016-03-03 00:00] danielbachhuber commented on #1609
@jtosey You should paginate through the collection in your app. Querying for all items at once has performance issues and could crash the website.

[2016-03-03 01:17] Buooy opened #2338 "Disable default WordPress REST Endpoints"
Is there a way to disable the default wordpress REST Endpoints? We would not like to expose those but limit it to a few custom post types that we had created on our own.

[2016-03-03 01:24] rmccue commented on #2338
To remove the default post types from the API:

[code]

If you want to remove _all_ endpoints from the API:

[code]

[2016-03-03 01:24] #2338 closed, assigned to nobody

[2016-03-03 03:22] MurhafSousli opened #2339 "Attributes names issue in embedded post"
Hi, I'm using the following code to get the featured image, categories and tags arrays of an embedded post. and this is the only way it worked with me.

[code]

Did anyone find an easier (more readable) way to access the data with such attributes names?

Thanks

[2016-03-03 04:01] rmccue commented on #2339
This is correct, the key is a relation, which are either registered strings or full URIs to disambiguate them.

However, we're simplifying this in #1488, so someday it'll be `wp:featuredmedia` instead :)

[2016-03-03 04:01] #2339 closed, assigned to nobody

[2016-03-03 09:18] idoidone opened #2340 "Hook rest_insert_comment object does not have comment_ID"
Seem the hook `rest_insert_comment` does not work as expected. It is fired after a comment is created or updated, so I expect it has a comment_ID but actually it not.

[code]

[The implementation](https://github.com/WP-API/WP-API/blob/7063707a6818652a3e76acbf23e5a3307ce774e2/lib/endpoints/class-wp-rest-comments-controller.php) passes $prepared_comment in but not $comment and missing the ID.
Please

[2016-03-03 14:09] Fuglefjellet commented on #2237
I made this mistake as well, and it cost me a bit of time. Perhaps it would be useful if the REST API throws an error if a POST or PUT request is sent, without the correct Content-Type header? I might be wrong, but i believe the only content-type that works with this api (for non-GET requests) is "application/json"?

It was a bit puzzling that the parameters I were sending with my request were (qu

[2016-03-03 21:20] jtosey commented on #1609
Okay, we'll try to find a way to work within the current constraints.

[2016-03-03 23:06] joneslloyd commented on #924
Hey - just asking to confirm:

Right now will filtering a CPT to those with a specific parent ID not work?

For example: `http://example.com/wp-json/wp/v2/my-cpts?filter[parent]=304` ?

If not, do you know if this is something in progress? I can help achieve this if you need an extra hand

[2016-03-03 23:12] natyca commented on #1461
Hi @arikogan, will this make it able to combine before & after filters? I can't seem to get it to work.

[2016-03-04 00:16] MurhafSousli commented on #2339
Great :+1:

[2016-03-04 00:26] danielbachhuber commented on #924
You should be able to use `/wp/v2/posts?filter[menu_order]`

It should work — the filter key is `post_parent` though: `/wp/v2/my-cpts?filter[post_parent]=304`

[2016-03-04 07:50] joneslloyd commented on #924
@danielbachhuber Thanks fore getting back to me!

Unfortunately that doesn't seem to be working for CPTs. I've not modified the returned data (etc.) which is weird.

When I try what you've written, I just get `[]` returned

[2016-03-04 10:03] arikogan commented on #1461
@natyca, you need to install and enable the plugin and then you should be able to hit the API with requests like the below,

[code]

[2016-03-04 10:58] osrecki opened #2342 "Tags paging not working when fetching tags for specific post"
**Version: 2.0-beta12**

Although `tags?per_page=PER_PAGE&page=PAGE` works as expected, when fetching tags for a specific post (`tags?post=POST_ID&per_page=PER_PAGE&page=PAGE`), paging is not working at all.

Instead, it returns all the tags for the given post, regardless of provided `PER_PAGE` and `PAGE` arguments.

[2016-03-04 19:45] miladna7 opened #2343 "json_no_route"
i am using WP rest API v1 and everything is ok.
But now i want taste some WP rest API v2. the problem is, when i any route/path, and i mean any route, the result is:
`[{"code":"json_no_route","message":"\u0647\u06cc\u0686 \u0645\u0633\u06cc\u0631 \u062a\u0637\u0628\u06cc\u0642 URL \u0648 \u0631\u0648\u0634 \u062f\u0631\u062e\u0648\u0627\u0633\u062a \u067e\u06cc\u062f\u0627 \u0634\u062f"}]`

So i t

[2016-03-04 21:30] natyca commented on #1461
@arikogan thats exactly what im doing and it gets worse when i add more filters. oh well, something else must be happening. thanks!

[2016-03-04 21:57] danielbachhuber commented on #2343
By default, WP-API v1 takes priority over v2. If v1 is installed and activated, then v2 routes are inaccessible.

To mitigate this, you'll need to register either v1 or v2 to a different base than `wp-json`. Both have filters to make this more or less easily possible:

[code]

[2016-03-04 21:57] #2343 closed, assigned to nobody

[2016-03-04 22:00] danielbachhuber commented on #2237
You are incorrect. We also accept form data in POST requests.

[2016-03-04 22:04] Fuglefjellet commented on #2237
Oh, i see. That's good to know actually.
On Mar 4, 2016 23:00, "Daniel Bachhuber" notifications@github.com wrote:

[2016-03-05 13:39] ghost opened #2344 "action/filter reference?"
Hi, I was just looking through the docs for a reference list of all the actions and filters provided by the API. Is there somewhere I can find them? (Apologies if I missed it somewhere.) Thanks!

[2016-03-05 22:51] brandondurham opened #2345 "Unclear on method for checking whether user is logged in or not."
I’ve built a new site where the Wordpress install lives on one domain (`domain-a.com`) and the front-end on another (`domain-b.com`). The front-end is built entirely in JS (Node.js/React/Redux) and uses the WP-API to retrieve data. I need to build in a way for the admin users and editors to preview draft posts (and updates to published posts). In order to do this I need to know if they’re currentl

[2016-03-06 02:32] adams141 opened #2346 "Response contains title and json?"
Doing a simple get to retrieve one post, I get the post title, followed by the JSON object:

`2013 Brochure{"id":802,"date":"2013-01-01T19:51:56","date_gmt":"2013-01-01T19:51:56",...}`

Is this normal?

[2016-03-06 03:56] rmccue commented on #2345
This intentionally isn't possible. Being able to check authentication across domains could cause issues like CSRF or phishing attacks.

Can you elaborate on your specific use case? We can probably solve that without needing the authentication that way. :)

[2016-03-06 03:56] #2345 closed, assigned to nobody

[2016-03-06 03:57] rmccue commented on #2346
This isn't something the API is doing, so it's likely in a plugin or theme. I'd guess it's a function hooked into `the_title` filter erroneously echoing instead of returning a string.

[2016-03-06 03:57] #2346 closed, assigned to nobody

[2016-03-06 04:06] brandondurham commented on #2345
Sure thing. I built the front-end as a single-page app on a server with one URL, and the CMS on another server with a different URL (different top-level domains altogether). I want editors and admins logged into the CMS domain to be able to preview news posts and changes to published posts on the public domain.

[2016-03-06 05:00] rmccue commented on #2331
Fixed in #2334.

[2016-03-06 05:00] #2331 closed, assigned to nobody

[2016-03-06 23:24] optimalgit commented on #19
@danielbachhuber how i can setup your api to my server please advice

[2016-03-07 01:35] kosso commented on #2301
This doesn't appear to be working for me on Wordpress nightlies `4.5-beta2-36859`, `WP-API 2.0-beta12` and `OAuth1 0.2.1`

I am using `blog-name/wp-json/wp/v2/posts/10102`   ('posts')

It can update a post title or add an excerpt, for example, but it seems to ignore the category id array that I'm sending. (I've tried one or two category ids in the array).

update: I'm trying to do this via an OAut

[2016-03-07 12:15] wujekbogdan opened #2347 "Recommended way to create custom endpoint with pagination"
Hi,

I'm new to WP-API, I read the documentation and I found in the **[Adding Custom Endpoints](http://v2.wp-api.org/extending/adding/)** section that the recommended way to add new endpoints is to extend the `WP_REST_Controller` class. But the example given in the documentation doesn't explain how to create endpoints supporting paginated results.

Basically, I'd like to add a new endpoint that wo

[2016-03-07 16:53] mingyena commented on #2301
Yes, same here, category = [id] still doesn't work for me.

[2016-03-07 17:25] HamutalCohen3 opened #2348 "How to supply arrays for a filter"
Hi,

I'd trying to use the [tags__and](https://codex.wordpress.org/Class_Reference/WP_Query#Tag_Parameters) filtering. It expects an array with the IDs of the tags I want to retrieve, something like the below,

`$query = new WP_Query( array( 'tag__and' => array( 37, 47 ) ) );`

How do I supply an array using the API? I'm trying to do something like,

`/wp-json/wp/v2/posts?filter[tag__and]=3677,367

[2016-03-07 17:29] danielbachhuber commented on #2348
Can you try:

[code]

[2016-03-07 17:29] kosso commented on #2301
I think this is due to the plugin incorrectly parsing the array parameter when generating the base string for signature generation.

According to the spec here : http://oauth.net/core/1.0a/#signing_process  (9.1.1)

_Parameters are sorted by name, using lexicographical byte value ordering. If two or more parameters share the same name, they are sorted by their value. For example:_

[code]

However

[2016-03-07 17:30] danielbachhuber commented on #2344
Searching the codebase is your best bet at the moment, unfortunately.

I've [filed an issue](https://github.com/WP-API/docs-v2/issues/124) to eventually get this on the website.

[2016-03-07 17:30] #2344 closed, assigned to nobody

[2016-03-07 17:36] danielbachhuber commented on #2340
Thanks for opening this issue.

I think we should pass `$comment` from the database too. We supply the database value for Posts, Users, and Terms.

[2016-03-07 17:45] danielbachhuber commented on #2327
Can you share the request you're making, the response you receive, and the response you'd expect to receive?

Based on your report, it appears you want to assign a user to a site if they already exist. This isn't a use case WP-API currently supports (related #1922). Until it does, a better approach would be to create your own endpoint for user assignment.

We strongly discourage modifying plugin f

[2016-03-07 17:45] #2285 closed, assigned to nobody

[2016-03-07 17:46] danielbachhuber commented on #2347
@wujekbogdan The code you've supplied seems like it should work fine. Subclassing the Posts controller for your own needs is acceptable.

[2016-03-07 17:46] #2347 closed, assigned to nobody

[2016-03-07 19:55] amv commented on #2327
I am calling the following URL

POST https://my-multisite-subdomain.maindomain.com/wp-json/wp/v2/users

This creates an user to the main domain. There is no way for me to add that user to the network of my-multisite-subdomain using the API.

What I would expect is that as I am calling the API using my multisite subdomain, the user would be automatically added to the network of the site specified b

[2016-03-08 04:00] elyobo opened #2350 "jmespath support to limit responses"
Feature request -

The documentation sensibly suggests that users [avoid modifying standard responses](http://v2.wp-api.org/extending/modifying/#important-note-about-changing-responses) to avoid problems when using other clients that expect those fields to be present.  The AWS CLI supports this with the [--query argument](https://docs.aws.amazon.com/cli/latest/userguide/controlling-output.html#con

[2016-03-08 08:59] rmccue commented on #2350
See #572. We're unlikely to add this to the main plugin right now, as this is plugin territory for now.

You can use either the `rest_post_dispatch` or `rest_pre_serve_request` filters for this, depending on what you want to do.

[2016-03-08 08:59] #2350 closed, assigned to nobody

[2016-03-08 09:43] #2340 closed, assigned to nobody

[2016-03-08 13:05] maxvanloosbroek opened #2351 "Postman HEAD returns "Unexpected '' ""
I just started working with the API and am running into some issues.

When accessing the header in Postman of http://localhost/website/wp-json/ the body only shows:

Unexpected ' '

This is what shows on the Header tab.

Access-Control-Allow-Headers →Authorization
Access-Control-Expose-Headers →X-WP-Total, X-WP-TotalPages
Allow →GET
Connection →Keep-Alive
Content-Type →application/json; charset=UT

[2016-03-08 14:30] HamutalCohen3 commented on #2348
It works! Thank you very much

[2016-03-08 17:25] gino8080 commented on #2338
Is there a way to disable only certain Endpoints?
for example the Users endpoint?

[2016-03-08 17:47] danielbachhuber commented on #2338
Yes, they're filterable with the `rest_endpoints` filter.

See:

[code]

[2016-03-08 17:49] danielbachhuber commented on #2351
WordPress is returning unexpected output. You'll need to debug whether it's a plugin you're running, or your theme. I'd recommend disabling them one by one until you've found the culprit.

[2016-03-08 17:49] #2351 closed, assigned to nobody

[2016-03-08 19:00] stonetip opened #2352 "Simplifying JSON structure in _embedded section"
Currently, the API returns two arrays of items under the https://api.w.org/term section, one for **category** and another for **post_tag**. However, in both cases, a taxonomy attribute is supplied. It seems un-"nest"-essary to have multiple arrays when it would require less code on the receiving end to simply filter on the taxonomy attribute.

[2016-03-08 20:27] elyobo commented on #2350
Thanks for the pointers.

[2016-03-08 21:20] kosso commented on #2301
Hi. I got it working.

You need to POST the data as `Content-Type: application/json`

I've also updated my [test PHP script](https://gist.github.com/kosso/71c957e30a40116e5f98).

[2016-03-08 21:36] elyobo commented on #2350
Proof of concept at https://github.com/elyobo/wp-rest-jmespath

[2016-03-08 21:54] elyobo commented on #2350
If you have any feedback let me know, otherwise please add it to the list of compatible plugins.

[2016-03-08 21:56] elyobo commented on #572
I've added a simple plugin which allows very flexible field selection (among other things) at https://github.com/elyobo/wp-rest-jmespath; it's very simple, just listening in before the response is sent and using [JMESPath](http://jmespath.org) to do all the heavy lifting.  JMESPath allows doing lot more than just field selection and seems like a pretty good fit for this problem to me.

[2016-03-09 01:38] rmccue commented on #2350
Awesome! If you pop us a pull request on the [docs repo](https://github.com/WP-API/docs-v2) with the description you'd like, happy to add that for you :)

[2016-03-09 03:07] elyobo commented on #2350
Thanks @rmccue PR added at https://github.com/WP-API/docs-v2/pull/126 now that the plugin is published on wp.org.

[2016-03-09 04:29] kadamwhite commented on #2352
Not sure what the "best" solution is here, but I do agree that what we have is clunky. There's no way to determine which array is which without inspecting its contents, so we have to do some filtering already; I can see the argument that it's simpler to just always filter down a single array vs inspecting each nested array in turn.

[2016-03-09 10:07] gino8080 commented on #1912
so please how to add a required email field with correct sanitize ?
is this correct?

[code]

[2016-03-09 13:53] bhagwan123 opened #2353 "I want search all/any functionality"
I want search all in one api

[2016-03-09 15:34] danielbachhuber commented on #2353
You'll need to [write your own custom endpoint](http://v2.wp-api.org/extending/adding/) for this.

[2016-03-09 15:34] #2353 closed, assigned to nobody

[2016-03-09 19:16] rkoszalka opened #2354 "Meta Query Array"
Hello everyone,
I'm developing a real estate theme using WP-API + Angular JS, but i'm stuck with this:

I need to filter posts (estates) that have capacity  for example for 10 peoples, but i need to list all estates with 10 people capacity or less.

I would be needing to pass something like this:

[code]

I've already enabled meta_query and meta_key filters at my functions.php.

Can anyone please

[2016-03-10 14:00] danielbachhuber opened #2355 "Avoid returning WP_Error in WP_REST_Posts_Controller::prepare_item_for_database()"
For developers subclassing `prepare_item_for_database()`, it's inconsistent that request validation is happening in `prepare_item_for_database()` and that I have to check `parent::prepare_item_for_database()` for `WP_Error`

It would be better if request validation happened earlier, such that I could always expect to get the database object from `prepare_item_for_database()`

[2016-03-11 18:35] miya0001 opened #2357 "`/posts/?filter[posts_per_page]=-1` returns all posts"
`per_page` must be between 1 and 100, but following request returns all posts.

[code]

Is it all right?

https://github.com/WP-API/WP-API/issues/1609#issuecomment-146568663

[2016-03-11 19:02] danielbachhuber commented on #2357
No, we should enforce a minimum.

[2016-03-11 19:22] ghost opened #2358 "403 Forbidden when PUT to wp-json/users/$id through OAuth/Guzzle"
We're using Laravel to control blog/user creation and I'm trying to create a blog and set that users nickname to their Auth first name and last name.  Creating the blog works, creating the user works. BUT when I try to modify that user to change their nickname and display_name I get a 403 forbidden error.  Has anyone else had this experience?  I know i can do a get because Laravel is receiving the

[2016-03-11 19:33] miya0001 commented on #2357
OK! I want to send PR, please wait couple of days. :)

[2016-03-12 04:01] BE-Webdesign commented on #780
I believe this was solved at some point.  Sending an empty context param now still returns the proper response body, due to the changes in default parameter handling.

[2016-03-12 04:35] #780 closed

[2016-03-12 15:47] BE-Webdesign commented on #956
@rmccue , @danielbachhuber Is this still relevant?  WP_Test_JSON_Pages_Controller is now REST and test_create_item_with_template looks good to me, but I probably don't understand the issue.

[2016-03-12 16:49] BE-Webdesign commented on #1303
@rmccue , @danielbachhuber , @rachelbaker , @joehoyle I believe this was solved and #1492 solves this specific issue.  Media uploads seem great to me through the API, so I don't think this is relevant anymore. The API supports both raw data and multipart-form data.  Let me know if I am wrong!

[2016-03-12 18:04] BE-Webdesign commented on #840
@danielbachhuber , @rachelbaker , @rmccue , @joehoyle I believe this was already taken care of as well at some point in the function _add_extra_api_post_type_arguments() in plugin.php.  One note though: the `@global` in the phpdoc needs to be fixed.  Probably from copying from the taxonomy version.  Should read `@global array $wp_post_types Registered post types.` instead `@global array $wp_taxono

[2016-03-12 18:23] BE-Webdesign commented on #1520
https://core.trac.wordpress.org/ticket/34659 With the diff looks good to me.

[2016-03-13 00:46] BE-Webdesign commented on #840
The document thing is fixed now in #2360.

[2016-03-13 01:35] ghost commented on #2358
Is this too unique a case for anyone to relate to?

[2016-03-13 01:43] BE-Webdesign commented on #2358
Does the user you are authenticating as have permissions to modify the user you created and want to change?  Which 403 error message are you getting as well?

[2016-03-13 12:50] danielbachhuber commented on #840
This is more of a "when the plugin is merged into core" placeholder. It's unnecessary to keep open at this point.

[2016-03-13 12:50] #840 closed

[2016-03-13 13:46] danielbachhuber commented on #1303
:hammer: :hammer: :hammer:

[2016-03-13 13:46] #1303 closed

[2016-03-13 14:24] danielbachhuber commented on #538
We're not going to be including this in the core plugin at this time https://github.com/WP-API/WP-API/pull/2356#issuecomment-195234273

[2016-03-13 14:24] #538 closed

[2016-03-13 15:51] #2348 closed, assigned to nobody

[2016-03-14 12:03] #2354 closed, assigned to nobody

[2016-03-14 12:04] danielbachhuber commented on #2352
Terms can have and do have different structures. For instance, category has `parent` where `post_tag` does not.

[2016-03-14 12:04] #2352 closed, assigned to nobody

[2016-03-14 12:06] danielbachhuber commented on #2149
Let's continue this conversation in https://core.trac.wordpress.org/ticket/35658

[2016-03-14 12:06] #2149 closed, assigned to nobody

[2016-03-14 12:20] danielbachhuber commented on #956
@BE-Webdesign Yes. The problem is this setup method:

[code]

But, the `theme_page_templates` filter does what we need it to now. PR incoming.

[2016-03-14 13:06] joneslloyd commented on #924
Just to let you know, this is definitely an issue.

When trying to filter by ID (`/wp/v2/my-cpts?filter[id]=333`) it returns the full set (all posts of the CPT, unfiltered).

When trying to filter by post parent (as above in previous reply) it returns a blank array.

[2016-03-14 13:30] ghost commented on #2358
They DO, and for some reason, guzzle is only returning that it's a 403 and not the actual WP Error message...  I thought it would be in my Error logs on the WP site but I don't see it there.

[2016-03-14 15:26] BE-Webdesign commented on #2358
I will look into it and see if I can replicate this.  Just to verify, this is done on a user you just created via the API and then you follow up with a subsequent update on nickname and display_name?

[2016-03-14 15:38] ghost commented on #2358
That is correct.  The user is created on a Multisite instance with a new blog and then subsequent update to their nickname and display name.

[2016-03-14 15:41] BE-Webdesign commented on #2358
Okay, thank you.

[2016-03-14 15:50] BE-Webdesign commented on #924
@joneslloyd id isn't a WP_Query param nor do I believe there is an id param being added to filter as a mask for the WP_Query params.  So I am pretty sure filter[id] doesn't work causing everything to be returned. To do what you are trying to do I highly recommend this.  /wp/v2/my-cpts/333 or if you want filter it could be /wp/v2/my-cpts?filter[p]=333.

I can check about the use of post_parent and

[2016-03-14 15:58] danielbachhuber commented on #2358
Admin users can't edit user fields in multisite. You'd need to be a super admin.

[2016-03-14 16:02] BE-Webdesign commented on #2358
He said the account had permissions so I'm assuming super admin.

[2016-03-14 16:03] ghost commented on #2358
Yes, the account oAuth/Guzzle uses is Superadmin

[2016-03-14 16:16] BE-Webdesign commented on #2354
@raphaelkoszalka looks good!  Thanks for using the WP REST API. :smiley:

[2016-03-14 18:08] ghost commented on #2358
Client error response [url] https://_blogurl_/wp-json/users/6 [status code] 403 [reason phrase] Forbidden
/laravel/vendor/guzzlehttp/guzzle/src/Exception/RequestException.php#89

This is the error I'm getting back from Guzzle and the WP logs are empty.

[2016-03-14 23:34] #956 closed

[2016-03-15 05:43] bhagwan123 opened #2365 "How to fetch category wise project"
I use this request for fetching the project  http://localhost/development/turner/wp-json/wp/v2/project
 this working fine.But fetching category wise project its not working http://192.168.2.8/development/turner/wp-json/wp/v2/project?filter[cat]=3

[2016-03-15 06:07] gwashbrook opened #2366 "How to add custom response headers to custom post type archive?"
Following code works for me on a single custom post type (cpt) response, yet does not appear to be applied to the custom post type archive response. I think I have checked the possible filters, yet am more than happy to be corrected

[code]

[2016-03-15 18:10] BE-Webdesign commented on #386
I'll have a PR for this in a bit.

[2016-03-15 18:56] BE-Webdesign commented on #386
Should querying by roles only be doable by an authenticated request?  Are there use cases you want to get a pool of users for a non admin user? I imagine there is a lot of management delegation going on on certain sites so is blanket use of filtering by role acceptable?

[2016-03-15 20:34] newz2000 opened #2367 "The future of WP-API in light of core integration"
I'm planning a project that will hopefully have a long life. This project will just be getting underway when WP 4.5 is supposed to land but done before 4.6.

I understand that features of WP-API 2 are moving into core, but something that isn't clear to me is how I should target my code. Right now, in 4.4, it looks like I'll need to use WP-API in order to get the end points I want. If I build my pr

[2016-03-15 22:00] danielbachhuber commented on #386
Correct. If the `roles` param is present on the request but the request is unauthorized, we should return an error.

I'm not sure I follow. Unauthorized users shouldn't be able to list users based on role, because they aren't permitted to see the role of the user.

[2016-03-15 22:11] danielbachhuber opened #2368 "Add rest_pre_insert filter for terms"
We have equivalent filters for Posts, Commands and Users, but we're missing it for terms.

[2016-03-15 22:23] danielbachhuber opened #2370 "Explicitly distinguish between create and update in Posts::prepare_item_for_database()"
Currently, I have to infer based on whether `id` is in the `$prepared_post`, or do some deep inspection of the `$request`. It would be better if we explicitly distinguished between create and update by passing a third `$update` boolean argument to the filter.

[2016-03-15 22:30] BE-Webdesign commented on #386
Apologies for terrible grammar.  Disregard that comment as it is pretty meaningless. I was referring to how sometimes people add user management capabilities to non admin users on an install.  The PR will be checking for proper capabilities and throw if unauthorized.

[2016-03-15 23:19] kjbenk commented on #2368
Are you referring to this filter within the User endpoint?

https://github.com/kjbenk/WP-API/blob/develop/lib/endpoints/class-wp-rest-users-controller.php#L546-L605

If so, then we will need to implement the `prepare_item_for_database` function as well and call it within the `create_item` and `update_item` functions...correct?

I just want to make sure before I create a PR.